{% extends "layout.html" %}

{% block page_title %}
Where your application is up to
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include 'includes/phase_banner_alpha.html' %}
  <h1 class="heading-medium">
    Where your application is up to
  </h1>

  <p>The steps below tell you where your application for a basic DBS check is currently up to.</p>

  <table class="check-your-answers">
    <tbody>
    <tr>
      <td>Step 1</td>
      <td>Your application has been received</td>
      <td>Completed</td>
      <td>29/08/2018</td>
    </tr>
    <tr>
      <td>Step 2</td>
      <td>Your application has been processed</td>
      <td>Completed</td>
      <td>30/08/2018</td>
    </tr>
    <tr>
      <td>Step 3</td>
      <td>Certificate creation</td>
      <td>In progress</td>
      <td></td>
    </tr>
    <tr>
      <td>Step 4</td>
      <td>Certificate dispatch</td>
      <td>Pending</td>
      <td></td>
    </tr>
    </tbody>
  </table>

  <div class="form-group">
    <a href="login" class="button">Log out</a>
  </div>

</main>

{% endblock %}
