{% extends "layout.html" %}

{% block page_title %}
View application status
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include 'includes/phase_banner_alpha.html' %}
  <h1 class="heading-medium">
    View application status
  </h1>

  <table class="check-your-answers">
    <tbody>
    <tr>
      <td>Step 1</td>
      <td>Application received</td>
      <td>Completed</td>
      <td>29/08/2018</td>
    </tr>
    <tr>
      <td>Step 2</td>
      <td>Police national computer search</td>
      <td>Completed</td>
      <td>30/08/2018</td>
    </tr>
    <tr>
      <td>Step 3</td>
      <td>Assemble certificate</td>
      <td>In progress</td>
      <td></td>
    </tr>
    <tr>
      <td>Step 4</td>
      <td>Certificate issued / despatched</td>
      <td>Pending</td>
      <td></td>
    </tr>
    </tbody>
  </table>

  <div class="form-group">
    <a href="login" class="button">Log out</a>
  </div>

</main>

{% endblock %}
