{% extends "layout.html" %}

{% block page_title %}
Where your application is up to
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include 'includes/phase_banner_alpha.html' %}
  <h1 class="heading-medium">
      Where your application is up to
  </h1>

  <p>The steps below tell you where your application for a basic DBS check is currently up to.</p>

  <ul class="progress-tracker progress-tracker--vertical">
      <li class="progress-step is-complete">
          <span class="progress-marker"></span>
          <div class="progress-text">
            <h4 class="progress-title">Step 1</h4>
            <p>Your application has been received</p>
            <p>Completed 29/08/2018</p>
          </div>
      </li>

      <li class="progress-step is-active">
          <span class="progress-marker"></span>
          <div class="progress-text">
            <h4 class="progress-title">Step 2</h4>
            <p>Your application has been processed</p>
            <p>Completed 30/08/2018</p>
          </div>
      </li>

      <li class="progress-step is-incomplete">
          <span class="progress-marker"></span>
          <div class="progress-text">
            <h4 class="progress-title">Step 3</h4>
            <p>Certificate creation</p>
            <p>In progress</p>
          </div>
      </li>

      <li class="progress-step is-incomplete">
          <span class="progress-marker"></span>
          <div class="progress-text">
            <h4 class="progress-title">Step 4</h4>
            <p>Certificate dispatch</p>
            <p>Pending</p>
          </div>
      </li>
  </ul>

  <div class="form-group">
    <a href="login" class="button">Log out</a>
  </div>

</main>

{% endblock %}
