{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}

{% block content %}

<main id="content">
  
<div class="grid-row">
  <div class="column-two-thirds reduceMargin">
    <h1 class="heading-xlarge">Continue without using Verify</h1>

    <p>To continue without using Verify, you will need to visit a Post Office after completing your application. Taking along with you several documents.</p>

    <h2 class="heading-medium">Where is my nearest Post Office?</h2>
    <p>Post office info and look up</p>

    <h2 class="heading-medium">What will I need?</h2>
    <ul>
        <li>Printer</li>
    </ul>
    <p>INFO INFO INFO</p>
    

    <p>At the end of your application you will be given a sheet to print off and take to your local Post office, along with the above documents you have selected.</p>
    
    <a class="button button-start" href="exceptionRouteDocs1.html" role="button">Start exception process</a>
  </div>
</div>

</main>

{% endblock %}