{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}

{% block content %}

<main id="content">

<a href="javascript: window.history.go(-1)" class="link-back">Back</a>
<div class="grid-row">
  <div class="column-two-thirds reduceMargin">
    {% include 'includes/error_summary.html' %}{# include if this page has validation requirements #}
    <h1 class="heading-medium">Select your identity documents</h1>

    <p>Select all of the following documents you would be able to take to the Post Office within the next 14 days.</p>

    <p>The documents must be:</p>

    <ul class="list-bullet">
      <li>in your current name (except your birth certificate, which is also acceptable in a different name)</li>
      <li>in your current address (where an address is included)</li>
      <li>original documents (you cannot use photocopies)</li>
    </ul>

    <p> </p>
    <form action="exceptionRouteCheckDocs" method="post" class="form">
    <div id="documents-group" class="form-group">
        <label class="block-label selection-button-checkbox" for="document1">
            <input id="document1" type="checkbox" name="documents-group" value="dob">
            Passport (any current and valid passport)
        </label>
        <label class="block-label selection-button-checkbox" for="document2">
            <input id="document2" type="checkbox" name="documents-group" value="both">
            Current driving licence - full or provisional
        </label>
        <label class="block-label selection-button-checkbox" for="document3">
            <input id="document3" type="checkbox" name="documents-group" value="dob">
            Birth certificate (UK, Isle of Man and Channel Islands - including those issued by UK authorities overseas, for example embassies, High Commissions and HM Forces)
        </label>
        <label class="block-label selection-button-checkbox" for="document4">
            <input id="document4" type="checkbox" name="documents-group" value="none">
            Marriage or civil partnership certificate
        </label>
        <label class="block-label selection-button-checkbox" for="document5">
            <input id="document5" type="checkbox" name="documents-group" value="addr">
            Bank or building society statement
        </label>
        <label class="block-label selection-button-checkbox" for="document6">
            <input id="document6" type="checkbox" name="documents-group" value="addr">
            Credit card statement
        </label>
        <label class="block-label selection-button-checkbox" for="document7">
            <input id="document7" type="checkbox" name="documents-group" value="addr">
            Utility bill, for example water or electricity bills - you cannot use mobile phone bills
        </label>
        <label class="block-label selection-button-checkbox" for="document8">
            <input id="document8" type="checkbox" name="documents-group" value="addr">
            Council tax statement
        </label>
        <label class="block-label selection-button-checkbox" for="document9">
            <input id="document9" type="checkbox" name="documents-group" value="addr">
            Financial statement, for example student loans company or pension
        </label>
        <label class="block-label selection-button-checkbox" for="document10">
            <input id="document10" type="checkbox" name="documents-group" value="addr">
            P45 or P60
        </label>

        <p id="showMore">
            <a href="#">Show more</a>
        </p>

        <div class="js-hidden" id="moreDocs">
            <label class="block-label selection-button-checkbox" for="document11">
                <input id="document11" type="checkbox" name="documents-group" value="addr">
                Mortgage statement
            </label>
            <label class="block-label selection-button-checkbox" for="document12">
                <input id="document12" type="checkbox" name="documents-group" value="dob">
                Adoption certificate (UK and channel islands)
            </label>
            <label class="block-label selection-button-checkbox" for="document13">
                <input id="document13" type="checkbox" name="documents-group" value="dob">
                UK biometric residence permit
            </label>
            <label class="block-label selection-button-checkbox" for="document14">
                <input id="document14" type="checkbox" name="documents-group" value="addr">
                Central or local government entitlement document, for example HMRC or Jobcentre (UK - issued in last 3 months)
            </label>
            <label class="block-label selection-button-checkbox" for="document15">
                <input id="document15" type="checkbox" name="documents-group" value="dob">
                EU national ID card
            </label>
            <label class="block-label selection-button-checkbox" for="document16">
                <input id="document16" type="checkbox" name="documents-group" value="addr">
                Benefit statement, for example child benefit, pension
            </label>
            <label class="block-label selection-button-checkbox" for="document17">
                <input id="document17" type="checkbox" name="documents-group" value="dob">
                HM Forces ID card
            </label>
            <label class="block-label selection-button-checkbox" for="document18">
                <input id="document18" type="checkbox" name="documents-group" value="both">
                Firearms licence
            </label>
            <label class="block-label selection-button-checkbox" for="document19">
                <input id="document19" type="checkbox" name="documents-group" value="dob">
                Cards carrying the PASS accreditation logo
            </label>
            <label class="block-label selection-button-checkbox" for="document20">
                <input id="document20" type="checkbox" name="documents-group" value="addr">
                Bank or building society account opening confirmation letter
            </label>
        </div>
    </div>
    <input hidden name="exception" value="postoffice">
    <!-- Continue button -->
        <div class="form-group">
            <input type="submit" class="button" value="Continue">
        </div> <!-- Form group close-->

    </form>

  </div>
</div>

</main>

<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/parsley.min.js"></script>
<script src="/public/javascripts/form-utilities.js"></script>

<script type="text/javascript">
    $('#showMore a').click(function (e) {
      e.preventDefault();

      $(this).parent().hide();
      $('#moreDocs').removeClass('js-hidden');
    });
</script>

{% endblock %}