{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}

{% block content %}

<main id="content">
  
<div class="grid-row">
  <div class="column-two-thirds reduceMargin">
    {% include 'includes/error_summary.html' %}{# include if this page has validation requirements #}
    <h1 class="heading-large">Verifying your identity at the Post Office</h1>

  <p>To verify your identity at the Post Office you need to follow 3 steps:</p>

  <p>1. Select 3 identity documents to take with you.</p>
  <p>2. Print off the page with barcodes we'll generate when you submit your application.</p>
  <p>3. Take your documents and the barcodes to a Post Office identity checking service within 28 days.</p>
      
    
    <a class="button button-start" href="exceptionRouteDocs1.html" role="button">Continue</a>
  </div>
</div>

</main>

{% endblock %}