{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}

{% block content %}

<main id="content">
  
<div class="grid-row">
  <div class="column-two-thirds reduceMargin">
    {% include 'includes/error_summary.html' %}{# include if this page has validation requirements #}
    <h1 class="heading-large">Do you have any of these documents?</h1>

    <p>Select {{ 3 - docsLength }} {%if docsLength == 2%}document{%else%}documents{%endif%} from this list:</p>

    <form action="exceptionRouteDocDetails1" method="post" class="form">
    <div id="documents-group" class="form-group">

        <label class="block-label" for="document1">
            <input id="document1" type="checkbox" name="documents-group" value="Bank or building society account opening confirmation letter">
            Bank or building society account opening confirmation letter
        </label>
        <label class="block-label" for="document2">
            <input id="document2" type="checkbox" name="documents-group" value="Letter of sponsorship from future employment provider">
            Letter of sponsorship from future employment provider
        </label>
        <label class="block-label" for="document3">
            <input id="document3" type="checkbox" name="documents-group" value="Letter from headteacher or college principal">
            Letter from headteacher or college principal
        </label>
        <label class="block-label" for="document4">
            <input id="document4" type="checkbox" name="documents-group" value="I don't have {{ 3 - docsLength }} {%if docsLength == 2%}document{%else%}documents{%endif%} from this list">
            I don't have {{ 3 - docsLength }} {%if docsLength == 2%}document{%else%}documents{%endif%} from this list
        </label>
    </div>
    
    <!-- Continue button -->
        <div class="form-group">
            <input type="submit" class="button" value="Save and continue">
        </div> <!-- Form group close-->

    </form>

  </div>
</div>

</main>

{% endblock %}