{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}

{% block content %}

<main id="content">
<a href="javascript: window.history.go(-1)" class="link-back">Back</a>
<div class="grid-row">
  <div class="column-two-thirds reduceMargin">
    <h1 class="heading-medium page-heading">Validating your identity at the Post Office</h1>


    <p>To validate your identity at the Post Office you need to follow 3 steps:</p>
    <ol>
      <p><i class="icon icon-step-1"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Select the identity documents you have to hand from our list.</p>
      <p><i class="icon icon-step-2"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Print the letter we'll generate for you after you complete the rest of your application.</p>
      <p><i class="icon icon-step-3"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Take your documents and the letter to a post office that offers the DBS ID validation service within 14 days (we'll generate a list of your nearest post offices at the end of this application).</p>
    </ol>

    <a class="button" role="button" href="exceptionRouteDocs1">Continue to document list</a>
  </div>
</div>

</main>

{% endblock %}