{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}

{% block content %}

<main id="content">
  
<div class="grid-row">
  <div class="column-two-thirds reduceMargin">
    {% include 'includes/error_summary.html' %}{# include if this page has validation requirements #}
    <h1 class="heading-large">Your identity documents</h1>

    <p>Select 3 documents you can take to the Post Office from this list.<p> 
        
    <p>At least one of the documents must show your current address.<p>
        
    <p>You must take the original documents – you can't use photocopies or statements you've printed from online accounts.</p>

    <p> </p>
    <form action="exceptionRouteDocs2" method="post" class="form">
    <div id="documents-group" class="form-group">

        <label class="block-label" for="document1">
            <input id="document1" type="checkbox" name="documents-group" value="Passport">
            Passport (any current and valid passport)
        </label>
        <label class="block-label" for="document2">
            <input id="document2" type="checkbox" name="documents-group" value="Current driving licence">
            Current driving licence - full or provisional
        </label>
        <label class="block-label" for="document3">
            <input id="document3" type="checkbox" name="documents-group" value="Birth certificate">
            Birth certificate (UK, Isle of Man and Channel Islands - including those issued by UK authorities overseas, for example embassies, High Commissions and HM Forces)
        </label>
        <label class="block-label" for="document4">
            <input id="document4" type="checkbox" name="documents-group" value="Marriage or civil partnership certificate">
            Marriage or civil partnership certificate
        </label>
        <label class="block-label" for="document5">
            <input id="document5" type="checkbox" name="documents-group" value="Bank or building society statement">
            Bank or building society statement
        </label>
        <label class="block-label" for="document6">
            <input id="document6" type="checkbox" name="documents-group" value="Credit card statement">
            Credit card statement
        </label>
        <label class="block-label" for="document7">
            <input id="document7" type="checkbox" name="documents-group" value="Utility bill">
            Utility bill
        </label>
        <label class="block-label" for="document8">
            <input id="document8" type="checkbox" name="documents-group" value="Council tax statement">
            Council tax statement
        </label>
        <label class="block-label" for="document9">
            <input id="document9" type="checkbox" name="documents-group" value="Financial statement">
            Financial statement, for example student loans company or pension
        </label>
        <label class="block-label" for="document10">
            <input id="document10" type="checkbox" name="documents-group" value="P45 or P60">
            P45 or P60
        </label>
        <label class="block-label" for="document11">
            <input id="document11" type="checkbox" name="documents-group" value="Mortgage statement">
            Mortgage statement
        </label>
        <label class="block-label" for="document12">
            <input id="document12" type="checkbox" name="documents-group" value="Adoption certificate">
            Adoption certificate (UK and channel islands)
        </label>
        <label class="block-label" for="document13">
            <input id="document13" type="checkbox" name="documents-group" value="UK biometric residence permit">
            UK biometric residence permit
        </label>
        <label class="block-label" for="document14">
            <input id="document14" type="checkbox" name="documents-group" value="Work permit or visa">
            Work permit or visa
        </label>
        <label class="block-label" for="document15">
            <input id="document15" type="checkbox" name="documents-group" value="EU national ID card">
            EU national ID card
        </label>
        <label class="block-label" for="document16">
            <input id="document16" type="checkbox" name="documents-group" value="Benefit statement">
            Benefit statement, for example child benefit, pension
        </label>
        <label class="block-label" for="document17">
            <input id="document17" type="checkbox" name="documents-group" value="HM Forces ID card">
            HM Forces ID card
        </label>
        <label class="block-label" for="document18">
            <input id="document18" type="checkbox" name="documents-group" value="Firearms licence">
            Firearms licence
        </label>
        <label class="block-label" for="document19">
            <input id="document19" type="checkbox" name="documents-group" value="Cards carrying the PASS accreditation logo">
            Cards carrying the PASS accreditation logo
        </label>
        <label class="block-label" for="document20">
            <input id="document20" type="checkbox" name="documents-group" value="I don't have any documents from this list">
            I don't have enough documents from this list
        </label>
    </div>
    <input hidden name="exception" value="postoffice">
    <!-- Continue button -->
        <div class="form-group">
            <input type="submit" class="button" value="Save and continue">
        </div> <!-- Form group close-->

    </form>

  </div>
</div>

</main>

{% endblock %}