{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">

			<div class="breadcrumbs">
				<ol><li>Section 2 of 9</li></ol>
			</div> <!-- Breadcrumb -->

			<form action="formAddNames" method="post" class="form">

				<div class="form-group">
					<ul class="list-bullet" style="color:Red;">
						<li>Included at launch? Available in web service?</li>
					</ul>
				</div>
			    <div class="form-group">
			    	<fieldset class="inline">
			    		<legend class="form-label-bold">Have you ever identified as another gender?</legend>
			    		<p class="form-hint">If you select yes, we'll use the sensitive application process so your previous name and gender won't show on the DBS certificate.</p>

			    		<label class="block-label" data-target="gender-identity" for="radio-inline-1">
						    <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
						    Yes
					    </label>
						
					    <label class="block-label" for="radio-inline-2">
						    <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
						    No
					    </label>

			    	</fieldset>
			    	<!-- Expandable panel area -->
			    	<div class="panel panel-border-narrow js-hidden" id="gender-identity">
						<!-- Previous surname -->
						<div class="form-group">
							<label class="form-label" for="previous-surname">Previous surname</label>
							<input class="form-control" name="previous-surname" type="text" id="previous-surname">
						</div> <!-- Form group close-->

						<!-- Previous forename(s) -->
						<div class="form-group">
							<label class="form-label" for="previous-forenames">Previous forename(s)</label>
							<input class="form-control" name="previous-forenames" type="text" id="previous-forenames">
						</div> <!-- Form group close-->

						<!-- Previous gender -->
						<div class="form-group">
							<fieldset>
								<legend class="form-label">Previous gender</legend>

					    		<label class="block-label" for="gender-radio-1">
								    <input id="gender-radio-1" type="radio" name="radio-gender-group" value="Female">
								    Female
							    </label>
								
							    <label class="block-label" for="gender-radio-2">
								    <input id="gender-radio-2" type="radio" name="radio-gender-group" value="Male">
								    Male
							    </label>
							</fieldset>
						</div> <!-- Form group close-->

						<!-- Date from -->
						<div class="form-group">
							<fieldset>
								<legend class="form-label">Date from</legend>

								<div class="form-date">
									<p class="form-hint">For example, 03 1980</p>
									<div class="form-group form-group-month">
										<label for="gender-from-month">Month</label>
										<input class="form-control" id="gender-from-month" type="number" pattern="[0-9]*" min="0" max="12">
									</div> <!-- Form group close-->
									<div class="form-group form-group-year">
										<label for="gender-from-year">Year</label>
										<input class="form-control" id="gender-from-year" type="number" pattern="[0-9]*" min="0" max="2016">
									</div> <!-- Form group close-->
								</div>
							</fieldset>
						</div> <!-- Form group close-->


						<!-- Date to -->
						<div class="form-group">
							<fieldset>
								<legend class="form-label">Date to</legend>

								<div class="form-date">
									<p class="form-hint">For example, 03 2014</p>
									<div class="form-group form-group-month">
										<label for="gender-to-month">Month</label>
										<input class="form-control" id="gender-to-month" type="number" pattern="[0-9]*" min="0" max="12">
									</div> <!-- Form group close-->
									<div class="form-group form-group-year">
										<label for="gender-to-year">Year</label>
										<input class="form-control" id="gender-to-year" type="number" pattern="[0-9]*" min="0" max="2016">
									</div> <!-- Form group close-->
								</div>
							</fieldset>
						</div> <!-- Form group close-->

						<a class="button-secondary" href="#" role="button">Add another</a>

					</div> <!-- Expandable panel area  Close -->
			    </div> <!-- Form group close-->


			    <!-- Continue button -->
			    <div class="form-group">
			    	<input type="submit" class="button" value="Continue">
				</div> <!-- Form group close-->

			</form>
		</div>
	</div>



</main>

{% endblock %}


