{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}
{% set main_question = "Have you lived at any other addresses in the past 5 years?" %}
{% block content %}

<main id="content" role="main">
  {% include 'includes/phase_banner_alpha.html' %}
	<div class="grid-row">
		<div class="column-two-thirds">

			{% include 'includes/error_summary.html' %}
      {# include if this page has validation requirements #}
      <h1 class="heading-medium">{{main_question}}</h1>
      <p>Include temporary addresses, for example student accommodation or if you work away from home every week.</p>


			<form action="formIdentity" method="post" class="form">
			    <div class="form-group" id="yes-no-addresses">
			    	<div id="addressCheck">
					    <div id="addressHistoryCheck-error-message" class="form-error validation-message"></div>
					    <input disabled id="addressHistoryCheck" class="js-hidden"
					    	data-parsley-class-handler="#addressCheck"
							data-parsley-errors-container="#addressHistoryCheck-error-message"
							data-parsley-required="true"
							data-parsley-required-message="You need to enter a full 5 year address history"
					    >
					</div>
					<div id="gapsCheck">
					    <div id="gapsCheck-error-message" class="form-error validation-message"></div>
					    <input disabled id="addressGapCheck" class="js-hidden"
					    	data-parsley-class-handler="#gapsCheck"
							data-parsley-errors-container="#gapsCheck-error-message"
							data-parsley-required="true"
							data-parsley-required-message="There are gaps in your address history"
					    >
					</div>



					<fieldset class="inline">
			    		<legend class="visuallyhidden">{{main_question}}</legend>

			    		<div id="addresses-group-error-message" class="form-error validation-message"></div>
			    		<label class="block-label" data-target="yes-other-addresses-block" for="addresses-radio-1">
						    <input id="addresses-radio-1" type="radio" name="addresses-radio-group" value="Yes"
						    	data-parsley-class-handler="#yes-no-addresses"
          							data-parsley-errors-container="#addresses-group-error-message"
          							data-parsley-required="true"
    								data-parsley-required-message="Confirm if you have lived at other addresses"
    								onClick="javascript:reEnable();"
						    >
						    Yes
					    </label>
					    <label class="block-label" for="addresses-radio-2">
						    <input id="addresses-radio-2" type="radio" name="addresses-radio-group" value="No"
						    		onClick="javascript:disableAll();"
						    >
						    No
					    </label>

			    	</fieldset>







						<!-- Store number of addresses the user has entered -->
						<input class="js-hidden" id="other-addresses-total" name="other-addresses-total" value="1">


						<!-- ADD ADDRESS Hidden Panel -->

				    	<div class="panel panel-border-narrow js-hidden" id="add-other-address-">

				    		<span class="heading-medium" id="other-address-title-">Address </span>
				    		<div style="float: right;"><a href="#/"  id="del-address-" onClick="javascript:delAddress($(this).attr('id'));" role="button">Delete address</a></div><br>

				    		<!-- Postcode finder block -->
				    		<div class="form-group" id="postcode-block-">
				    			<fieldset class="inline">
								<!-- Postcode -->
									<label class="form-label" for="postcode-">Postcode</label>
									<div id="postcode-block-error-message-" class="form-error validation-message"></div>
									<input disabled class="form-control" name="postcode-" type="text" id="postcode-"
										data-parsley-class-handler="#postcode-block-"
	          							data-parsley-errors-container="#postcode-block-error-message-"
	          							data-parsley-required="true"
	    								data-parsley-required-message="Enter the postcode for address "
									>
									<a class="button secondary-button" id="find-po-" href="#/" onClick="javascript:poLookup($(this).attr('id'));" role="button">Find UK address</a>
								</fieldset>
							</div> <!-- Form group close-->



							<div class="form-group js-hidden" id="postcode-lookup-block-">
							<!-- 	If they use postcode lookup, flip hidden on this block and the postcode-block block.
									Display the postcode they entered, format to Upper and Split. Display possible addresses
							-->

								<div class="form-group">
									<label class="form-label">Postcode:</label>
										<div id="entered-po-" style="font-weight:bold;"></div>
										<a href="#/" id="change-" role="button" onClick="javascript:poLookup($(this).attr('id'));">Change</a>


								</div>
								<div class="form-group" id="po-finder-addresses-">
									<label class="form-label">Select your address</label>
									<div id="po-finder-error-message-" class="form-error validation-message"></div>
									<ul>
										<li>
											<label>
												<input disabled type="radio" value="1 Oxford Road, London, United Kingdom" name="po-other-address-"
													data-parsley-class-handler="#po-finder-addresses-"
				          							data-parsley-errors-container="#po-finder-error-message-"
				          							data-parsley-required="true"
				    								data-parsley-required-message="Select the address for address "
												>
												1 Oxford Road, London, United Kingdom
											</label>
										</li>
										<li>
											<label>
												<input disabled type="radio" value="2 Oxford Road, London, United Kingdom" name="po-other-address-">
												2 Oxford Road, London, United Kingdom
											</label>
										</li>
										<li>
											<label>
												<input disabled type="radio" value="3 Oxford Road, London, United Kingdom" name="po-other-address-">
												3 Oxford Road, London, United Kingdom
											</label>
										</li>
										<li>
											<label>
												<input disabled type="radio" value="4 Oxford Road, London, United Kingdom" name="po-other-address-">
												4 Oxford Road, London, United Kingdom
											</label>
										</li>
										<li>
											<label>
												<input disabled type="radio" value="5 Oxford Road, London, United Kingdom" name="po-other-address-">
												5 Oxford Road, London, United Kingdom
											</label>
										</li>
									</ul>
								</div>

							</div>
							<!-- END OF POSTCODE FINDER BLOCK -->




							<!-- Address fields ALT block -->
							<div class="form-group js-hidden" id="address-fields-block-">
								<div class="form-group" id="other-add-line-1-">
									<label class="form-label" for="address-line-1-">Address line 1</label>
									<div id="other-add-line-1-error-message-" class="form-error validation-message"></div>
									<input disabled class="form-control" name="address-line-1-" type="text" id="address-line-1-"
										data-parsley-class-handler="#other-add-line-1-"
	          							data-parsley-errors-container="#other-add-line-1-error-message-"
	          							data-parsley-required="true"
	    								data-parsley-required-message="Enter the first line for address "
									>
								</div>
								<div class="form-group">
									<label class="form-label" for="address-line-2-">Address line 2 (optional)</label>
									<input disabled class="form-control" name="address-line-2-" type="text" id="address-line-2-">
								</div>
								<div class="form-group" id="other-add-city-">
									<label class="form-label" for="address-town-city-">Town/City</label>
									<div id="other-add-city-error-message-" class="form-error validation-message"></div>
									<input disabled class="form-control" name="address-town-city-" type="text" id="address-town-city-"
										data-parsley-class-handler="#other-add-city-"
	          							data-parsley-errors-container="#other-add-city-error-message-"
	          							data-parsley-required="true"
	    								data-parsley-required-message="Enter the city for address "
									>
								</div>
								<div class="form-group">
									<label class="form-label" for="address-county-">County (optional)</label>
									<input disabled class="form-control" name="address-county-" type="text" id="address-county-">
								</div>
								<div class="form-group" id="other-add-country-">
									<label class="form-label" for="address-country-">Country</label>
									<div id="other-add-country-error-message-" class="form-error validation-message"></div>
									<input disabled class="form-control" name="address-country-" type="text" id="address-country-"
										data-parsley-class-handler="#other-add-country-"
	          							data-parsley-errors-container="#other-add-country-error-message-"
	          							data-parsley-required="true"
	    								data-parsley-required-message="Enter the country for address "
									>
								</div>
								<div class="form-group" id="other-add-postcode-">
									<label class="form-label" for="address-postcode-">Postcode</label>
									<div id="other-add-postcode-error-message-" class="form-error validation-message"></div>
									<input disabled class="form-control" name="address-postcode-" type="text" id="address-postcode-"
										data-parsley-class-handler="#other-add-postcode-"
	          							data-parsley-errors-container="#other-add-postcode-error-message-"
	          							data-parsley-required="true"
	    								data-parsley-required-message="Enter the postcode for address "
									>
								</div>
							</div> <!-- Form group close-->

							<div class="form-group">
								<a class="button-secondary" id="manual-toggle-link-" onClick="javascript:swapBlock($(this).attr('id'));" href="#/" role="button">Enter address manually</a>
							</div> <!-- Form group close-->



							<div class="form-group">
								<div id="current-radio-block-">
									<fieldset class="inline">
										<legend class="form-label-bold">Is this a current address?</legend>
										<p class="form-hint">This might be an address you live at at the moment.</p>
										<div id="current-radio-block-error-message-" class="form-error validation-message"></div>

								    	<label class="block-label" data-target="current-address-" for="current-address-radio-1-">
											<input disabled id="current-address-radio-1-" type="radio" name="radio-current-address-group-" value="Yes"
												data-parsley-class-handler="#current-radio-block-"
			          							data-parsley-errors-container="#current-radio-block-error-message-"
			          							data-parsley-required="true"
			    								data-parsley-required-message="Is this a current address for address "
			    								onClick="javascript:flipDisable($(this).attr('id'));"
											>
										Yes
										</label>

										<label class="block-label" data-target="not-current-address-" for="current-address-radio-2-">
											<input disabled id="current-address-radio-2-" type="radio" name="radio-current-address-group-" value="No"
												onClick="javascript:flipDisable($(this).attr('id'));"
											>
										No
										</label>
									</fieldset>
								</div>



								<div class="panel panel-border-narrow js-hidden" id="current-address-">
									<!-- At address since -->
									<div class="form-group" id="cur-ad-since-group-">
										<fieldset>
											<legend class="form-label">When did you move into this address?</legend>

											<div class="form-date">

												<div id="cur-ad-since-group-error-message-" class="form-error validation-message"></div>
												<div class="form-group form-group-month">
													<label for="cur-address-since-month-">Month</label>
													<input disabled class="form-control" id="cur-address-since-month-" type="number" name="cur-address-since-month-" pattern="[0-9]*" min="0" max="12"
														data-parsley-class-handler="#cur-ad-since-group-"
					          							data-parsley-errors-container="#cur-ad-since-group-error-message-"
					          							data-parsley-required="true"
					    								data-parsley-required-message="Enter since month for address "
													>
												</div>
												<div class="form-group form-group-year">
													<label for="cur-address-since-year-">Year</label>
													<input disabled class="form-control" id="cur-address-since-year-" type="number" name="cur-address-since-year-" pattern="[0-9]*" min="1900" max="2016"
														data-parsley-class-handler="#cur-ad-since-group-"
					          							data-parsley-errors-container="#cur-ad-since-group-error-message-"
					          							data-parsley-required="true"
					    								data-parsley-required-message="Enter since year for address "
													>
												</div>
											</div>
										</fieldset>
										<p class="form-hint">For example, 03 1980</p>

									</div> <!-- Form group close-->
								</div> <!-- Expandable panel area  Close CURRENT ADDRESS -->

								<div class="panel panel-border-narrow js-hidden" id="not-current-address-">
									<!-- At address since -->
									<div class="form-group" id="nc-ad-since-block-">
										<fieldset>
											<legend class="form-label">When did you move into this address?</legend>

											<div class="form-date">

												<div id="nc-ad-since-block-error-message-" class="form-error validation-message"></div>
												<div class="form-group form-group-month">
													<label for="nc-address-since-month-">Month</label>
													<input disabled class="form-control" id="nc-address-since-month-" type="number" name="nc-address-since-month-" pattern="[0-9]*" min="0" max="12"
														data-parsley-class-handler="#nc-ad-since-block-"
					          							data-parsley-errors-container="#nc-ad-since-block-error-message-"
					          							data-parsley-required="true"
					    								data-parsley-required-message="Enter since month for address "
													>
												</div>
												<div class="form-group form-group-year">
													<label for="nc-address-since-year-">Year</label>
													<input disabled class="form-control" id="nc-address-since-year-" type="number" name="nc-address-since-year-" pattern="[0-9]*" min="1900" max="2016"
														data-parsley-class-handler="#nc-ad-since-block-"
					          							data-parsley-errors-container="#nc-ad-since-block-error-message-"
					          							data-parsley-required="true"
					    								data-parsley-required-message="Enter since year for address "
													>
												</div>
											</div>
										</fieldset>
										<p class="form-hint">For example, 03 1980</p>

									</div> <!-- Form group close-->

									<div class="form-group" id="nc-ad-to-block-">
										<fieldset>
											<legend class="form-label">When did you move out of this address?</legend>

											<div class="form-date">

												<div id="nc-ad-to-block-error-message-" class="form-error validation-message"></div>
												<div class="form-group form-group-month">
													<label for="nc-address-to-month-">Month</label>
													<input disabled class="form-control" id="nc-address-to-month-" type="number" name="nc-address-to-month-" pattern="[0-9]*" min="0" max="12"
														data-parsley-class-handler="#nc-ad-to-block-"
					          							data-parsley-errors-container="#nc-ad-to-block-error-message-"
					          							data-parsley-required="true"
					    								data-parsley-required-message="Enter to month for address "
													>
												</div>
												<div class="form-group form-group-year">
													<label for="nc-address-to-year-">Year</label>
													<input disabled class="form-control" id="nc-address-to-year-" type="number" name="nc-address-to-year-" pattern="[0-9]*" min="1900" max="2016"
														data-parsley-class-handler="#nc-ad-to-block-"
					          							data-parsley-errors-container="#nc-ad-to-block-error-message-"
					          							data-parsley-required="true"
					    								data-parsley-required-message="Enter to year for address "
													>
												</div>
											</div>
										</fieldset>
										<p class="form-hint">For example, 03 1980</p>

									</div> <!-- Form group close-->
								</div> <!-- Expandable panel area  Close NOT CURRENT ADDRESS -->
							</div> <!-- Form group close-->
				    	</div> <!-- Expandable panel area  Close ADD ADDRESS -->

				    <!-- IF YES, DISPLAY THIS BLOCK -->
					<div id="yes-other-addresses-block" class="js-hidden">

				    	<div id="all-other-addresses-section">


				    	<div class="panel panel-border-narrow" id="add-other-address-1">

				    		<span class="heading-medium" id="other-address-title-1">Address 1</span>


				    		<!-- Postcode finder block -->
				    		<div class="form-group" id="postcode-block-1">
				    			<fieldset class="inline">
								<!-- Postcode -->
									<label class="form-label" for="postcode-1">Postcode</label>
									<div id="postcode-block-error-message-1" class="form-error validation-message"></div>
									<input disabled class="form-control" name="postcode-1" type="text" id="postcode-1"
										data-parsley-class-handler="#postcode-block-1"
	          							data-parsley-errors-container="#postcode-block-error-message-1"
	          							data-parsley-required="true"
	    								data-parsley-required-message="Enter the postcode for address 1"
									>
									<a class="button secondary-button" id="find-po-1" href="#/" onClick="javascript:poLookup($(this).attr('id'));" role="button">Find UK address</a>
								</fieldset>
							</div> <!-- Form group close-->



							<div class="form-group js-hidden" id="postcode-lookup-block-1">
							<!-- 	If they use postcode lookup, flip hidden on this block and the postcode-block block.
									Display the postcode they entered, format to Upper and Split. Display possible addresses
							-->

								<div class="form-group">
									<label class="form-label">Postcode:</label>
										<div id="entered-po-1" style="font-weight:bold;"></div>
										<a href="#/" id="change-1" role="button" onClick="javascript:poLookup($(this).attr('id'));">Change</a>


								</div>
								<div class="form-group" id="po-finder-addresses-1">
									<label class="form-label">Select your address</label>
									<div id="po-finder-error-message-1" class="form-error validation-message"></div>
									<ul>
										<li>
											<label>
												<input disabled type="radio" value="1 Oxford Road, London, United Kingdom" name="po-other-address-1"
													data-parsley-class-handler="#po-finder-addresses-1"
				          							data-parsley-errors-container="#po-finder-error-message-1"
				          							data-parsley-required="true"
				    								data-parsley-required-message="Select the address for address 1"
												>
												1 Oxford Road, London, United Kingdom
											</label>
										</li>
										<li>
											<label>
												<input disabled type="radio" value="2 Oxford Road, London, United Kingdom" name="po-other-address-1">
												2 Oxford Road, London, United Kingdom
											</label>
										</li>
										<li>
											<label>
												<input disabled type="radio" value="3 Oxford Road, London, United Kingdom" name="po-other-address-1">
												3 Oxford Road, London, United Kingdom
											</label>
										</li>
										<li>
											<label>
												<input disabled type="radio" value="4 Oxford Road, London, United Kingdom" name="po-other-address-1">
												4 Oxford Road, London, United Kingdom
											</label>
										</li>
										<li>
											<label>
												<input disabled type="radio" value="5 Oxford Road, London, United Kingdom" name="po-other-address-1">
												5 Oxford Road, London, United Kingdom
											</label>
										</li>
									</ul>
								</div>

							</div>
							<!-- END OF POSTCODE FINDER BLOCK -->




							<!-- Address fields ALT block -->
							<div class="form-group js-hidden" id="address-fields-block-1">
								<div class="form-group" id="other-add-line-1-1">
									<label class="form-label" for="address-line-1-1">Address line 1</label>
									<div id="other-add-line-1-error-message-1" class="form-error validation-message"></div>
									<input disabled class="form-control" name="address-line-1-1" type="text" id="address-line-1-1"
										data-parsley-class-handler="#other-add-line-1-1"
	          							data-parsley-errors-container="#other-add-line-1-error-message-1"
	          							data-parsley-required="true"
	    								data-parsley-required-message="Enter the first line for address 1"
									>
								</div>
								<div class="form-group">
									<label class="form-label" for="address-line-2-1">Address line 2 (optional)</label>
									<input disabled class="form-control" name="address-line-2-1" type="text" id="address-line-2-1">
								</div>
								<div class="form-group" id="other-add-city-1">
									<label class="form-label" for="address-town-city-1">Town/City</label>
									<div id="other-add-city-error-message-1" class="form-error validation-message"></div>
									<input disabled class="form-control" name="address-town-city-1" type="text" id="address-town-city-1"
										data-parsley-class-handler="#other-add-city-1"
	          							data-parsley-errors-container="#other-add-city-error-message-1"
	          							data-parsley-required="true"
	    								data-parsley-required-message="Enter the city for address 1"
									>
								</div>
								<div class="form-group">
									<label class="form-label" for="address-county-1">County (optional)</label>
									<input disabled class="form-control" name="address-county-1" type="text" id="address-county-1">
								</div>
								<div class="form-group" id="other-add-country-1">
									<label class="form-label" for="address-country-1">Country</label>
									<div id="other-add-country-error-message-1" class="form-error validation-message"></div>
									<input disabled class="form-control" name="address-country-1" type="text" id="address-country-1"
										data-parsley-class-handler="#other-add-country-1"
	          							data-parsley-errors-container="#other-add-country-error-message-1"
	          							data-parsley-required="true"
	    								data-parsley-required-message="Enter the country for address 1"
									>
								</div>
								<div class="form-group" id="other-add-postcode-1">
									<label class="form-label" for="address-postcode-1">Postcode</label>
									<div id="other-add-postcode-error-message-1" class="form-error validation-message"></div>
									<input disabled class="form-control" name="address-postcode-1" type="text" id="address-postcode-1"
										data-parsley-class-handler="#other-add-postcode-1"
	          							data-parsley-errors-container="#other-add-postcode-error-message-1"
	          							data-parsley-required="true"
	    								data-parsley-required-message="Enter the postcode for address 1"
									>
								</div>
							</div> <!-- Form group close-->

							<div class="form-group">
								<a class="button-secondary" id="manual-toggle-link-1" onClick="javascript:swapBlock($(this).attr('id'));" href="#/" role="button">Enter address manually</a>
							</div> <!-- Form group close-->



							<div class="form-group">
								<div id="current-radio-block-1">
									<fieldset class="inline">
										<legend class="form-label-bold">Is this a current address?</legend>
										<p class="form-hint">This might be an address you live at at the moment.</p>
										<div id="current-radio-block-error-message-1" class="form-error validation-message"></div>

								    	<label class="block-label" data-target="current-address-1" for="current-address-radio-1-1">
											<input disabled id="current-address-radio-1-1" type="radio" name="radio-current-address-group-1" value="Yes"
												data-parsley-class-handler="#current-radio-block-1"
			          							data-parsley-errors-container="#current-radio-block-error-message-1"
			          							data-parsley-required="true"
			    								data-parsley-required-message="Is this a current address for address 1"
			    								onClick="javascript:flipDisable($(this).attr('id'));"
											>
										Yes
										</label>

										<label class="block-label" data-target="not-current-address-1" for="current-address-radio-2-1">
											<input disabled id="current-address-radio-2-1" type="radio" name="radio-current-address-group-1" value="No"
												onClick="javascript:flipDisable($(this).attr('id'));"
											>
										No
										</label>
									</fieldset>
								</div>



								<div class="panel panel-border-narrow js-hidden" id="current-address-1">
									<!-- At address since -->
									<div class="form-group" id="cur-ad-since-group-1">
										<fieldset>
											<legend class="form-label">When did you move into this address?</legend>

											<div class="form-date">

												<div id="cur-ad-since-group-error-message-1" class="form-error validation-message"></div>
												<div class="form-group form-group-month">
													<label for="cur-address-since-month-1">Month</label>
													<input disabled class="form-control" id="cur-address-since-month-1" type="number" name="cur-address-since-month-1" pattern="[0-9]*" min="0" max="12"
														data-parsley-class-handler="#cur-ad-since-group-1"
					          							data-parsley-errors-container="#cur-ad-since-group-error-message-1"
					          							data-parsley-required="true"
					    								data-parsley-required-message="Enter since month for address 1"
													>
												</div>
												<div class="form-group form-group-year">
													<label for="cur-address-since-year-1">Year</label>
													<input disabled class="form-control" id="cur-address-since-year-1" type="number" name="cur-address-since-year-1" pattern="[0-9]*" min="1900" max="2016"
														data-parsley-class-handler="#cur-ad-since-group-1"
					          							data-parsley-errors-container="#cur-ad-since-group-error-message-1"
					          							data-parsley-required="true"
					    								data-parsley-required-message="Enter since year for address 1"
													>
												</div>
											</div>
										</fieldset>
										<p class="form-hint">For example, 03 1980</p>

									</div> <!-- Form group close-->
								</div> <!-- Expandable panel area  Close CURRENT ADDRESS -->

								<div class="panel panel-border-narrow js-hidden" id="not-current-address-1">
									<!-- At address since -->
									<div class="form-group" id="nc-ad-since-block-1">
										<fieldset>
											<legend class="form-label">When did you move into this address?</legend>

											<div class="form-date">

												<div id="nc-ad-since-block-error-message-1" class="form-error validation-message"></div>
												<div class="form-group form-group-month">
													<label for="nc-address-since-month-1">Month</label>
													<input disabled class="form-control" id="nc-address-since-month-1" type="number" name="nc-address-since-month-1" pattern="[0-9]*" min="0" max="12"
														data-parsley-class-handler="#nc-ad-since-block-1"
					          							data-parsley-errors-container="#nc-ad-since-block-error-message-1"
					          							data-parsley-required="true"
					    								data-parsley-required-message="Enter since month for address 1"
													>
												</div>
												<div class="form-group form-group-year">
													<label for="nc-address-since-year-1">Year</label>
													<input disabled class="form-control" id="nc-address-since-year-1" type="number" name="nc-address-since-year-1" pattern="[0-9]*" min="1900" max="2016"
														data-parsley-class-handler="#nc-ad-since-block-1"
					          							data-parsley-errors-container="#nc-ad-since-block-error-message-1"
					          							data-parsley-required="true"
					    								data-parsley-required-message="Enter since year for address 1"
													>
												</div>
											</div>
										</fieldset>
										<p class="form-hint">For example, 03 1980</p>

									</div> <!-- Form group close-->

									<div class="form-group" id="nc-ad-to-block-1">
										<fieldset>
											<legend class="form-label">When did you move out of this address?</legend>

											<div class="form-date">

												<div id="nc-ad-to-block-error-message-1" class="form-error validation-message"></div>
												<div class="form-group form-group-month">
													<label for="nc-address-to-month-1">Month</label>
													<input disabled class="form-control" id="nc-address-to-month-1" type="number" name="nc-address-to-month-1" pattern="[0-9]*" min="0" max="12"
														data-parsley-class-handler="#nc-ad-to-block-1"
					          							data-parsley-errors-container="#nc-ad-to-block-error-message-1"
					          							data-parsley-required="true"
					    								data-parsley-required-message="Enter to month for address 1"
													>
												</div>
												<div class="form-group form-group-year">
													<label for="nc-address-to-year-1">Year</label>
													<input disabled class="form-control" id="nc-address-to-year-1" type="number" name="nc-address-to-year-1" pattern="[0-9]*" min="1900" max="2016"
														data-parsley-class-handler="#nc-ad-to-block-1"
					          							data-parsley-errors-container="#nc-ad-to-block-error-message-1"
					          							data-parsley-required="true"
					    								data-parsley-required-message="Enter to year for address 1"
													>
												</div>
											</div>
										</fieldset>
										<p class="form-hint">For example, 03 1980</p>

									</div> <!-- Form group close-->
								</div> <!-- Expandable panel area  Close NOT CURRENT ADDRESS -->
							</div> <!-- Form group close-->
				    	</div> <!-- Expandable panel area  Close ADD ADDRESS -->



				    	</div>


				    	<script type="text/javascript">
					    	var counter=2;

					    	window.onload = function() {

						        //Get a reference to the link on the page
						        // with an id of "mylink"
						        var a = document.getElementById("mylink");

						        //Set code to run when the link is clicked
						        // by assigning a function to "onclick"
						        a.onclick = function() {


						        	var obj = document.getElementById('add-other-address-').cloneNode(true),
			  						    children = obj.childNodes
			  							;
			  						obj.id = obj.id+counter;
			  						obj.className = 'panel panel-border-narrow';
			  						changeId(children, counter);
			  						document.getElementById('other-addresses-total').value = counter;
			  						$('#mylink').html('Add another address');



			  						document.getElementById('all-other-addresses-section').appendChild(obj);

			  						// Enable postcode block when they add the address field
			  						// Enable the Yes/No question

			  						$(document.getElementById('postcode-block-'+counter)).find('input,select,radio').prop('disabled', false);

			  						$(document.getElementById('current-radio-block-'+counter)).find('input,select,radio').prop('disabled', false);

			  						document.getElementById('other-address-title-'+counter).innerHTML +=String(counter);


			  						counter+=1;


			  						//change id recursively
									function changeId(nodes, n){
										for (var i=0;i<nodes.length;i=i+1){
									    	if (nodes[i].childNodes){
									        	changeId(nodes[i].childNodes,n);
									    	}
									     	if(nodes[i].id) {
									      		nodes[i].id += String(n);
									     	}
									     	if(nodes[i].htmlFor) {
									     		nodes[i].htmlFor +=String(n);
									     	}
									     	if($(nodes[i]).data("target")) {
									     		var newString = $(nodes[i]).data('target')+String(n);
									     		//console.log(newString);
									     		$(nodes[i]).attr('data-target', newString);
									     	}
									     	if(nodes[i].name){
									     		//console.log(nodes[i].name);
									     		nodes[i].name +=String(n);
									     	}
									     	if($(nodes[i]).data("parsley-class-handler")) {
									     		var newString = $(nodes[i]).data('parsley-class-handler')+String(n);
									     		//console.log(newString);
									     		$(nodes[i]).attr('data-parsley-class-handler', newString);
									     	}
									     	if($(nodes[i]).data("parsley-errors-container")) {
									     		var newString = $(nodes[i]).data('parsley-errors-container')+String(n);
									     		//console.log(newString);
									     		$(nodes[i]).attr('data-parsley-errors-container', newString);
									     	}
									     	if($(nodes[i]).data("parsley-required-message")) {
									     		var newString = $(nodes[i]).data('parsley-required-message')+String(n);
									     		//console.log(newString);
									     		$(nodes[i]).attr('data-parsley-required-message', newString);
									     	}


									   	}
									}

									// add click functionality to selection buttons
									var $blockLabels = $(".block-label input[type='radio'], .block-label input[type='checkbox']")
									new GOVUK.SelectionButtons($blockLabels) // eslint-disable-line

									// Show and hide toggled content
									// Where .block-label uses the data-target attribute
									var toggleContent = new ShowHideContent()
									toggleContent.showHideRadioToggledContent()
									toggleContent.showHideCheckboxToggledContent()



									return false;
								}
							}

							function swapBlock(blockID){
								//console.log(blockID);
								var splitID = blockID.split('-');
								var idNo = splitID[splitID.length-1]
								//console.log(splitID[splitID.length-1]);
								var poBlo = "#postcode-block-"+idNo;
								var adFiBlo= "#address-fields-block-"+idNo;
								console.log(poBlo);
								console.log(adFiBlo);
								$("#"+blockID).toggleClass("manual");
								$(poBlo).toggleClass("js-hidden");
								$(adFiBlo).toggleClass("js-hidden");

								if ($("#"+blockID).hasClass("manual")){
									$("#"+blockID).html("Use Postcode finder");
									$(adFiBlo).find('input,select,radio').prop('disabled', false);
									$(poBlo).find('input,select,radio').prop('disabled', true);
								}
								else {
									$("#"+blockID).html("Enter address manually");
									$(adFiBlo).find('input,select,radio').prop('disabled', true);
									$(poBlo).find('input,select,radio').prop('disabled', false);
								}

								// Use Postcode finder
								// Enter address manually
								return false;
							}

							function flipDisable(buttonID){
								console.log(buttonID);
								var splitID = buttonID.split('-');
								var idNo = splitID[splitID.length-1];
								console.log(idNo);
								var curBlock ='#current-address-'+idNo;
								var notCurBlock='#not-current-address-'+idNo;
								console.log(curBlock);
								console.log(notCurBlock);
								var buttonValue = document.getElementById(buttonID).value;
								// if value == Yes
								// enable current-address-? fields
								// disable not-current-address-? fields
								// else if value == NO
								// Diable current-address-? fields
								// enable not-current-address-? fields

								if (buttonValue == "Yes") {
									$(curBlock).find('input,select,radio').prop('disabled', false);
									$(notCurBlock).find('input,select,radio').prop('disabled', true);
									$(notCurBlock).find('input,select,radio').val('');
								} else if (buttonValue == "No") {
									$(notCurBlock).find('input,select,radio').prop('disabled', false);
									$(curBlock).find('input,select,radio').prop('disabled', true);
									$(curBlock).find('input,select,radio').val('');
								}

							}

							function delAddress(addId) {
								console.log(addId);
								var splitID1 = addId.split('-');
								var idNo1 = splitID1[splitID1.length-1];
								var addBlock = '#add-other-address-'+idNo1;

								$(addBlock).addClass("js-hidden");
								$(addBlock).find('input,select,radio').prop('disabled', true);
								$(addBlock).find('input,select,radio').val('');

							}


							function poLookup(poId){
								var splitID2 = poId.split('-');
								var idNo2 = splitID2[splitID2.length-1];
								var lookupBlock = '#postcode-lookup-block-'+idNo2;
								var postcodeBlock = '#postcode-block-'+idNo2;

								// When Lookup Postcode button is clicked, hide the postcode block and display the lookup block
								$(lookupBlock).toggleClass('js-hidden');
								$(postcodeBlock).toggleClass('js-hidden');
								$('#manual-toggle-link-'+idNo2).toggleClass('js-hidden');

								// Disable fields in postcodeBlock to avoid validation error
								if ($(lookupBlock).hasClass('js-hidden')) {
									$(postcodeBlock).find('input,select,radio').prop('disabled',false);
									$(lookupBlock).find('input,select,radio').prop('disabled',true);
									$('#postcode-'+idNo2).val('');
									document.getElementById('entered-po-'+idNo2).innerHTML ='';
								}
								else {
									$(postcodeBlock).find('input,select,radio').prop('disabled',true);
									$(lookupBlock).find('input,select,radio').prop('disabled',false);

									// Add the entered postcode to the Postcode: line
									var po = ($('#postcode-'+idNo2).val()).toUpperCase();
									var po1 = po.slice(0,(po.length-3));
									var po2 = po.slice((po.length-3),(po.length));
									document.getElementById('entered-po-'+idNo2).innerHTML += (po1 + ' ' + po2);
								}

							}

							function reEnable(){
								var total = document.getElementById('other-addresses-total').value;
								var count = 1;


								var lookupBlock = '#postcode-lookup-block-';
								var postcodeBlock = '#postcode-block-';
								var currentButton = '#current-address-radio-1-'
								var curBlock ='#current-address-';
								var notCurBlock='#not-current-address-';
								var poBlo = "#postcode-block-";
								var adFiBlo= "#address-fields-block-";


								$('#yes-other-addresses-block').find('input,select,radio').prop('disabled',false);

								while (count < (total+1)) {
									// loop through address blocks
									if ($('#postcode-block-'+count).hasClass('js-hidden')) {
										$('#postcode-block-'+count).find('input,select,radio').prop('disabled',true);
										$('#postcode-lookup-block-'+count).find('input,select,radio').prop('disabled',false);
									}
									if ($('#postcode-lookup-block-'+count).hasClass('js-hidden')) {
										$('#postcode-block-'+count).find('input,select,radio').prop('disabled',false);
										$('#postcode-lookup-block-'+count).find('input,select,radio').prop('disabled',true);
									}
									// If Current Address options not selected then disable all fields
									if (document.getElementById('current-address-radio-1-'+count).checked || document.getElementById('current-address-radio-2-'+count).checked) {
										console.log('An option is checked for address '+count);
										if ($('#not-current-address-'+count).hasClass('js-hidden')) {
											$('#current-address-'+count).find('input,select,radio').prop('disabled', false);
											$('#not-current-address-'+count).find('input,select,radio').prop('disabled', true);
										} // if
										if ($('#current-address-'+count).hasClass('js-hidden')) {
											$('#not-current-address-'+count).find('input,select,radio').prop('disabled', false);
											$('#current-address-'+count).find('input,select,radio').prop('disabled', true);
										} // if
									} // if
									else {
										$('#current-address-'+count).find('input,select,radio').prop('disabled', true);
										$('#not-current-address-'+count).find('input,select,radio').prop('disabled', true);
									} //else

									if ($('#postcode-block-'+count).hasClass('js-hidden')) {
										$('#address-fields-block-'+count).find('input,select,radio').prop('disabled', false);
										$('#postcode-block-'+count).find('input,select,radio').prop('disabled', true);
									}
									if ($('#address-fields-block-'+count).hasClass('js-hidden')) {
										$('#address-fields-block-'+count).find('input,select,radio').prop('disabled', true);
										$('#postcode-block-'+count).find('input,select,radio').prop('disabled', false);
									}


									count+=1;
								}

								$('#add-other-address-').find('input,select,radio').prop('disabled',true);
							}

							function disableAll(){
								// If NO for other addresses, disable everything
								$('#yes-other-addresses-block').find('input,select,radio').prop('disabled',true);
							}
				    	</script>

				    	<!-- Show hidden address area -->
				    	<a class="" id="mylink" href="#">Add another address</a>
				    	<br><br><br><br>
				    </div> <!-- CLOSE YES ADDRESSES BLOCK -->
				 </div> <!-- Form group close-->
				<div class="form-group">
				    <a role="button" id="helpBlock" href="#/" onClick="javascript:toggleHelp();">
				   		<i class="arrow arrow-closed" id="helpArrow">►</i>
				    	<span class="summary">Help with addresses</span>
				    </a>

				    <div id="helpBlockText" class="panel panel-border-narrow js-hidden" >

				    	<p>You can't have gaps in your address history, but it's fine to have overlapping dates if you've spent time living at two addresses. </p><p>You don't need to include places you've stayed on holiday or if you occasionally stay away overnight for work.</p>
				    	<h2 class="heading-small">If you have more than one address at the same time</h2>
					    <p>
							If you're living at a second address, for example if you're a student or work away for work, enter the address and date you moved in.
					    </p>

					    <h2 class="heading-small">If you've lived overseas</h2>
					    <p>
							Enter any overseas addresses you've lived at in the past 5 years.
					    </p>

					    <h2 class="heading-small">If you lived on a canal boat, cruise ship or merchant vessel</h2>
					    <p>
							Enter the registered port address or permanent mooring address. You don't need to include each of the places you passed through or temporarily stopped off at.
					    </p>

					    <h2 class="heading-small">If you were travelling</h2>
					    <p>
							If you were travelling (around the UK or overseas) and didn't have a permanent address write 'Travelling' in address field 1 and select the country you were in.
						</p>
						<h2 class="heading-small">If you were in HM Armed Forces</h2>
						<p>
							If you've been in HM Armed Forces enter your full BFPO (British Forces Post Office) number.
						</p>
						<h2 class="heading-small">If you were homeless</h2>
						<p>
							If you've been homeless during the last 5 years enter 'No fixed abode' in address line 1, and put the town or city and country you were during this time. If you spent
							time in different towns you'll need to add each one separately.
						</p>

						<p>
							If you lived in temporary accommodation (for example, a hostel) enter that address.
						</p>
						<h2 class="heading-small">If you were in a women's refuge or sheltered accommodation</h2>
						<p>
							If you were in a women's refuge or sheltered
							accommodation you don't have to say what type of accommodation it was, just enter the address.
						</p>
						<h2 class="heading-small">If you were in prison</h2>
						<p>
							If you spent time in prison enter the prison's address.
					    </p>


					</div> <!-- END HELP BLOCK -->

				</div>


			    <!-- Continue button -->
			    <div class="form-group">
			    	<input type="submit" class="button" value="Save and continue" onClick="javascript:checkDates();">
				</div> <!-- Form group close-->

			</form>
			<input disabled class="js-hidden" value='{{ formdata["correct-address-since-month"] }}' id="prevPage-current-month">
			<input disabled class="js-hidden" value='{{ formdata["correct-address-since-year"] }}' id="prevPage-current-year">
			<input disabled class="js-hidden" value='{{ formdata["incorrect-address-since-month"] }}' id="prevPage-incorrect-month">
			<input disabled class="js-hidden" value='{{ formdata["incorrect-address-since-year"] }}' id="prevPage-incorrect-year">
		</div>
	</div>



</main>

<!-- scripts for page validation -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/parsley.min.js"></script>
<script src="/public/javascripts/form-utilities.js"></script>

<script type="text/javascript">
	var parsleyForm;
	var thisFormInstance = $( "form:first-of-type" ); // assuming we're validating first form on this page

	// attach parsley validation to the form
	parsleyForm = thisFormInstance.parsley({
		excluded: 'input[type=button], input[type=submit], input[type=reset], :disabled',
		focus:"none"
	});

	// before form is validated, catch the event and do custom validation if needed
	  thisFormInstance.parsley().on('form:validate', function(formInstance) {

	    var ok = true;
	    // add custom validations here - set ok to false if any of them fail validation

	    //ok = ok && checkDiagnosisFutureDate();
	    //ok = ok && validateDOB();

	    if (!ok) {
	      formInstance.validationResult = false;
	    } else {
	      formInstance.validationResult = true;
	    }
	  });

	  // what to do when form doesn't validate
	  thisFormInstance.parsley().on('form:error', function(formInstance) {
	    //console.log('form error');

	    // construct error display
	    GOVUK.formUtilities.showErrorSummary();
	  });

	  // what to do when form validates successfully
	  thisFormInstance.parsley().on('form:submit', function(formInstance) {
	    //console.log('form success');
	    GOVUK.formUtilities.hideErrorSummary();

	    // allow the form to submit
	    return true;
	  });




	  $("input[name=radio-correct-address-group]").on('click', function() {
			var postcodePanel = $('#postcode-block');
			var addressPanel = $('#new-address-fields-block');

			var correctAddressPanel = $('#correct-address');
			var newAddressPanel = $('#incorrect-address');

			// if Another address selected, enable fields depending on whether manual is selected
			// else disable those fields
			if ($(this).val() == "Yes") {
				// remove disabled prop

				correctAddressPanel.find('input,select,radio').prop('disabled',false);
				newAddressPanel.find('input,select,radio').prop('disabled',true);
				}
			else if($(this).val() == "No") {

				correctAddressPanel.find('input,select,radio').prop('disabled',true);
				newAddressPanel.find('input,select,radio').prop('disabled',false);

				// If Postcode finder NOT active, enable address fields
				// Else enable postcode finder field
				if ($('#new-manual-toggle-link').hasClass("manual")) {
					postcodePanel.find('input,select,radio').prop('disabled',true);
					addressPanel.find('input,select,radio').prop('disabled',false);
				}
				else {
					postcodePanel.find('input,select,radio').prop('disabled',false);
					addressPanel.find('input,select,radio').prop('disabled',true);
				}


			}
		});

		function checkDates() {
			// Scan through the dates supplied checking that at least one of them is at least 5 years old - must have at least 5 years of addresses supplied

			var datesSatisfied = false;

			// Get today's date
			var today = new Date();
			var mm = today.getMonth()+1;
			var yyyy = today.getFullYear();
			console.log(mm);
			console.log(yyyy);

			// Get dates from current address page (previous page)

			var curSinceMonth;
			var curSinceYear;
			if (document.getElementById('prevPage-current-month').value == '') {
				curSinceMonth = document.getElementById('prevPage-incorrect-month').value;
				curSinceYear = document.getElementById('prevPage-incorrect-year').value;
			} else {
				curSinceMonth = document.getElementById('prevPage-current-month').value;
				curSinceYear = document.getElementById('prevPage-current-year').value;
			}
			if (String(curSinceMonth).length < 2){
				curSinceMonth = '0'+curSinceMonth;
			}
			var curSinceDate = String(curSinceYear) + String(curSinceMonth);


			// Check if the dates from the previous page satisfy the date constraints
			if (curSinceYear <= (yyyy-5)) {
				if (curSinceYear < (yyyy-5)) {
					console.log("Current year is over 5 years ago");
					datesSatisfied=true;
				} else if (curSinceYear == (yyyy-5)) {
					if (curSinceMonth <= mm) {
						datesSatisfied=true;
						console.log("Current year and month is over 5 years ago");
					}
				}
			}



			// Check through other addresses to see if 5 year address history is satisfied
			if (!datesSatisfied) {
				console.log('Dates not satisfied yet');
				var othAddsTotal = document.getElementById('other-addresses-total').value;
				othAddsTotal++;
				console.log(othAddsTotal);
				var oth=1;
				while (oth < (othAddsTotal) && !datesSatisfied) {
					console.log(oth);
					var otherYear;
					var otherMonth;
					if (document.getElementById('cur-address-since-year-'+oth).value == '' && document.getElementById('nc-address-since-year-'+oth).value == '') {
						// Address has been deleted so skip
						datesSatisfied=false;
					} else {
						if (document.getElementById('cur-address-since-year-'+oth).value == '') {
							otherYear = document.getElementById('nc-address-since-year-'+oth).value;
							otherMonth = document.getElementById('nc-address-since-month-'+oth).value;
						} else {
							otherYear = document.getElementById('cur-address-since-year-'+oth).value;
							otherMonth = document.getElementById('cur-address-since-month-'+oth).value;
						}

						console.log(otherYear);

						if (otherYear <= (yyyy-5)) {
							if (otherYear<(yyyy-5)){
								datesSatisfied=true;
								console.log('dates satisfied now');
							} else if (otherYear==(yyyy-5)) {
								if (otherMonth <= mm) {
									datesSatisfied=true;
									console.log('Dates staisfied by other yyyy and mm');
								}
							}

						}
					}

					oth++;
				}
			}



			// At least one has to be a current address

			// If dates NOT satisfied, then enable the hidden input to allow validationt to kick in. Else disable to remove validation
			if (!datesSatisfied){
				$('#addressCheck').find('input,select,radio').prop('disabled',false);
			} else {
				$('#addressCheck').find('input,select,radio').prop('disabled',true);
			}

			checkGaps();

		}





		function toggleHelp() {
			// When the extra help link is clicked it will display help block
			if($('#helpArrow').hasClass('arrow-closed')) {
				$('#helpArrow').removeClass('arrow-closed');
				$('#helpArrow').html("▼");
				$('#helpBlockText').removeClass('js-hidden');
			}
			else {
				$('#helpArrow').addClass('arrow-closed');
				$('#helpArrow').html("►");
				$('#helpBlockText').addClass('js-hidden');
			}

		}





		function checkGaps() {
			// Check if there are gaps in the dates
			// Get all dates, create YYYYMM strings, compare them to make sure there are no gaps
			var gaps = false;
			// Store all address from - to pairs
			var addresses = [];


			// Get address since for current address on previous page
			var curSinceMonth;
			var curSinceYear;
			var curToMonth;
			var curToYear;
			if (document.getElementById('prevPage-current-month').value == '') {
				curSinceMonth = document.getElementById('prevPage-incorrect-month').value;
				curSinceYear = document.getElementById('prevPage-incorrect-year').value;
			} else {
				curSinceMonth = document.getElementById('prevPage-current-month').value;
				curSinceYear = document.getElementById('prevPage-current-year').value;
			}
			if (String(curSinceMonth).length < 2){
				curSinceMonth = '0'+curSinceMonth;
			}
			var curSinceDate = String(curSinceYear) + String(curSinceMonth);

			// As cureent address, set TO date as today's date
			var today = new Date();
			curToMonth = today.getMonth()+1;
			curToYear = today.getFullYear();
			if (String(curToMonth).length < 2){
				curToMonth = '0'+curToMonth;
			}
			var curToDate = String(curToYear) + String(curToMonth);

			var curAddress = {};
			curAddress['from']=curSinceDate;
			curAddress['to']=curToDate;
			addresses.push(curAddress);




			var othAddsTotal = document.getElementById('other-addresses-total').value;
			othAddsTotal++;

			var oth=1;
			while (oth < othAddsTotal) {
				// Calculate date SINCE
				if (document.getElementById('cur-address-since-year-'+oth).value == '' && document.getElementById('nc-address-since-year-'+oth).value == '')
				{
					// Address deleted so ignore
				}
				else
				{
					var sinceYear;
					var sinceMonth;
					if (document.getElementById('cur-address-since-year-'+oth).value == '') {
						sinceYear = document.getElementById('nc-address-since-year-'+oth).value;
						sinceMonth = document.getElementById('nc-address-since-month-'+oth).value;
					} else {
						sinceYear = document.getElementById('cur-address-since-year-'+oth).value;
						sinceMonth = document.getElementById('cur-address-since-month-'+oth).value;
					}
					console.log('Since year '+sinceYear);
					console.log('Since month '+sinceMonth);
					if (String(sinceMonth).length < 2){
						sinceMonth = '0'+sinceMonth;
					}
					var sinceDate = sinceYear + sinceMonth;
					console.log(sinceDate);

					// Calculate date TO
					// If current, set toDate to current date
					var toYear;
					var toMonth;
					if (document.getElementById('nc-address-to-year-'+oth).value == '') {
						toMonth = today.getMonth()+1;
						toYear = today.getFullYear();
					} else {
						toYear = document.getElementById('nc-address-to-year-'+oth).value;
						toMonth = document.getElementById('nc-address-to-month-'+oth).value;
					}
					if (String(toMonth).length < 2){
						toMonth = '0'+toMonth;
					}
					var toDate = String(toYear) + String(toMonth);
					console.log(toDate);

					var address = {};
					address['from']=sinceDate;
					address['to']=toDate;
					addresses.push(address);
				}

				oth++;

			}


			console.log("dates: %s", JSON.stringify(addresses));


			// Sort based on FROM date
			addresses.sort(function (a, b) {
	  			if (a.from > b.from) {
	    			return 1;
	  			}
	  			if (a.from < b.from) {
	    			return -1;
	  			}
	  			// a must be equal to b
	  			return 0;
			});
			console.log("dates: %s", JSON.stringify(addresses));




			// Search through sorted array to check for gaps
			// First check if oldest address is still current
			var addHistCutOff = String(curToYear-5) + String(curToMonth);;
			var oldest = addresses[0];
			if (oldest.from <= addHistCutOff) {
				console.log('Oldest address from date is older than 5 years');
				if (oldest.to == curToDate) {
					console.log('Current address covers enough');
					gaps = false;
				}
				else {
					gaps = true;
				}
			}
			else {
				console.log("Oldest address isn't old enough");
				gaps = true;
			}

			if (gaps) {
				console.log('Gap exists in current address so checking others');
				var i=0;
				var j=1;
				var gapExist = false;
				while (j < addresses.length) {
					if (addresses[i].to >= addresses[j].from){
						if (addresses[i].to >= addresses[j].to) {
							// if i TO is greater than both FROM and TO of j
							j++;
							console.log('i is greater than both From and To of j');
						} else {
							// if i TO is greater than j FROM but smaller than j TO
							i=j;
							j++;
							console.log('i is greater than j From but not To of j');
						}
					} else {
						// if i TO is smaller than j FROM, then there is a GAP
						gapExist = true;
						console.log('i is smaller than j From so gap exists - BREAK');
						break;
					}
				}

				gaps = gapExist;
			}





			// If gaps is TRUE (aka gaps exist) enable the validation field
			if (gaps) {
				$('#gapsCheck').find('input,select,radio').prop('disabled',false);
			} else {
				$('#gapsCheck').find('input,select,radio').prop('disabled',true);
			}
		}


</script>

{% endblock %}
