{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">

			<div class="breadcrumbs">
				<ol><li>Declaration</li></ol>
			</div> <!-- Breadcrumb -->
			
			
			<form action="formPayment" method="post" class="form">

			    <div class="form-group">
			    	<div class="form-group">
			    		<h3 class="form-label-bold" style="font-size:24px;">I confirm that:</h3>
			    	</div>
			    	<ul class="list-bullet">
			    		<li>I have read and accept the <a href="#">Terms and Conditions</a> and the <a href="#">Privacy Policy</a> of the Basic Disclosure service</li>
			    		<li>The information supplied is complete, true, and correct to the best of my knowledge</li>
			    	</ul>
			    	
			    </div> <!-- Form group close-->

			    <div class="form-group">
					<div class="form-group">
			    		<h3 class="form-label-bold" style="font-size:24px;">I understand that:</h3>
			    	</div>
			    	<ul class="list-bullet">
			    		<li>Knowingly making a false statement for this application may be a criminal offence</li>
			    		<li>Details provided will be referred to government and law enforcement bodies in accordance with any relevant legislation</li>
			    		<li>The details provided will be used for identifying possible matches to records held by these bodies</li>
			    		<li>A payment of £16 is required to complete the Basic Disclosure application</li>
			    	</ul>
			    </div> <!-- Form group close-->

			    <!-- Declaration acceptance checkbox -->
			    <div class="form-group">
			    	<label class="block-label" for="check-declaration">
						<input id="check-declaration" type="checkbox" name="check-declaration-group" value="Yes">
						I understand and agree with the above declaration
					</label>
			    </div>


			    <!-- Confirm button -->
			    <div class="form-group">
			    	<input type="submit" class="button" value="Confirm">
				</div> <!-- Form group close-->

			</form>
		</div>
	</div>



</main>

{% endblock %}


