{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">

			{% include 'includes/error_summary.html' %}{# include if this page has validation requirements #}


			<div class="breadcrumbs">
				<ol><li>Section 8 of 8</li></ol>
			</div> <!-- Breadcrumb -->
			
			
			<form action="formSummary" method="post" class="form">

			    <div id="convictions-group" class="form-group">
			    	<fieldset class="inline">
			    		<legend class="form-label-bold">Do you have any unspent convictions, cautions, reprimands or final warnings?</legend>
			    		<p class="form-hint">You don't need to tell us about motoring fines or penalty points unless there were court imposed.</p>
			    		<div id="convictions-group-error-message" class="form-error validation-message"></div>

			    		<!-- Yes/No Radio -->
			    		<label class="block-label" for="radio-convictions-1" data-target="convictions-block">
						    <input id="radio-convictions-1" type="radio" name="radio-convictions-group" value="Yes"
						    	data-parsley-class-handler="#convictions-group" 
          							data-parsley-errors-container="#convictions-group-error-message"
          							data-parsley-required="true"
    								data-parsley-required-message="Confirm if you have other convictions"  >
						    Yes
					    </label>
						
					    <label class="block-label" for="radio-convictions-2">
						    <input id="radio-convictions-2" type="radio" name="radio-convictions-group" value="No">
						    No
					    </label>
			    	</fieldset>

			    	<!-- Expandable panel area  Convictions text -->
			    	<div class="panel panel-border-narrow js-hidden" id="convictions-block">
			    		<div class="form-group">
			    			<label class="form-label" for="convictions-textarea">Please tell us what they are</label>
			    			<textarea id="convictions-textarea" name="convictions-info" class="form-control" rows="10" cols="30"></textarea>
						</div> <!-- Form group close-->

			    	</div> <!-- Expandable panel area Close ANOTHER ADDRESS-->

			    </div> <!-- Form group close-->

			    <div class="form-group">
					<ul class="list-bullet" style="color:Red;">
						<li>Should we have the text area for convictions?</li>
						<li>Will this be useful?</li>
						<li>Needed for application debate?</li>
						<li>TCS dependency</li>
					</ul>
				</div>

			    <!-- Continue button -->
			    <div class="form-group">
			    	<input type="submit" class="button" value="Continue">
				</div> <!-- Form group close-->

			</form>
		</div>
	</div>



</main>

<!-- scripts for page validation -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/parsley.min.js"></script>
<script src="/public/javascripts/form-utilities.js"></script>

<script type="text/javascript">
	var parsleyForm;
	var thisFormInstance = $( "form:first-of-type" ); // assuming we're validating first form on this page

	// attach parsley validation to the form
	parsleyForm = thisFormInstance.parsley({
		excluded: 'input[type=button], input[type=submit], input[type=reset]',
		focus:"none"
	});

	// before form is validated, catch the event and do custom validation if needed
	  thisFormInstance.parsley().on('form:validate', function(formInstance) {

	    var ok = true;
	    // add custom validations here - set ok to false if any of them fail validation
	    
	    //ok = ok && checkDiagnosisFutureDate();
	    //ok = ok && validateDOB();

	    if (!ok) {
	      formInstance.validationResult = false;
	    } else {
	      formInstance.validationResult = true;
	    }
	  });

	  // what to do when form doesn't validate
	  thisFormInstance.parsley().on('form:error', function(formInstance) {
	    //console.log('form error');

	    // construct error display
	    GOVUK.formUtilities.showErrorSummary();
	  });

	  // what to do when form validates successfully
	  thisFormInstance.parsley().on('form:submit', function(formInstance) {
	    //console.log('form success');
	    GOVUK.formUtilities.hideErrorSummary();

	    // allow the form to submit
	    return true;
	  });


</script>

{% endblock %}


