{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}
{% set main_question = "What is your sex?" %}
{% block content %}

<main id="content" role="main">
  {% include 'includes/phase_banner_alpha.html' %}
  <a href="javascript: window.history.go(-1)" class="link-back">Back</a>
	<div class="grid-row">
		<div class="column-two-thirds reduceMargin">

			{% include 'includes/error_summary.html' %}
      {# include if this page has validation requirements #}


      <h1 class="heading-medium">{{main_question}}</h1>

			  	<!-- Gender -->
        <form action="formPlaceBirth" method="post" class="form">
				<div id="radio-gender-group-form-group" class="form-group">
					<fieldset>
						<legend class="visuallyhidden">{{main_question}}</legend>

						<div id="radio-gender-group-error-message" class="form-error validation-message"></div>

						<label class="block-label" for="gender-radio-1">
							<input id="gender-radio-1" type="radio" name="radio-gender-group" value="Female"
								data-parsley-class-handler="#radio-gender-group-form-group"
          							data-parsley-errors-container="#radio-gender-group-error-message"
          							data-parsley-required="true"
    								data-parsley-required-message="Select your sex" >
							Female
						</label>
						<label class="block-label" for="gender-radio-2">
							<input id="gender-radio-2" type="radio" name="radio-gender-group" value="Male"  >
							Male
						</label>
					</fieldset>
				</div> <!-- Form group close-->

			    <!-- Continue button -->
			    <div class="form-group">
			    	<input type="submit" class="button" value="Save and continue">
				</div> <!-- Form group close-->

			</form>
		</div>
	</div>



</main>

<!-- scripts for page validation -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/parsley.min.js"></script>
<script src="/public/javascripts/form-utilities.js"></script>

<script type="text/javascript">
	var parsleyForm;
	var thisFormInstance = $( "form:first-of-type" ); // assuming we're validating first form on this page

	// attach parsley validation to the form
	parsleyForm = thisFormInstance.parsley({
		excluded: 'input[type=button], input[type=submit], input[type=reset]',
		focus:"none"
	});

	// before form is validated, catch the event and do custom validation if needed
	  thisFormInstance.parsley().on('form:validate', function(formInstance) {

	    var ok = true;
	    // add custom validations here - set ok to false if any of them fail validation

	    //ok = ok && checkDiagnosisFutureDate();
	    //ok = ok && validateDOB();

	    if (!ok) {
	      formInstance.validationResult = false;
	    } else {
	      formInstance.validationResult = true;
	    }
	  });

	  // what to do when form doesn't validate
	  thisFormInstance.parsley().on('form:error', function(formInstance) {
	    //console.log('form error');

	    // construct error display
	    GOVUK.formUtilities.showErrorSummary();
	  });

	  // what to do when form validates successfully
	  thisFormInstance.parsley().on('form:submit', function(formInstance) {
	    //console.log('form success');
	    GOVUK.formUtilities.hideErrorSummary();

	    // allow the form to submit
	    return true;
	  });


</script>
{% endblock %}
