{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">

			{% include 'includes/error_summary.html' %}{# include if this page has validation requirements #}

			<div class="breadcrumbs">
				<ol><li>Section 1 of 9</li></ol>
			</div> <!-- Breadcrumb -->


			<form action="formSensitive" method="post" class="form">

				<span class="heading-medium">Your personal details<br></span>
				<br>
				<!-- Verified details -->
				<div class="form-group">
					<p class="form-hint">These are your personal details from your GOV.UK Verify account.</p>
					<span class="text-secondary">Name<br></span>
					<span>John Smith<br></span>
					<span class="text-secondary">Date of birth<br></span>
					<span>01/01/1960<br></span>
					<span class="text-secondary">Gender<br></span>
					<span>Male<br></span>
				</div> <!-- Form group close-->

				<div class="form-group">
		            <ul class="list-bullet" style="color:Red;">
		                <li>What happens if not correct info?</li>
		                <li>Is it possible for Verify to not return a gender?</li>
		            </ul>
		        </div>

			  	<!-- Details correct -->
				<div class="form-group">
					<fieldset>
						<legend class="form-label-bold">Are your personal details correct and up-to-date?</legend>
						<p class="form-hint">Look at your name, date of birth, and gender.</p>

						<!-- error message holder -->
						<div id="check_options_id-error-message" class="form-error validation-message"></div>

						<label class="block-label" for="correct-radio-1">
							<input id="correct-radio-1" type="radio" name="radio-correct-group" value="Yes">
							Yes, my personal details are correct
						</label>
								
						<label class="block-label" for="correct-radio-2">
							<input id="correct-radio-2" type="radio" name="radio-correct-group" value="No">
							No, some details are wrong or have changed
						</label>
					</fieldset>
				</div> <!-- Form group close-->

			    <!-- Continue button -->
			    <div class="form-group">
			    	<input type="submit" class="button" value="Continue">
				</div> <!-- Form group close-->

			</form>
		</div>
	</div>



</main>

<!-- script for page validation -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/parsley.min.js"></script>
<script src="/public/javascripts/form-utilities.js"></script>

<script type="text/javascript">
	var parsleyForm;
	var thisFormInstance = jQuery( "form:first-of-type" ); // assuming we're validating first form on this page

	console.log(thisFormInstance);

	// attach parsley validation to the form
	parsleyForm = thisFormInstance.parsley({
		excluded: 'input[type=button], input[type=submit], input[type=reset]',
		focus:"none"
	});

	// before form is validated, catch the event and do custom validation if needed
	  thisFormInstance.parsley().on('form:validate', function(formInstance) {

	    var ok = true;
	    //ok = ok && checkDiagnosisFutureDate();
	    //ok = ok && validateDOB();

	    if (!ok) {
	      formInstance.validationResult = false;
	      // check error classess
	      setTimeout(function() {
	        //checkErrorClass();
	      }, 50);
	    } else {
	      formInstance.validationResult = true;
	    }
	  });

	  // what to do when form doesn't validate
	  thisFormInstance.parsley().on('form:error', function(formInstance) {
	    //console.log('form error');

	    // construct error display
	    GOVUK.formUtilities.showErrorSummary();
	  });

	  // what to do when form validates successfully
	  thisFormInstance.parsley().on('form:submit', function(formInstance) {
	    //console.log('form success');
	    GOVUK.formUtilities.hideErrorSummary();

	    //submitForm();
	    return true;
	  });


</script>
{% endblock %}


