{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
  	<div class="column-two-thirds">
    	<h1 class="heading-large">Apply for a basic criminal record check</h1>
    </div>
    <div class="column-two-thirds">

        <p>Use the basic criminal record check service to find out what unspent convictions and cautions you have.<br>
        (A basic criminal record check is the same as a Basic Disclosure from Disclosure Scotland).</p>
    	
        <p>You must be 16 to use this service.</p>
        You can't use this service if:<p>
        <ul class="list-bullet">
            <li>you live in Scotland or Northern Ireland</li>
            <li>you've been asked to get a standard or enhanced DBS check for your job</li>
        </ul></p>
        Ask your employer if you're not sure which type of criminal record check you need to get for a job.
        

        <h2 class="heading-medium">How much it costs</h2>
        It costs £16 to get a basic criminal record check

    	<h2 class="heading-medium">What you will need</h2>
    	Before you apply make sure you have:
        <p>
		<ul class="list-bullet">
			<li>details of all your addresses for the last 5 years - including the dates you lived there</li>
			<li>your national insurance number</li>
			<li>a valid passport or driving licence</li>
            <li>a debit or credit card to pay online</li>
		</ul>
        </p>
        <p>You'll also need an account with GOV.UK Verify so we can check identity. You can sign up in about 10 minutes.

        <div class="form-group">
            <ul class="list-bullet" style="color:Red;">
                <li>Link to terms and conditions on front page?</li>
                <li>On start page or in footer?</li>
                <li>Need copy on consenting to collecting data for Verify</li>
            </ul>
        </div>

    	<br><br>
    	<a class="button button-start" href="https://govuk-verify.herokuapp.com/intro?requestId=dbs-basic-application" role="button">Start now</a>
        <br>
        <a href="https://govuk-verify.herokuapp.com/intro?requestId=dbs-basic-application&verify=false">TEST fail verify</a><br>
        <a href="formFirstPage.html">TEST skip Verify</a>

    </div>

    <div class="column-third">
    	<h3 class="heading-medium">Recruiting and hiring</h3>
    	<p><a href="#">Find out if you can check someone's criminal record</a></p>
	    <p><a href="#" style="font-weight:bold;">More</a></p>


	    <h3 class="heading-medium">Elsewhere on GOV.UK</h3>
    	<p><a href="#">Criminal records check to become a driving instructor</a></p>
        <p><a href="#">Job offers: your rights</a></p>
        <p><a href="#">DBS checks: guidance for employers</a></p>

    </div>

  </div>
</main>

{% endblock %}


