{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
  	<div class="column-two-thirds">
    	<h1 class="heading-large">Apply for a basic criminal record check</h1>
    </div>
    <div class="column-two-thirds">

        <p>A basic DBS check (formerly a CRB check) shows unspent cautions and unspent convictions.</p>
    	
        <h2 class="heading-medium">Eligibility</h2>
        There is no eligibility criteria for a basic DBS check but you must be 16 or over.<br> 
        There are different rules for getting a criminal record check in <a href="#">Scotland</a> and <a href="#">Northern Ireland</a>.<br><br>
        For certain roles you may need a standard or enhanced DBS check. Use the <a href="#">criminal record check tool</a> to find out what type of DBS check is right for you. You can contact DBS if you’re not sure.


        <h2 class="heading-medium">Cost</h2>
        A basic DBS check costs £16

    	<h2 class="heading-medium">What you need to get started</h2>
    	To verify your identity you'll need to set up an account with GOV.UK Verify or log in to an existing account.<br><br>
		You'll also need:
		<ul class="list-bullet">
			<li>your National Insurance number</li>
			<li>5 year address history</li>
			<li>a valid Passport or a valid driving licence</li>
		</ul><br>
		It'll take you around 15 minutes to set up a GOV.UK Verfiy account, and another 15 minutes to apply for a basic DBS check. You don't need to do these at the same time.

        <h2 class="heading-medium">Verifying your identity</h2>
        You'll need to verify your identity using GOV.UK Verify.<br>
        To use GOV.UK Verify you'll need a UK passport, photocard driving licence or bank statement.

        <h2 class="heading-medium">Other ways to apply</h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed lacus consequat arcu convallis consequat. Donec posuere ullamcorper cursus. Sed tempus metus in ligula tristique ullamcorper.<br>
        <div class="form-group">
            <ul class="list-bullet" style="color:Red;">
                <li>Link to terms and conditions on front page?</li>
                <li>On start page or in footer?</li>
                <li>Need copy on consenting to collecting data for Verify</li>
            </ul>
        </div>

    	<br><br>
    	<a class="button button-start" href="https://govuk-verify.herokuapp.com/intro?requestId=dbs-basic-application" role="button">Start now</a>
        <br>
        <a href="https://govuk-verify.herokuapp.com/intro?requestId=dbs-basic-application&verify=false">TEST fail verify</a><br>
        <a href="formFirstPage.html">TEST skip Verify</a>

    </div>

    <div class="column-third">
    	<h3 class="heading-medium">Recruiting and hiring</h3>
    	<p><a href="#">Find out if you can check someone's criminal record</a></p>
	    <p><a href="#" style="font-weight:bold;">More</a></p>


	    <h3 class="heading-medium">Elsewhere on GOV.UK</h3>
    	<p><a href="#">Criminal records check to become a driving instructor</a></p>
        <p><a href="#">Job offers: your rights</a></p>
        <p><a href="#">DBS checks: guidance for employers</a></p>

    </div>

  </div>
</main>

{% endblock %}


