{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}
{% set main_question = "When did you live this address?" %}
{% block content %}

<main id="content" role="main">
  {% include 'includes/phase_banner_alpha.html' %}
  <a href="javascript: window.history.go(-1)" class="link-back">Back</a>
	<div class="grid-row">
		<div class="column-two-thirds reduceMargin">

			{% include 'includes/error_summary.html' %}
      {# include if this page has validation requirements #}

			<form action="formAddressHistory" method="post" class="form">




        <h1 class="heading-medium">{{main_question}}</h1>
			  	<!-- Details correct -->
				<div class="form-group" id="add-new-address-group">

						<legend class="visuallyhidden">{{ main_question }}</legend>
						<!-- Verified details -->

              <!-- Postcode block -->
              <fieldset>
                <div class="form-group">
                <label class="bold-small">Start date</label>
                <legend class="visuallyhidden">Start date</legend>
                <p class="form-hint">For example, 03 1980</p>
                <div class="form-date">

                  <div id="address-since-group-error-message" class="form-error validation-message"></div>
                  <div class="form-group form-group-month">
                    <label for="correct-address-since-month">Month</label>
                    <input class="form-control" name="correct-address-since-month" id="correct-address-since-month" type="number" maxlength="2" pattern="[0-9]*" min="0" max="12"
                      data-parsley-class-handler="#address-since-group"
                            data-parsley-errors-container="#address-since-group-error-message"
                            data-parsley-required="true"
                        data-parsley-required-message="Enter the month you moved into this address"
                    >
                  </div>
                  <div class="form-group form-group-year">
                    <label for="correct-address-since-year">Year</label>
                    <input  class="form-control" name="correct-address-since-year" id="correct-address-since-year" type="number" maxlength="4" pattern="[0-9]*" min="1900" max="2016"
                      data-parsley-class-handler="#address-since-group"
                            data-parsley-errors-container="#address-since-group-error-message"
                            data-parsley-required="true"
                        data-parsley-required-message="Enter the year you moved into this address"
                    >
                  </div>
                  </div>
                </div>

                <div class="form-group" id="end-date">

                  <label class="bold-small">End date</label>
                  <p class="form-hint">For example, 03 1980</p>
                  <div class="form-date">

                    <div id="address-since-group-error-message" class="form-error validation-message"></div>
                    <div class="form-group form-group-month">
                      <label for="correct-address-since-month">Month</label>
                      <input class="form-control" name="correct-address-until-month" id="correct-address-until-month" type="number" maxlength="2" pattern="[0-9]*" min="0" max="12"
                        data-parsley-class-handler="#address-until-group"
                              data-parsley-errors-container="#address-until-group-error-message"
                              data-parsley-required="true"
                          data-parsley-required-message="Enter the month you moved into this address"
                      >
                    </div>
                    <div class="form-group form-group-year">
                      <label for="correct-address-since-year">Year</label>
                      <input  class="form-control" name="correct-address-until-year" id="correct-address-until-year" type="number" maxlength="4" pattern="[0-9]*" min="1900" max="2016"
                        data-parsley-class-handler="#address-until-group"
                              data-parsley-errors-container="#address-until-group-error-message"
                              data-parsley-required="true"
                          data-parsley-required-message="Enter the year you moved into this address"
                      >
                    </div>
                  </div>

                    <div class="form-group">
                      <br/>
                      <label class="block-label" for="current-address">
                  <input id="current-address" name="current-address" type="checkbox" value="current-address" onClick="javascript:flipDisable();" >
                  This is my current address
                  </label>
                </div>
  </div>




</fieldset>




			    <!-- Continue button -->
			    <div class="form-group">
			    	<input type="submit" class="button" value="Save and continue">
				</div> <!-- Form group close-->
			</form>
		</div>
	</div>


</main>

<!-- scripts for page validation -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/parsley.min.js"></script>
<script src="/public/javascripts/form-utilities.js"></script>

<script type="text/javascript">


    function flipDisable(){
      console.log('TEST');

      if $('#end-date').hasClass('disabled') {
        $('#end-date').find('input,select,radio').prop('disabled', false);
      } else  {
        $('#end-date').find('input,select,radio').prop('disabled', true);
      }

    }


	function swapBlock(blockID){
		var newPostcodePanel = $('#postcode-block');
		var newAddressPanel = $('#new-address-fields-block');

		$("#"+blockID).toggleClass("manual");
		$("#postcode-block").toggleClass("js-hidden");
		$("#new-address-fields-block").toggleClass("js-hidden");

		if ($("#"+blockID).hasClass("manual")){
			$("#"+blockID).html("Use Postcode finder");
			newAddressPanel.find('input,select,radio').prop('disabled', false);
			newPostcodePanel.find('input,select,radio').prop('disabled', true);
		}
		else {
			$("#"+blockID).html("Enter address manually");
			newAddressPanel.find('input,select,radio').prop('disabled', true);
			newPostcodePanel.find('input,select,radio').prop('disabled', false);
		}

		// Use Postcode finder
		// Enter address manually
		return false;
	}

	function poLookup(){
		var lookupBlock = '#current-postcode-lookup-block';
		var postcodeBlock = '#postcode-block';

		// When Lookup Postcode button is clicked, hide the postcode block and display the lookup block
		$(lookupBlock).toggleClass('js-hidden');
		$(postcodeBlock).toggleClass('js-hidden');
		$('#new-manual-toggle-link').toggleClass('js-hidden');

		// Disable fields in postcodeBlock to avoid validation error
		if ($(lookupBlock).hasClass('js-hidden')) {
			$(postcodeBlock).find('input,select,radio').prop('disabled',false);
			$(lookupBlock).find('input,select,radio').prop('disabled',true);
			$('#postcode').val('');
			document.getElementById('current-entered-po').innerHTML ='';
		}
		else {
			$(postcodeBlock).find('input,select,radio').prop('disabled',true);
			$(lookupBlock).find('input,select,radio').prop('disabled',false);

			// Add the entered postcode to the Postcode: line
			var po = ($('#postcode').val()).toUpperCase();
			var po1 = po.slice(0,(po.length-3));
			var po2 = po.slice((po.length-3),(po.length));
			document.getElementById('current-entered-po').innerHTML += (po1 + ' ' + po2);
		}

	}
</script>

{% endblock %}
