{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">

			{% include 'includes/error_summary.html' %}{# include if this page has validation requirements #}

			<form action="formEmail" method="post" class="form">

				
			  	<!-- Details correct -->
				<div id="send-details-group" class="form-group">
					<fieldset>
						<legend class="heading-medium">Where would you like your certificate to be sent?</legend>
						<p class="form-hint">Your certificate can be sent to your current address, another personal address, or your employer.</p>
						<div id="send-details-group-error-message" class="form-error validation-message"></div>
						
					    <label class="block-label" for="correct-radio-1" data-target="current-address">
							<input id="correct-radio-1" type="radio" name="radio-correct-group" value="Current"
									data-parsley-class-handler="#send-details-group" 
          							data-parsley-errors-container="#send-details-group-error-message"
          							data-parsley-required="true"
    								data-parsley-required-message="Select if you want your certificate to be sent to your current address or another address"
							>
							To my current address
						</label>

						<!-- Expandable panel area  ANOTHER ADDRESS-->
			    		<div class="panel panel-border-narrow js-hidden" id="current-address">
			    			<div class="form-group">
								<p class="form-hint">This is your current address.</p>
								<span>
									1 Oxford Road<br>
									Bristol<br>
									South Gloucestershire<br>
									United Kingdom<br>
									LP1 12D
								</span>
							</div>
			    		</div>

								
						<label class="block-label" data-target="another-address" for="correct-radio-2">
							<input id="correct-radio-2" type="radio" name="radio-correct-group" value="Another">
							To another address
						</label>
					</fieldset>

					<!-- Expandable panel area  ANOTHER ADDRESS-->
			    	<div class="panel panel-border-narrow js-hidden" id="another-address">
			    		

			    	<!-- Postcode block -->
			    		<div class="form-group" id="postcode-block">
			    			<fieldset class="inline">
							<!-- Postcode -->
								<label class="form-label" for="postcode">Postcode</label>
								<div id="postcode-block-error-message" class="form-error validation-message"></div>
								<input disabled class="form-control" name="send-postcode" type="text" id="postcode"
									data-parsley-class-handler="#postcode-block" 
          							data-parsley-errors-container="#postcode-block-error-message"
          							data-parsley-required="true"
    								data-parsley-required-message="Enter the address"
								>
								<a class="button secondary-button" href="#/" onClick="javascript:poLookup();" role="button">Find UK address</a>
							</fieldset>
						</div> <!-- Form group close-->


						<div class="form-group js-hidden" id="postcode-lookup-block">
						<!-- 	If they use postcode lookup, flip hidden on this block and the postcode-block block.
								Display the postcode they entered, format to Upper and Split. Display possible addresses
						-->

							<div class="form-group">
								<label class="form-label">Postcode:</label> 
									<div id="entered-po" style="font-weight:bold;"></div>
									<a href="#/" role="button" onClick="javascript:poLookup();">Change</a>


							</div>
							<div class="form-group" id="po-finder-addresses">
								<label class="form-label">Select your address</label>
								<div id="po-finder-error-message" class="form-error validation-message"></div>
								<ul>
									<li>
										<label>
											<input disabled type="radio" value="1 Oxford Road, London, United Kingdom" name="send-found-address"
												data-parsley-class-handler="#po-finder-addresses" 
			          							data-parsley-errors-container="#po-finder-error-message"
			          							data-parsley-required="true"
			    								data-parsley-required-message="Select the address"
											>
											1 Oxford Road, London, United Kingdom
										</label>
									</li>
									<li>
										<label>
											<input disabled type="radio" value="2 Oxford Road, London, United Kingdom" name="send-found-address">
											2 Oxford Road, London, United Kingdom
										</label>
									</li>
									<li>
										<label>
											<input disabled type="radio" value="3 Oxford Road, London, United Kingdom" name="send-found-address">
											3 Oxford Road, London, United Kingdom
										</label>
									</li>
									<li>
										<label>
											<input disabled type="radio" value="4 Oxford Road, London, United Kingdom" name="send-found-address">
											4 Oxford Road, London, United Kingdom
										</label>
									</li>
									<li>
										<label>
											<input disabled type="radio" value="5 Oxford Road, London, United Kingdom" name="send-found-address">
											5 Oxford Road, London, United Kingdom
										</label>
									</li>
								</ul>
							</div>

						</div>






						<!-- Address fields ALT block -->
						<div class="form-group js-hidden" id="address-fields-block">
							<div id="recipient-group" class="form-group">
								<label class="form-label" for="send-recipient">Recipient</label>
								<div id="recipient-group-error-message" class="form-error validation-message"></div>
								<input disabled class="form-control" name="send-recipient" type="text" id="send-recipient"
									data-parsley-class-handler="#recipient-group" 
          							data-parsley-errors-container="#recipient-group-error-message"
          							data-parsley-required="true"
    								data-parsley-required-message="Enter the recipient"
								>
							</div>
							<div id="address-line-1-group" class="form-group">
								<label class="form-label" for="send-address-line-1">Address line 1</label>
								<div id="address-line-1-group-error-message" class="form-error validation-message"></div>
								<input disabled class="form-control" name="send-address-line-1" type="text" id="send-address-line-1"
									data-parsley-class-handler="#address-line-1-group" 
          							data-parsley-errors-container="#address-line-1-group-error-message"
          							data-parsley-required="true"
    								data-parsley-required-message="Enter the first line of your address"
								>
							</div>
							<div class="form-group">
								<label class="form-label" for="send-address-line-2">Address line 2 (optional)</label>
								<input disabled class="form-control" name="send-address-line-2" type="text" id="send-address-line-2">
							</div>
							<div class="form-group">
								<label class="form-label" for="send-address-line-3">Address line 3 (optional)</label>
								<input disabled class="form-control" name="send-address-line-3" type="text" id="send-address-line-3">
							</div>
							<div id="town-group" class="form-group">
								<label class="form-label" for="send-address-town-city">Town/City</label>
								<div id="town-group-error-message" class="form-error validation-message"></div>
								<input disabled class="form-control" name="send-address-town-city" type="text" id="send-address-town-city"
									data-parsley-class-handler="#town-group" 
          							data-parsley-errors-container="#town-group-error-message"
          							data-parsley-required="true"
    								data-parsley-required-message="Enter the town/city"
								>
							</div>
							<div class="form-group">
								<label class="form-label" for="send-address-county">County (optional)</label>
								<input disabled class="form-control" name="send-address-county" type="text" id="send-address-county">
							</div>
							<div id="country-group" class="form-group">
								<label class="form-label" for="send-address-country">Country</label>
								<div id="country-group-error-message" class="form-error validation-message"></div>
								<input disabled class="form-control" name="send-address-country" type="text" id="send-address-country"
									data-parsley-class-handler="#country-group" 
          							data-parsley-errors-container="#country-group-error-message"
          							data-parsley-required="true"
    								data-parsley-required-message="Enter the country"
								>
							</div>
							<div id="postcode-group" class="form-group">
								<label class="form-label" for="send-address-postcode">Postcode</label>
								<div id="postcode-group-error-message" class="form-error validation-message"></div>
								<input disabled class="form-control" name="send-address-postcode" type="text" id="send-address-postcode"
									data-parsley-class-handler="#postcode-group" 
          							data-parsley-errors-container="#postcode-group-error-message"
          							data-parsley-required="true"
    								data-parsley-required-message="Enter the postcode"
								>
							</div>
						</div> <!-- Form group close-->


						<div class="form-group">
							<a class="button-secondary" id="send-manual-toggle-link" onClick="javascript:swapBlock($(this).attr('id'));" href="#/" role="button">Enter address manually</a>
						</div> <!-- Form group close-->
			    	</div> <!-- Expandable panel area Close ANOTHER ADDRESS-->
			    	<script>
			    		function swapBlock(blockID){
							var postcodePanel = $('#postcode-block');
							var addressPanel = $('#address-fields-block');

							$("#"+blockID).toggleClass("manual");
							$("#postcode-block").toggleClass("js-hidden");
							$("#address-fields-block").toggleClass("js-hidden");

							if ($("#"+blockID).hasClass("manual")){
								$("#"+blockID).html("Use Postcode finder");
								addressPanel.find('input,select,radio').prop('disabled', false);
								postcodePanel.find('input,select,radio').prop('disabled', true);
							}
							else {
								$("#"+blockID).html("Enter address manually");
								addressPanel.find('input,select,radio').prop('disabled', true);
								postcodePanel.find('input,select,radio').prop('disabled', false);
							}

							// Use Postcode finder
							// Enter address manually
							return false;
						}

						function poLookup(){
							var lookupBlock = '#postcode-lookup-block';
							var postcodeBlock = '#postcode-block';

							// When Lookup Postcode button is clicked, hide the postcode block and display the lookup block
							$(lookupBlock).toggleClass('js-hidden');
							$(postcodeBlock).toggleClass('js-hidden');
							$('#send-manual-toggle-link').toggleClass('js-hidden');

							// Disable fields in postcodeBlock to avoid validation error
							if ($(lookupBlock).hasClass('js-hidden')) {
								$(postcodeBlock).find('input,select,radio').prop('disabled',false);
								$(lookupBlock).find('input,select,radio').prop('disabled',true);
								$('#postcode').val('');
								document.getElementById('entered-po').innerHTML ='';
							}
							else {
								$(postcodeBlock).find('input,select,radio').prop('disabled',true);
								$(lookupBlock).find('input,select,radio').prop('disabled',false);

								// Add the entered postcode to the Postcode: line
								var po = ($('#postcode').val()).toUpperCase();
								var po1 = po.slice(0,(po.length-3));
								var po2 = po.slice((po.length-3),(po.length));
								document.getElementById('entered-po').innerHTML += (po1 + ' ' + po2);
							}
							
						}
			    	</script>


				</div> <!-- Form group close-->


			    <!-- Continue button -->
			    <div class="form-group">
			    	<input type="submit" class="button" value="Save and continue">
				</div> <!-- Form group close-->
				
			</form>
		</div>
	</div>



</main>

<!-- scripts for page validation -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/parsley.min.js"></script>
<script src="/public/javascripts/form-utilities.js"></script>

<script type="text/javascript">
	var parsleyForm;
	var thisFormInstance = $( "form:first-of-type" ); // assuming we're validating first form on this page

	// attach parsley validation to the form
	parsleyForm = thisFormInstance.parsley({
		excluded: 'input[type=button], input[type=submit], input[type=reset], :disabled',
		focus:"none"
	});

	// before form is validated, catch the event and do custom validation if needed
	  thisFormInstance.parsley().on('form:validate', function(formInstance) {

	    var ok = true;
	    // add custom validations here - set ok to false if any of them fail validation
	    
	    //ok = ok && checkDiagnosisFutureDate();
	    //ok = ok && validateDOB();

	    if (!ok) {
	      formInstance.validationResult = false;
	    } else {
	      formInstance.validationResult = true;
	    }
	  });

	  // what to do when form doesn't validate
	  thisFormInstance.parsley().on('form:error', function(formInstance) {
	    //console.log('form error');

	    // construct error display
	    GOVUK.formUtilities.showErrorSummary();
	  });

	  // what to do when form validates successfully
	  thisFormInstance.parsley().on('form:submit', function(formInstance) {
	    //console.log('form success');
	    GOVUK.formUtilities.hideErrorSummary();

	    // allow the form to submit
	    return true;
	  });

	  $("input[name=radio-correct-group]").on('click', function() {
			var postcodePanel = $('#postcode-block');
			var addressPanel = $('#address-fields-block');

			// if Another address selected, enable fields depending on whether manual is selected
			// else disable those fields
			if ($(this).val() == "Another") {
				// remove disabled prop
				// If Postcode finder NOT active, enable address fields
				// Else enable postcode finder field
				if ($('#send-manual-toggle-link').hasClass("manual")) {
					postcodePanel.find('input,select,radio').prop('disabled',true);
					addressPanel.find('input,select,radio').prop('disabled',false);
				}
				else {
					postcodePanel.find('input,select,radio').prop('disabled',false);
					addressPanel.find('input,select,radio').prop('disabled',true);
				}
			} else {
					postcodePanel.find('input,select,radio').prop('disabled',true);
					addressPanel.find('input,select,radio').prop('disabled',true);
			}
		});



</script>

{% endblock %}


