{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}
{% set main_question = "Do you have a current UK passport?" %}
{% block content %}

<main id="content" role="main">
  {% include 'includes/phase_banner_alpha.html' %}
	<div class="grid-row">
		<div class="column-two-thirds">

			{% include 'includes/error_summary.html' %}{# include if this page has validation requirements #}

      <h1 class="heading-medium">{{main_question}}</h1>
			<form action="formConvictions" method="post" class="form">

			    <!-- Passport -->
				<div id="passport-form-group" class="form-group">
			    	<fieldset class="inline">
			    		<legend class="visuallyhidden">{{main_question}}</legend>
			    		<!--<p class="form-hint">If you can provide this information your application will be processed quicker.</p>-->
			    		<div id="passport-form-group-error-message" class="form-error validation-message"></div>
			    		<label class="block-label" data-target="passport-number" for="radio-passport-1">
						    <input id="radio-passport-1" type="radio" name="radio-passport-group" value="Yes"
						    	data-parsley-class-handler="#passport-form-group"
          							data-parsley-errors-container="#passport-form-group-error-message"
          							data-parsley-required="true"
    								data-parsley-required-message="Select 'yes' if you have a current UK passport"
						    >
						    Yes
					    </label>

					    <label class="block-label" for="radio-passport-2">
						    <input id="radio-passport-2" type="radio" name="radio-passport-group" value="No">
						    No
					    </label>

			    	</fieldset>
			    	<!-- Expandable panel area -->
			    	<div class="panel panel-border-narrow js-hidden" id="passport-number">
						<!-- Passport number -->
						<div id="passport-number-expand-form-group" class="form-group">
							<label class="form-label" for="passport-number-input">Passport number</label>
							<div id="passport-number-expand-form-group-error-message" class="form-error validation-message"></div>
							<input disabled class="form-control input-pp" name="passport-number-input" type="text" id="passport-number-input"
								data-parsley-class-handler="#passport-number-expand-form-group"
          							data-parsley-errors-container="#passport-number-expand-form-group-error-message"
          							data-parsley-required="true"
    								data-parsley-required-message="Enter your UK passport number"
							>
						</div> <!-- Form group close-->

					</div> <!-- Expandable panel area  Close -->
			    </div> <!-- Form group close-->




			    <!-- Continue button -->
			    <div class="form-group">
			    	<input type="submit" class="button" value="Save and continue">
				</div> <!-- Form group close-->

			</form>
		</div>
	</div>
	<input class='test-input js-hidden' disabled>



</main>

<!-- scripts for page validation -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/parsley.min.js"></script>
<script src="/public/javascripts/form-utilities.js"></script>


<script type="text/javascript">
	var parsleyForm;
	var thisFormInstance = $( "form:first-of-type" ); // assuming we're validating first form on this page

	// attach parsley validation to the form
	parsleyForm = thisFormInstance.parsley({
		excluded: 'input[type=button], input[type=submit], input[type=reset], :disabled',
		focus:"none"
	});

	// before form is validated, catch the event and do custom validation if needed
	  thisFormInstance.parsley().on('form:validate', function(formInstance) {

	    var ok = true;
	    // add custom validations here - set ok to false if any of them fail validation

	    //ok = ok && checkDiagnosisFutureDate();
	    //ok = ok && validateDOB();

	    if (!ok) {
	      formInstance.validationResult = false;
	    } else {
	      formInstance.validationResult = true;
	    }
	  });

	  // what to do when form doesn't validate
	  thisFormInstance.parsley().on('form:error', function(formInstance) {
	    //console.log('form error');

	    // construct error display
	    GOVUK.formUtilities.showErrorSummary();
	  });

	  // what to do when form validates successfully
	  thisFormInstance.parsley().on('form:submit', function(formInstance) {
	    //console.log('form success');
	    GOVUK.formUtilities.hideErrorSummary();

	    // allow the form to submit
	    return true;
	  });

	  // Enabled or disable hidden fields based on selected button

	  $("input[name=radio-passport-group]").on('click', function() {
			var passportPanel = $('#passport-number');

			if ($(this).val() == "Yes") {
				// remove disabled prop
				passportPanel.find('input,select,radio').prop('disabled', false);
			} else {
				passportPanel.find('input,select,radio').prop('disabled', true);
			}
		});




</script>

{% endblock %}
