{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
  	<div class="column-two-thirds">
    	<h1 class="heading-large">Apply for a basic criminal record check</h1>
    </div>
    <div class="column-two-thirds">

        <p>Use the basic criminal record check service to find out what unspent convictions and cautions you have.
        (This is the same as a Basic Disclosure from Disclosure Scotland).</p>
    	
        You can't use this service if:<p>
        <ul class="list-bullet">
            <li>you're under 16</li>
            <li>you live in <a href="#">Scotland</a> or <a href="#">Northern Ireland</a></li>
            <li>you've been asked to get a standard or enhanced DBS check for your job</li>
        </ul></p>
        Ask your employer if you're not sure which type of criminal record check you need to get for a job.
        

        <h2 class="heading-medium">How much it costs</h2>
        It costs £16 to get a basic criminal record check.

    	<h2 class="heading-medium">What you will need</h2>
    	Before you apply make sure you have:
        <p>
		<ul class="list-bullet">
			<li>details of all your addresses for the last 5 years - including the dates you lived there</li>
			<li>your national insurance number</li>
			<li>a valid passport or driving licence</li>
            <li>a debit or credit card to pay online</li>
		</ul>
        </p>


    	<br>
    	<a class="button button-start" href="formVerifying.html" role="button">Start now</a>
        <div class="js-hidden">
            <a href="https://govuk-verify.herokuapp.com/intro?requestId=dbs-basic-application&verify=false">TEST fail verify</a><br>
            <a href="formFirstPage.html">TEST skip Verify</a>
        </div>

    </div>

    <div class="column-third">
    	<h3 class="heading-medium">Recruiting and hiring</h3>
    	<p><a href="#/">Checks employers can make on job applicants</a></p>
        <p><a href="#/">Ex-offenders and employment</a></p>
	    <p><a href="#/" style="font-weight:bold;">More</a></p>


	    <h3 class="heading-medium">Elsewhere on GOV.UK</h3>
    	<p><a href="#/">Criminal records check to become a driving instructor</a></p>
        <p><a href="#/">Job offers: your rights</a></p>
        <p><a href="#/">Discrimination: your rights</a></p>

    </div>

  </div>
</main>

{% endblock %}


