{% extends "layout.html" %} {% block page_title %} DBS Prototype {% endblock %} {% set main_question = "Confirm your details"
%} {% block content %}

<main id="content" role="main">

	{% include 'includes/phase_banner_alpha.html' %}
	<a href="javascript: window.history.go(-1)" class="link-back">Back</a>
	<div class="grid-row">
		<div class="column-two-thirds reduceMargin">
			<h1 class="heading-medium page-heading">Confirm your identity validation details</h1>

			<form action="formDeclaration" method="post" class="form">
				<h2 class="heading-medium page-heading">Personal information</h2>
				<dl class="govuk-check-your-answers cya-questions-short">
					<div id="name first-name middle-names last-name">
						<dt class="cya-question">
							Name
						</dt>
						<dd class="cya-answer">
							David Attenborough
						</dd>
						<dd class="cya-change">
							<a href="{{ 'formIdentityDriving' if licenceSelected else 'formEnterName' }}?from=summary" id="edit-name">
								Change<span class="visually-hidden"> Name</span>
							</a>
						</dd>
					</div>

					<div id="date-of-birth">
						<dt class="cya-question">
							Date of birth
						</dt>
						<dd class="cya-answer">
							28 April 1928
						</dd>
						<dd class="cya-change">
							<a href="{{ 'formIdentityDriving' if licenceSelected else 'formEnterDob' }}?from=summary" id="edit-date-of-birth">
								Change<span class="visually-hidden"> Date of birth</span>
							</a>
						</dd>
					</div>

					<div id="sex">
						<dt class="cya-question">
							Sex
						</dt>
						<dd class="cya-answer">

							Male
						</dd>
						<dd class="cya-change">
							<a href="{{ 'formIdentityDriving' if licenceSelected else 'formGender' }}?from=summary" id="edit-sex">
								Change<span class="visually-hidden"> Sex</span>
							</a>
						</dd>
					</div>

					<div id="place-of-birth pob-country pob-town-city">
						<dt class="cya-question">
							Place of birth
						</dt>
						<dd class="cya-answer">
							United Kingdom<br>
							London
						</dd>
						<dd class="cya-change">
							<a href="formPlaceBirth" id="edit-place-of-birth">
								Change<span class="visually-hidden"> Place of birth</span>
							</a>
						</dd>
					</div>

					<div id="names">
						<dt class="cya-question">
							Other names
						</dt>
						<dd class="cya-answer">
							Frank Sinatra<br>
							Used from
							March 1994
							to
							April 1995
							<br>
						</dd>
						<dd class="cya-change">
							<a href="formAddNames" id="edit-names">
								Change<span class="visually-hidden"> Other names</span>
							</a>
						</dd>
					</div>

					<div id="address">
						<dt class="cya-question">
							Address history (last 5 years)
						</dt>
						<dd class="cya-answer">
							From 1989 to now<br>
							8 Road Street<br>
							Oxford<br>
							United Kingdom<br>
							OX7 5PJ<br>
						</dd>
						<dd class="cya-change">
							<a href="formAddressHistory" id="edit-address">
								Change<span class="visually-hidden"> Current address</span>
							</a>
						</dd>
					</div>
				</dl>

				<h2 class="heading-medium page-heading">Identity Document details</h2>

				<h3 class="heading-small" id="driving-licence">Driving Licence</h3>
				<br>
				<!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
				<!--   * `cya-questions-short` for short questions -->
				<!--   * `cya-questions-long` for long questions -->
				<!--   * none for single group of q&a -->
				<dl class="govuk-check-your-answers cya-questions-short">

					<div id="uid-driving-licence">
						<dt class="cya-question">
							Driving Licence number
						</dt>
						<dd class="cya-answer">
							ATTEN204289DF9TE<br>
						</dd>

						<dd class="cya-change">
							<a href="formIdentityDriving" id="edit-driving-licence">
								Change<span class="visually-hidden"> Driving Licence details</span>
							</a>
						</dd>
					</div>

					<div id="country-issue-driving-licence">
						<dt class="cya-question">
							Country of issue
						</dt>
						<dd class="cya-answer">
							United Kingdom<br>
						</dd>
						<dd class="cya-change">
							<a href="formIdentityDriving" id="edit-driving-licence">
								Change<span class="visually-hidden"> Driving Licence details</span>
							</a>
						</dd>
					</div>

					<div id="expiry-date-driving-licence">
						<dt class="cya-question">
							Expiry date
						</dt>
						<dd class="cya-answer">
							30 March 2025
							<br>
						</dd>
						<dd class="cya-change">
							<a href="formIdentityDriving" id="edit-driving-licence">
								Change<span class="visually-hidden"> Driving Licence details</span>
							</a>
						</dd>
					</div>
				</dl>
				<br>

				<h3 class="heading-small" id="passport">Passport</h3>
				<br>
				<!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
				<!--   * `cya-questions-short` for short questions -->
				<!--   * `cya-questions-long` for long questions -->
				<!--   * none for single group of q&a -->
				<dl class="govuk-check-your-answers cya-questions-short">
					<div id="uid-passport">
						<dt class="cya-question">
							Passport Number
						</dt>
						<dd class="cya-answer">
							123456789<br>
						</dd>
						<dd class="cya-change">

							<a href="formIdentityPassport" id="edit-passport">
								Change<span class="visually-hidden"> Passport details</span>
							</a>
						</dd>
					</div>

					<div id="country-issue-passport">
						<dt class="cya-question">
							Country of issue
						</dt>
						<dd class="cya-answer">
							United Kingdom<br>
						</dd>
						<dd class="cya-change">
							<a href="formIdentityPassport" id="edit-passport">
								Change<span class="visually-hidden"> Passport details</span>
							</a>
						</dd>
					</div>

					<div id="expiry-date-passport">
						<dt class="cya-question">
							Expiry date
						</dt>
						<dd class="cya-answer">
							30 March 2025
							<br>
						</dd>
						<dd class="cya-change">
							<a href="formIdentityPassport" id="edit-passport">
								Change<span class="visually-hidden"> Passport details</span>
							</a>
						</dd>
					</div>
				</dl>
				<br>

				<h3 class="heading-small" id="bank-statement">Bank or Building Society statement</h3>
				<br>
				<!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
				<!--   * `cya-questions-short` for short questions -->
				<!--   * `cya-questions-long` for long questions -->
				<!--   * none for single group of q&a -->
				<dl class="govuk-check-your-answers cya-questions-short">
					<div id="uid-bank-statement">

						<dt class="cya-question">
							Account number
						</dt>
						<dd class="cya-answer">
							9512<br>
						</dd>

						<dd class="cya-change">

							<a href="formIdentityBankStatement" id="edit-bank-statement">
								Change<span class="visually-hidden"> Bank or Building Society statement details</span>
							</a>
						</dd>
					</div>

					<div id="issue-date-bank-statement">
						<dt class="cya-question">
							Issue date
						</dt>
						<dd class="cya-answer">


							30 March 2018

							<br>
						</dd>
						<dd class="cya-change">

							<a href="formIdentityBankStatement" id="edit-bank-statement">
								Change<span class="visually-hidden"> Bank or Building Society statement details</span>
							</a>
						</dd>
					</div>
				</dl>

				<h2 class="heading-medium">Application details</h2>

				<dl class="govuk-check-your-answers cya-questions-short">
					<div id="national-insurance ni-number">
						<dt class="cya-question">
							National Insurance number
						</dt>
						<dd class="cya-answer">
							I don't have a National Insurance number / I cannot provide the details right now
						</dd>
						<dd class="cya-change">
							<a href="formIdentity" id="edit-national-insurance">
								Change<span class="visually-hidden"> National Insurance number</span>
							</a>
						</dd>
					</div>

					<div id="send-cert">
						<dt class="cya-question">
							Address to send your certificate to
						</dt>
						<dd class="cya-answer">
							8 Road Street<br>
							Oxford<br>
							United Kingdom<br>
							CH7 5QG<br>
						</dd>
						<dd class="cya-change">
							<a href="formSendAddress" id="edit-send-cert">
								Change<span class="visually-hidden"> Address to send your certificate to</span>
							</a>
						</dd>
					</div>

					<div id="email">
						<dt class="cya-question">
							Email address
						</dt>
						<dd class="cya-answer">
							davyboy@hotmail.com
						</dd>
						<dd class="cya-change">
							<a href="formEmail" id="edit-email">
								Change<span class="visually-hidden"> Email address</span>
							</a>
						</dd>
					</div>

					<div id="contact-number">
						<dt class="cya-question">
							Contact phone number
						</dt>
						<dd class="cya-answer">
							I don't want to provide my contact number
						</dd>
						<dd class="cya-change">
							<a href="formContactNumber" id="edit-contact-number">
								Change<span class="visually-hidden"> Contact phone number</span>
							</a>
						</dd>
					</div>
				</dl>



				<br>

				<input type="hidden" name="_csrf" value="w4aAd6UY-Pw3zij0NBY53OSrExoh7DbHGdNk">

				<div class="form-group">
					<input type="submit" class="button" id="save-and-continue" value="Continue">
				</div>

			</form>

		</div>
	</div>
</main>

{% endblock %}