{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

	<div class="grid-row">
		<div class="column-two-thirds">
			
			<h2 class="heading-medium"">Enter card details</h2>	
			<form action="formComplete" method="post" class="form">

				<!-- Card number -->
			    <div class="form-group">
			      	<label class="form-label-bold" for="card-number">Card number</label>
			      	<input type="text" class="form-control" id="card-number">
			    </div> <!-- Form group close-->

			    <!-- Full name -->
			    <div class="form-group">
			      	<label class="form-label-bold" for="full-name">Name on card</label>
			      	<input type="text" class="form-control" id="full-name">
			    </div> <!-- Form group close-->

			    

			    <!-- Expiry date -->
			    <div class="form-group">
					<fieldset>
						<legend class="form-label-bold">Expiry date</legend>
							<div class="form-date">
								<div class="form-group form-group-month">
									<label for="expiry-date-month">Month</label>
									<input class="form-control" id="expiry-date-month" type="number" pattern="[0-9]*" min="0" max="12">
								</div> <!-- Form group close-->

								<div class="form-group form-group-year">
									<label for="expiry-date-year">Year</label>
									<input class="form-control" id="expiry-date-year" type="number" pattern="[0-9]*" min="0" max="2016">
								</div> <!-- Form group close-->
							</div> <!-- Form group close-->
					</fieldset>
				</div> <!-- Form group close-->

				<!-- CVC -->
			    <div class="form-group">
			      	<label class="form-label-bold" for="cvc-number">Card security code</label>
			      	<input type="number" class="form-control" id="cvc-number" pattern="[0-9]*">
			    </div> <!-- Form group close-->

				

				<div class="form-group">
					<span class="heading-medium">Cardholder details<br></span>
			    	<fieldset class="inline">
						<!-- Postcode -->
						<label class="form-label" for="postcode">Postcode</label>
						<input class="form-control" name="postcode" type="text" id="postcode">
						<a class="button secondary-button">Find UK address</a>
					</fieldset>
				</div> <!-- Form group close-->

				<div class="form-group">
					<a class="button-secondary" href="#" role="button">Enter address manually</a>
				</div> <!-- Form group close-->






			    <!-- Confirm button -->
			    <div class="form-group">
			    	<input type="submit" class="button" value="Confirm">
				</div> <!-- Form group close-->

			</form>
		</div>

		
		<div class="column-third">
			<div style="background-color:#F8F8F8; border:8px solid #BFC1C3; padding:10px; margin-top:2.5em">
				<h4 class="heading-small" style="margin:0;">Payment summary</h4><br>
				<p class="bold-small">Basic criminal record check</p>
				<h2 class="text-secondary">Total amount:</h2>
				<h1 class="heading-large" style="margin:0;">£16.00</h1>
			</div>
		</div>
	</div>



</main>

{% endblock %}


