{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">

			<div class="breadcrumbs">
				<ol><li>Section 9 of 9</li></ol>
			</div> <!-- Breadcrumb -->
			
			
			<form action="formSummary" method="post" class="form">

			    <div class="form-group">
			    	<fieldset class="inline">
			    		<legend class="form-label-bold">Do you have any unspent convictions, cautions, reprimands or final warnings?</legend>
			    		<p class="form-hint">You don't need to tell us about motoring fines or penalty points unless there were court imposed.</p>

			    		<!-- Yes/No Radio -->
			    		<label class="block-label" for="radio-convictions-1">
						    <input id="radio-convictions-1" type="radio" name="radio-convictions-group" value="Yes">
						    Yes
					    </label>
						
					    <label class="block-label" for="radio-convictions-2">
						    <input id="radio-convictions-2" type="radio" name="radio-convictions-group" value="No">
						    No
					    </label>
			    	</fieldset>
			    </div> <!-- Form group close-->
			    <div class="form-group">
					<ul class="list-bullet" style="color:Red;">
						<li>Can we add text area so they can enter details?</li>
						<li>Will this be useful?</li>
						<li>Needed for application debate?</li>
						<li>TCS dependency</li>
					</ul>
				</div>

			    <!-- Continue button -->
			    <div class="form-group">
			    	<input type="submit" class="button" value="Continue">
				</div> <!-- Form group close-->

			</form>
		</div>
	</div>



</main>

{% endblock %}


