{% extends "layout.html" %} {% block page_title %} DBS Prototype {% endblock %} {% set main_question = "Have you ever been
known by any other names?" %} {% block content %}

<main id="content" role="main">
    {% include 'includes/phase_banner_alpha.html' %}
    <a href="javascript: window.history.go(-1)" class="link-back">Back</a>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-medium page-heading">Have you lived anywhere else from 2013 to now?</h1>

            <form action="formSendAddress" method="post" class="form">
                <div class="form-group">
                    <p>You must tell us about all the addresses you've lived at in the last 5 years. You can't leave any gaps but it's fine to have overlapping dates.</p>

                    <p>You need to include any secondary addresses, for example student accommodation or if you work away from home.</p>

                    <div class="form-group">
                        <details role="group">
                            <summary class="help-text-link" role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">What is a secondary address?</span></summary>
                            <div class="panel panel-border-narrow" data-dbs-id="help-text-text" id="details-content-0" aria-hidden="true">


                                <p>If you’re a student and live in student accommodation during term time, but live with your parents (or a similar permanent home address) in the period between academic years, you need to tell us both addresses.</p>

                                <p>If, for example, you work away from home and spend months living at an alternative address that’s not your permanent home address, you need to tell us this alternative address.</p>

                                <p>If the nature of your work means that you often spend 1 or 2 days in different places away from your permanent address, we don’t need details of each of the places you visit.</p>
                            </div>
                        </details>
                    </div>

                    <table>
                        <thead>
                        <tr>
                            <th scope="col">Address</th>
                            <th scope="col">Dates you lived there</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <p>12 A Road<br/>
                                    By the brook<br/>
                                    Manchester<br/>
                                    United Kingdom<br/>
                                    AA1 1AA</p>
                            </td>

                            <td>
                                <span>2000 to now</span>
                            </td>
                            <td>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <p>12 Road Street<br/>
                                    Manchester<br/>
                                    United Kingdom<br/>
                                    M1 1AA</p>
                            </td>

                            <td>
                                <span>1999 to 2013</span>
                            </td>
                            <td>
                                <a href="formAddressEdit">Edit <span class="visually-hidden">Address</span></a>
                                <br>
                                <a href="formAddressHistory" id="deleteAddress">Delete <span class="visually-hidden">Address</span></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <table>
                        <tbody>
                        <tr id="address-options">
                            <td>
                                <ul>
                                    <li><a href="formAddressAddNew" id="add-lookup-address">Add another address</a></li>
                                    <li><a href="formAddressAddNew" id="add-bfpo-address">Add a British Forces Post Office (BFPO) address</a></li>
                                    <li><a href="formAddressAddNew" id="add-other-address">I was homeless or travelling and didn't have an address</a></li>
                                </ul>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <input type="hidden" name="_csrf" value="PbYhSUOj-efGa5h9FL8B2F0k5SCkvlXNzAjs">

                <div class="form-group">
                    <input type="submit" class="button" id="save-and-continue" value="Continue">
                </div>
            </form>
        </div>
    </div>
</main>

<!-- scripts for page validation -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/parsley.min.js"></script>
<script src="/public/javascripts/form-utilities.js"></script>

<script type="text/javascript">
  $('#deleteAddress').click(function (e) {
    e.preventDefault();
    $(this).closest('tr').hide();
  });
</script> {% endblock %}