{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}
{% set main_question = "What is your sex?" %}
{% block content %}

<main id="content" role="main">
  {% include 'includes/phase_banner_alpha.html' %}
  <a href="javascript: window.history.go(-1)" class="link-back">Back</a>
	<div class="grid-row">
		<div class="column-two-thirds reduceMargin">

			{% include 'includes/error_summary.html' %}
      {# include if this page has validation requirements #}


      <h1 class="heading-medium">{{main_question}}</h1>
		<!-- Gender -->
        <form action="handleGender" method="post" class="form">
				<div id="radio-gender-group-form-group" class="form-group">
					<fieldset>
						<legend class="visuallyhidden">{{main_question}}</legend>

						<div id="radio-gender-group-error-message" class="form-error validation-message"></div>

						<label class="block-label selection-button-radio {% if gender === 'Female' %}selected{% endif %}" for="gender-radio-1">
							<input id="gender-radio-1" type="radio" name="radio-gender-group" value="Female"
							   {% if gender === 'Female' %}selected="selected"{% endif %}
								data-parsley-class-handler="#radio-gender-group-form-group"
          							data-parsley-errors-container="#radio-gender-group-error-message"

    								data-parsley-required-message="Select your sex" >
							Female
						</label>
						<label class="block-label selection-button-radio {% if gender === 'Male' %}selected{% endif %}" for="gender-radio-2">
							<input id="gender-radio-2" type="radio" name="radio-gender-group" value="Male" {% if gender === 'Male' %}selected="selected"{% endif %} >
							Male
						</label>
					</fieldset>
				</div> <!-- Form group close-->

			    <!-- Continue button -->
			    <div class="form-group">
			    	<input type="submit" class="button" value="Continue">
				</div> <!-- Form group close-->

			</form>
		</div>
	</div>



</main>

<!-- scripts for page validation -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/parsley.min.js"></script>
<script src="/public/javascripts/form-utilities.js"></script>

{% endblock %}
