{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}
{% set main_question= "Where would you like us to send your certificate?" %}
{% block content %}

<main id="content" role="main">
  {% include 'includes/phase_banner_alpha.html' %}
  <a href="javascript: window.history.go(-1)" class="link-back">Back</a>
	<div class="grid-row">
		<div class="column-two-thirds reduceMargin">

			{% include 'includes/error_summary.html' %}{# include if this page has validation requirements #}

      <h1 class="heading-medium">{{main_question}}</h1>
      <p>We can send your certificate to your current address, another personal address (for example a family member), or your employer.</p>
			<form action="handleFormSendAddress" method="post" class="form">
			  	<!-- Details correct -->
				<div id="send-details-group" class="form-group">
					<fieldset>
						<legend class="visuallyhidden">{{main_question}}</legend>

						<div id="send-details-group-error-message" class="form-error validation-message"></div>

					    <label class="block-label selection-button-radio" for="correct-radio-1">
							<input id="correct-radio-1" type="radio" name="radio-correct-group" value="Current"
									data-parsley-class-handler="#send-details-group"
          							data-parsley-errors-container="#send-details-group-error-message"
          							
    								data-parsley-required-message="Select where you want your certificate to be sent"
							>
							1 Oxford Road, Manchester, M1 2GL
						</label>
						{% if toyear == "Present" %}
						<label class="block-label selection-button-radio" for="correct-radio-2">
							<input id="correct-radio-2" type="radio" name="radio-correct-group" value="OtherCurrent">
							{{addressline1}}, {{town}}, {{postcode}}
						</label>
						{% endif %}



						<label class="block-label selection-button-radio" for="correct-radio-3">
							<input id="correct-radio-3" type="radio" name="radio-correct-group" value="Another">
							To another address
						</label>
					</fieldset>
				</div> <!-- Form group close-->


			    <!-- Continue button -->
			    <div class="form-group">
			    	<input type="submit" class="button" value="Continue">
				</div> <!-- Form group close-->

			</form>
		</div>
	</div>



</main>

<!-- scripts for page validation -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/parsley.min.js"></script>
<script src="/public/javascripts/form-utilities.js"></script>

<script type="text/javascript">
	var parsleyForm;
	var thisFormInstance = $( "form:first-of-type" ); // assuming we're validating first form on this page

	// attach parsley validation to the form
	parsleyForm = thisFormInstance.parsley({
		excluded: 'input[type=button], input[type=submit], input[type=reset], :disabled',
		focus:"none"
	});

	// before form is validated, catch the event and do custom validation if needed
	  thisFormInstance.parsley().on('form:validate', function(formInstance) {

	    var ok = true;
	    // add custom validations here - set ok to false if any of them fail validation

	    //ok = ok && checkDiagnosisFutureDate();
	    //ok = ok && validateDOB();

	    if (!ok) {
	      formInstance.validationResult = false;
	    } else {
	      formInstance.validationResult = true;
	    }
	  });

	  // what to do when form doesn't validate
	  thisFormInstance.parsley().on('form:error', function(formInstance) {
	    //console.log('form error');

	    // construct error display
	    GOVUK.formUtilities.showErrorSummary();
	  });

	  // what to do when form validates successfully
	  thisFormInstance.parsley().on('form:submit', function(formInstance) {
	    //console.log('form success');
	    GOVUK.formUtilities.hideErrorSummary();

	    // allow the form to submit
	    return true;
	  });

	  $("input[name=radio-correct-group]").on('click', function() {
			var postcodePanel = $('#postcode-block');
			var addressPanel = $('#address-fields-block');

			// if Another address selected, enable fields depending on whether manual is selected
			// else disable those fields
			if ($(this).val() == "Another") {
				// remove disabled prop
				// If Postcode finder NOT active, enable address fields
				// Else enable postcode finder field
				if ($('#send-manual-toggle-link').hasClass("manual")) {
					postcodePanel.find('input,select,radio').prop('disabled',true);
					addressPanel.find('input,select,radio').prop('disabled',false);
				}
				else {
					postcodePanel.find('input,select,radio').prop('disabled',false);
					addressPanel.find('input,select,radio').prop('disabled',true);
				}
			} else {
					postcodePanel.find('input,select,radio').prop('disabled',true);
					addressPanel.find('input,select,radio').prop('disabled',true);
			}
		});



</script>

{% endblock %}
