{% extends "layout.html" %}

{% block page_title %}
DBS Prototype
{% endblock %}
{% set main_question = "Add another address" %}
{% block content %}

<main id="content" role="main">
	{% include 'includes/phase_banner_alpha.html' %}
	<a href="javascript: window.history.go(-1)" class="link-back">Back</a>
	<div class="grid-row">
		<div class="column-two-thirds reduceMargin">

			{% include 'includes/error_summary.html' %}
			{# include if this page has validation requirements #}

			<form action="{{ action }}" method="post" class="form" id="postcode-form">

				<h1 class="heading-medium">Find your address</h1>
				<!-- Details correct -->
				<div class="form-group" id="add-new-address-group">
					<fieldset class="inline">
						<legend class="visuallyhidden">Find your address</legend>
						<!-- Verified details -->
						<div class="form-group">
							<!-- Postcode block -->
							<fieldset class="inline">
								<!-- Postcode -->

								<label class="form-label" for="postcode">UK postcode
									<!--  <span class="form-hint">for example, SW1 2AB</span>-->
								</label>
								<div id="postcode-block-error-message" class="form-error validation-message"></div>
								<input class="form-control" style="text-transform: uppercase;" maxlength="8" name="postcode" type="text" id="postcode"
									   data-parsley-class-handler="#postcode-block"
									   data-parsley-errors-container="#postcode-block-error-message"
									   data-parsley-required="true"
									   data-parsley-required-message="Enter the address"
								>

							</fieldset>
						</div> <!-- Form group close - Postcode block -->
					</fieldset>

					<div class="panel panel-border-wide">
						<p>Non-UK addresses: <a href="{{ action }}">Add address manually</a></p>
					</div>

					<!-- Continue button -->
					<div class="form-group">
						<input type="submit" class="button" value="Look up address">
					</div> <!-- Form group close-->
				</div>
			</form>

			<form action="{{ action }}?address=1" method="post" class="form" id="select-address" style="display: none">
				<div class="form-group">
					<div class="form-group ">
						<label class="form-label" for="select-box">Select your address</label>


						<select class="form-control" id="select-box" name="select-box">
							<option>Select your address</option>
							{% if action === 'formSendCertManual' %}
								<option value="0" data-address="14 Kingsland Road, Dalston, London, E13 9PA">14 Kingsland Road, Dalston, London, E13 9PA</option>
							{% else %}
								<option value="0" data-address="37 Stroma Road, Allerton, Liverpool, L18 9SN">37 Stroma Road, Allerton, Liverpool, L18 9SN</option>
							{% endif %}
						</select>
					</div>

					<a href="{{ action }}">Add address manually</a>

				</div>


				<input type="hidden" name="_csrf" value="uM31u2yz-up8HM8UQ_7d1zHCw4fmfYAKc7gc">



				<div class="form-group">
					<input type="submit" class="button" id="save-and-continue" value="Continue">
				</div>


			</form>
		</div>
	</div>
</main>

<!-- scripts for page validation -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/parsley.min.js"></script>
<script src="/public/javascripts/form-utilities.js"></script>

<script type="text/javascript">
  $('#postcode-form').submit(function (e) {
    e.preventDefault();

    $('#select-address').show();
  });
</script>

{% endblock %}
