{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}
{% set main_question = "Address results" %}
{% block content %}

<main id="content" role="main">
  {% include 'includes/phase_banner_alpha.html' %}
  <a href="javascript: window.history.go(-1)" class="link-back">Back</a>
	<div class="grid-row">
		<div class="column-two-thirds reduceMargin">

			{% include 'includes/error_summary.html' %}
      {# include if this page has validation requirements #}

			<form action="{{form_action}}" method="post" class="form">

        <h1 class="heading-medium">{{main_question}}</h1>
			  	<!-- Details correct -->
				<div class="form-group" id="add-new-address-group">

						<legend class="visuallyhidden">{{ main_question }}</legend>
						<!-- Verified details -->

              <!-- Postcode block -->
              <fieldset>

                   <label class="block-label" for="radio-1">
                     <input id="radio-1" type="radio" name="address-results-radio-group" value="Flat 7a">
                     Flat 7a South Bank Tower, Upperground, London SE1 9EY
                   </label>
                   <label class="block-label" for="radio-2">
                     <input id="radio-2" type="radio" name="address-results-radio-group" value="Flat 7b">
                  Flat 7b South Bank Tower, Upperground, London SE1 9EY
                   </label>


  							</fieldset>

             <!-- Form group close - Postcode block -->


            </div>









			    <!-- Continue button -->
			    <div class="form-group">
			    	<input type="submit" class="button" value="Continue">
				</div> <!-- Form group close-->
        <p><a href="formAddressManual">Enter address manually</a></p>
			</form>
		</div>
	</div>


</main>

<!-- scripts for page validation -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/parsley.min.js"></script>
<script src="/public/javascripts/form-utilities.js"></script>

{% endblock %}
