{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">

			<div class="breadcrumbs">
				<ol><li>Section 1 of 8</li></ol>
			</div> <!-- Breadcrumb -->

			<form action="formAddNames" method="post" class="form">

				<span class="heading-medium">Your personal details<br></span>
				<br>
				<!-- Verified details -->
				<div class="form-group">
					<p class="form-hint">These are your personal details from your GOV.UK Verify account.</p><br>
					<span class="text-secondary">Name<br></span>
					<span>John Smith<br></span>
					<span class="text-secondary">Date of birth<br></span>
					<span>01/01/1960<br></span>
				</div> <!-- Form group close-->

				<div class="form-group">
		            <ul class="list-bullet" style="color:Red;">
		                <li>What happens if not correct info?</li>
		                <li>Is it possible for Verify to not return a gender?</li>
		            </ul>
		        </div>

			  	<!-- Gender -->
				<div class="form-group">
					<fieldset>
						<legend class="form-label-bold">What is your gender?</legend>

					    <label class="block-label" for="gender-radio-1">
							<input id="gender-radio-1" type="radio" name="radio-gender-group" value="Female">
							Female
						</label>
						<label class="block-label" for="gender-radio-2">
							<input id="gender-radio-2" type="radio" name="radio-gender-group" value="Male">
							Male
						</label>
						<label class="block-label" for="gender-radio-3">
							<input id="gender-radio-3" type="radio" name="radio-gender-group" value="Intersex">
							Intersex
						</label>
					</fieldset>
				</div> <!-- Form group close-->

			    <!-- Continue button -->
			    <div class="form-group">
			    	<input type="submit" class="button" value="Continue">
				</div> <!-- Form group close-->

			</form>
		</div>
	</div>



</main>

{% endblock %}


