{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
      <div class="column-two-thirds">
          <h1 class="heading-medium page-heading">Verify was unable to confirm your current address</h1>

          <p>GOV.UK Verify has confirmed your identity but was unable to validate your current address to the level the Disclosure and Barring Service (DBS) requires.</p>

          <h2 class="heading-small">Other ways to apply for a basic check</h2>
          <p>You can still apply online.</p>
          <p>You must complete your application first. This will include selecting identity documents from our approved list.</p>
          <p>You will then need to take the identity documents you selected to a DBS ID validation service at the Post Office.</p>

          <div class="panel panel-border-wide">
              <p><strong class="bold">You must complete the application online before going to the Post Office.</strong></p>
          </div>

          <a id="continue-to-application" class="button" role="button" href="http://localhost:3002/exceptionRouteStart">Continue to application</a>
      </div>
  </div>
</main>

{% endblock %}


