{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">

			<div class="breadcrumbs">
				<ol><li>Payment</li></ol>
			</div> <!-- Breadcrumb -->
			
			
			<form action="formDeclaration" method="post" class="form">

				






			    <!-- Confirm button -->
			    <div class="form-group">
			    	<input type="submit" class="button" value="Confirm">
				</div> <!-- Form group close-->


				<script src="/card-master/dist/card.js"></script>
			</form>
		</div>
	</div>


	

</main>

{% endblock %}


