{% extends "layout.html" %} 
{% block page_title %} DBS Prototype {% endblock %} 
{% set main_question = "Why didn't you have
an address?" %} {% block content %}

<main id="content" role="main">
    {% include 'includes/phase_banner_alpha.html' %}
    <a href="javascript: window.history.go(-1)" class="link-back">Back</a>
    <div class="grid-row">
        <div class="column-two-thirds reduceMargin">

            {% include 'includes/error_summary.html' %} {# include if this page has validation requirements #}

            <form action="formAddressUnusualDates" method="post" class="form">

                <h1 class="heading-medium">{{main_question}}</h1>

                <!-- Details correct -->
                <div class="form-group" id="unusual-address-group">
                    <fieldset>
                        <legend class="visually-hidden">{{main_question}}</legend>


                        <label class="block-label" data-target="travel" for="travelling-details">
        <input id="travelling-details" type="radio" name="unusual-address-group" value="I was travelling">
      I was travelling
      </label>
                        <div class="panel panel-border-narrow js-hidden" id="travel">
                            <h3 class="heading-small">Where were you travelling?</h3>
                            <label class="form-label" for="travel-country">Country</label>
                            <input class="form-control" name="travel-country" type="text" id="travel-country">
                        </div>

                        <label class="block-label" data-target="homeless" for="homeless-details">
        <input id="homeless-details" type="radio" name="unusual-address-group" value="I was homeless">
        I was homeless
      </label>
                        <div class="panel panel-border-narrow js-hidden" id="homeless">
                            <h3 class="heading-small">Where were you homeless?</h3>
                            <label class="form-label" for="homeless-town">Town</label>
                            <input class="form-control" name="homeless-town" type="text" id="homeless-town">
                            <br/><br/>
                            <label class="form-label" for="homeless-country">Country</label>
                            <input class="form-control" name="homeless-country" type="text" id="homeless-country">
                        </div>

                        <!--  <label class="block-label" data-target="another-reason" for="another-reason-details">
        <input id="another-reason-details" type="radio" name="unusual-address-group" value="I have another reason">
        I have another reason
      </label>
      <div class="panel panel-border-narrow js-hidden" id="another-reason">
        <label class="form-label" for="details">Provide details</label>
        <textarea class="form-control" rows="6" name="details" type="text" id="contact-phone"></textarea>
      </div>-->



                    </fieldset>
                </div>
                <!-- Continue button -->
                <div class="form-group">
                    <input type="submit" class="button" value="Continue">
                </div>
                <!-- Form group close-->
            </form>
        </div>
    </div>


</main>

<!-- scripts for page validation -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/parsley.min.js"></script>
<script src="/public/javascripts/form-utilities.js"></script>

{% endblock %}