{% extends "layout.html" %} 
{% block page_title %} DBS Prototype {% endblock %} 
{% if formdata["unusual-address-group"] == "I was travelling" %} 
{% set main_question = "When were you travelling in " + formdata["travel-country"] + "?" %} 
{% elif formdata["unusual-address-group"] == "I was homeless" %} 
{% set main_question = "When were you homeless?" %} 
{% endif %} 
{% block content %}

<main id="content" role="main">
    {% include 'includes/phase_banner_alpha.html' %}
    <a href="javascript: window.history.go(-1)" class="link-back">Back</a>
    <div class="grid-row">
        <div class="column-two-thirds reduceMargin">

            {% include 'includes/error_summary.html' %} {# include if this page has validation requirements #}

            <form action="{{form_action}}" method="post" class="form">




                <h1 class="heading-medium">{{ question }}</h1>
                <!-- Details correct -->
                <div class="form-group" id="add-new-unusual-address-group">

                    <legend class="visuallyhidden">{{ main_question }}</legend>
                    <!-- Verified details -->

                    <!-- Postcode block -->
                    <fieldset>
                        <div class="form-group">
                            <label class="bold-small">Start date</label>
                            <legend class="visuallyhidden">Start date</legend>
                            <p class="form-hint">For example, 1980</p>
                            <div class="form-date">

                                <div id="unusual-address-since-group-error-message" class="form-error validation-message"></div>
                                <div class="form-group form-group-year">
                                    <label for="cunusual-orrect-address-since-year">Year</label>
                                    <input class="form-control" name="unusual-address-since-year" id="unusual-address-since-year" type="number" maxlength="4"
                                        pattern="[0-9]*" min="1900" max="2016" data-parsley-class-handler="#unusual-address-since-group"
                                        data-parsley-errors-container="#unusual-address-since-group-error-message" data-parsley-required="true"
                                        data-parsley-required-message="Enter the year you moved into this address">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">

                            <label class="bold-small">End date</label>
                            <p class="form-hint">For example, 1980</p>
                            <div class="form-date" id="end-date">

                                <div id="unusual-address-since-group-error-message" class="form-error validation-message"></div>
                                <div class="form-group form-group-year">
                                    <label for="unusual-address-until-year">Year</label>
                                    <input class="form-control" name="unusual-address-until-year" id="unusual-address-until-year" type="number" maxlength="4"
                                        pattern="[0-9]*" min="1900" max="2016" data-parsley-class-handler="#unusual-address-until-group"
                                        data-parsley-errors-container="#unusual-address-until-group-error-message" data-parsley-required="true"
                                        data-parsley-required-message="Enter the year you moved into this address">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="block-label" for="current-address">
                            <input id="unusual-current-address" name="unusual-current-address" type="checkbox" value="unusual-current-address" onClick="javascript:flipDisable();" >
                                This is my current address
                            </label>
                        </div>





                    </fieldset>




                    <!-- Continue button -->
                    <div class="form-group">
                        <input type="submit" class="button" value="Save and continue">
                    </div>
                    <!-- Form group close-->
            </form>
            </div>
        </div>


</main>

<!-- scripts for page validation -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/parsley.min.js"></script>
<script src="/public/javascripts/form-utilities.js"></script>

<script type="text/javascript">


    function flipDisable(){
      console.log('TEST');

      if ($('#end-date').hasClass("disabled")) {
        $('#end-date').find('input').prop('disabled', false);
        $('#end-date').toggleClass("disabled");
        console.log('HAS');
      } else  {
        $('#end-date').find('input').prop('disabled', true);
        $('#end-date').toggleClass("disabled");
        console.log('HASNOT');
      }

    }


	function swapBlock(blockID){
		var newPostcodePanel = $('#postcode-block');
		var newAddressPanel = $('#new-address-fields-block');

		$("#"+blockID).toggleClass("manual");
		$("#postcode-block").toggleClass("js-hidden");
		$("#new-address-fields-block").toggleClass("js-hidden");

		if ($("#"+blockID).hasClass("manual")){
			$("#"+blockID).html("Use Postcode finder");
			newAddressPanel.find('input,select,radio').prop('disabled', false);
			newPostcodePanel.find('input,select,radio').prop('disabled', true);
		}
		else {
			$("#"+blockID).html("Enter address manually");
			newAddressPanel.find('input,select,radio').prop('disabled', true);
			newPostcodePanel.find('input,select,radio').prop('disabled', false);
		}

		// Use Postcode finder
		// Enter address manually
		return false;
	}

	function poLookup(){
		var lookupBlock = '#current-postcode-lookup-block';
		var postcodeBlock = '#postcode-block';

		// When Lookup Postcode button is clicked, hide the postcode block and display the lookup block
		$(lookupBlock).toggleClass('js-hidden');
		$(postcodeBlock).toggleClass('js-hidden');
		$('#new-manual-toggle-link').toggleClass('js-hidden');

		// Disable fields in postcodeBlock to avoid validation error
		if ($(lookupBlock).hasClass('js-hidden')) {
			$(postcodeBlock).find('input,select,radio').prop('disabled',false);
			$(lookupBlock).find('input,select,radio').prop('disabled',true);
			$('#postcode').val('');
			document.getElementById('current-entered-po').innerHTML ='';
		}
		else {
			$(postcodeBlock).find('input,select,radio').prop('disabled',true);
			$(lookupBlock).find('input,select,radio').prop('disabled',false);

			// Add the entered postcode to the Postcode: line
			var po = ($('#postcode').val()).toUpperCase();
			var po1 = po.slice(0,(po.length-3));
			var po2 = po.slice((po.length-3),(po.length));
			document.getElementById('current-entered-po').innerHTML += (po1 + ' ' + po2);
		}

	}
</script> {% endblock %}