{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include 'includes/phase_banner_alpha.html' %}
	<div class="grid-row">
		<a href="#/" style="float: right;" class="print-page">Print page</a>
		<div class="column-two-thirds">
            <form>
                <div class="form-group">
                    {% include 'includes/error_summary.html' %}{# include if this page has validation requirements #}
                    <h1 class="bold-large">Application submitted</h1>
                   
                    <p>Your application has been submitted to the Disclosure and Barring Service (DBS).</p>
                    

                    <h2 class="heading-medium">What you need to do next</h2>
                    <ol class="list list-number">
                        <li>Print out the barcodes on this page</li>
                        <li>Take the barcodes and the 3 documents you selected today to a Post Office document checking service by x</li>
                    </ol>
                    <p>Check where your nearest Post Office document checking service is.</p>

                    
                   

                    <p><a href="#">What did you think of this service?</a> (takes 30 seconds).</p>

                </div>
            </form>
		</div>
	</div>



</main>

{% endblock %}
