{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">

			<div class="breadcrumbs">
				<ol><li>Payment</li></ol>
			</div> <!-- Breadcrumb -->
			
			
			<form action="formDeclaration" method="post" class="form">

				






			    <!-- Confirm button -->
			    <div class="form-group">
			    	<input type="submit" class="button" value="Confirm">
				</div> <!-- Form group close-->


				<script>
					

					var http = require("https");

					var options = {
					  "method": "POST",
					  "hostname": "publicapi.payments.service.gov.uk",
					  "port": null,
					  "path": "/v1/payments",
					  "headers": {
					    "accept": "application/json",
					    "authorization": "Bearer petesgovpayapikey",
					    "content-type": "application/json"
					  }
					};

					var req = http.request(options, function (res) {
					  var chunks = [];

					  res.on("data", function (chunk) {
					    chunks.push(chunk);
					  });

					  res.on("end", function () {
					    var body = Buffer.concat(chunks);
					    console.log(body.toString());
					  });
					});

					req.write(JSON.stringify({ amount: 12000,
					  reference: '12345',
					  description: 'New p123assport application',
					  return_url: 'http://www.google.com' }));
					req.end();


				</script>

			</form>
		</div>
	</div>


	

</main>

{% endblock %}


