{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/breadcrumb_examples.html" %}

  <form action="form2" method="post" class="form">

  	<!-- Email address -->
    <div class="form-group">
      <label class="form-label-bold" for="email-address">Email address</label>
      <p class="form-hint">This will only be used to contact you about your application.</p>
      <input type="text" class="form-control" id="email-address">
    </div>

    <!-- Confirm email address -->
    <div class="form-group">
      <label class="form-label-bold" for="confirm-email-address">Confirm email address</label>
      <input type="text" class="form-control" id="confirm-email-address">
    </div>

    <!-- Continue button -->
    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>
  </form>



</main>

{% endblock %}


