{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}
{% set main_question = "Add another address" %}
{% block content %}

<main id="content" role="main">
  {% include 'includes/phase_banner_alpha.html' %}
  <a href="javascript: window.history.go(-1)" class="link-back">Back</a>
	<div class="grid-row">
		<div class="column-two-thirds reduceMargin">

			{% include 'includes/error_summary.html' %}
      {# include if this page has validation requirements #}

			<form action="formAddressHistory" method="post" class="form">


        <h1 class="heading-medium">What was your address?</h1>
			<!-- Details correct -->
			<div class="form-group" id="add-new-address-group">
				<fieldset class="inline">
					<div class="form-group" id="new-address-fields-block">
						<div id="new-address-line-1-group" class="form-group">
							<label class="form-label" for="new-address-line-1">Number and street</label>
							<div id="new-address-line-1-group-error-message" class="form-error validation-message"></div>
							<input class="form-control" name="new-address-line-1" type="text" id="new-address-line-1"
								data-parsley-class-handler="#new-address-line-1-group"
								data-parsley-errors-container="#new-address-line-1-group-error-message"
								data-parsley-required-message="Enter the first address line"
							><br/>
							<input class="form-control" name="new-address-line-2" type="text" id="new-address-line-2">
						</div>
						<div id="new-town-group" class="form-group">
							<label class="form-label" for="new-address-town-city">Town or city</label>
							<div id="new-town-group-error-message" class="form-error validation-message"></div>
							<input class="form-control" name="new-address-town-city" type="text" id="new-address-town-city"
								data-parsley-class-handler="#new-town-group"
								data-parsley-errors-container="#new-town-group-error-message"

								data-parsley-required-message="Enter the town or city"
							>
						</div>
						<div id="new-postcode-group" class="form-group">
							<label class="form-label" for="new-address-postcode">Postcode</label>
							<div id="new-postcode-group-error-message" class="form-error validation-message"></div>
							<input class="form-control" style="text-transform: uppercase;" maxlength="7" name="new-address-postcode" type="text" id="new-address-postcode"
							   data-parsley-class-handler="#new-postcode-group"
							   data-parsley-errors-container="#new-postcode-group-error-message"
							   data-parsley-required-message="Enter the postcode"
							>
						</div>
						<div id="new-country-group" class="form-group">
							<label class="form-label" for="new-address-country">Country</label>
							<div id="new-country-group-error-message" class="form-error validation-message"></div>
							<input class="form-control" name="new-address-country" type="text" id="new-address-country"
								data-parsley-class-handler="#new-country-group"
								data-parsley-errors-container="#new-country-group-error-message"

								data-parsley-required-message="Enter the country"
							>
						</div>
					</div> <!-- Form group close - New address block -->
				</fieldset>

				<fieldset class="inline">
					<div class="form-group ">
						<label for="address-since-year"
							<span class="form-label-bold">What year did you start living here?</span>
							<span class="form-hint">For example, 1980</span>
						</label>

						<div class="form-date">
							<div class="form-group form-group-year">
								<input id="address-since-year" class="form-control " type="number" name="address-since-year" value="">
							</div>
						</div>
					</div>

					<div class="form-group ">
						<fieldset class=" inline ">
							<legend id="radio-group-current-address">
								<span class="form-label-bold">Do you still live here?</span>
							</legend>

							<label class="block-label selection-button-radio" for="radio-option-yes" data-target="" id="for-radio-option-yes">
								<input type="radio" id="radio-option-yes" name="radio-group-current-address" value="Yes">
								Yes
							</label>

							<label class="block-label selection-button-radio selected" for="radio-option-no" data-target="address-to-block" id="for-radio-option-no">
								<input type="radio" id="radio-option-no" name="radio-group-current-address" value="No" aria-controls="address-to-block" aria-expanded="true">
								No
							</label>
						</fieldset>

						<div class="panel panel-border-narrow js-hidden" id="address-to-block" aria-hidden="false">
							<div class="form-group ">
								<label for="address-to-year">
									<span class="form-label-bold">What year did you stop living here?</span>
									<span class="form-hint">For example, 1980</span>
								</label>

								<div class="form-date">
									<div class="form-group form-group-year">
										<input id="address-to-year" class="form-control " type="number" name="address-to-year" value="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</fieldset>


			    <!-- Continue button -->
			    <div class="form-group">
			    	<input type="submit" class="button" value="Continue">
				</div> <!-- Form group close-->
			</form>
		</div>
	</div>


</main>

<!-- scripts for page validation -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/parsley.min.js"></script>
<script src="/public/javascripts/form-utilities.js"></script>

<script type="text/javascript">
</script>

{% endblock %}
