{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">

			<div class="breadcrumbs">
				<ol><li>Section 1 of 9</li></ol>
			</div> <!-- Breadcrumb -->

			<form action="formSensitive" method="post" class="form">

				<span class="heading-medium">Your personal details<br></span>
				<br>
				<!-- Verified details -->
				<div class="form-group">
					<span class="text-secondary">Name<br></span>
					<span>John Smith<br></span>
					<span class="text-secondary">Date of birth<br></span>
					<span>01/01/1960<br></span>
					<span class="text-secondary">Gender<br></span>
					<span>Male<br></span>
				</div> <!-- Form group close-->

			  	<!-- Details correct -->
				<div class="form-group">
					<fieldset>
						<legend class="form-label-bold">Are your personal details correct and up-to-date?</legend>
						<p class="form-hint">Look at your name, date of birth, and gender.</p>

					    <label class="block-label" for="correct-radio-1">
							<input id="correct-radio-1" type="radio" name="radio-correct-group" value="Yes">
							Yes, my personal details are correct
						</label>
								
						<label class="block-label" for="correct-radio-2">
							<input id="correct-radio-2" type="radio" name="radio-correct-group" value="No">
							No, some details are wrong or have changed
						</label>
					</fieldset>
				</div> <!-- Form group close-->

			    <!-- Continue button -->
			    <div class="form-group">
			    	<input type="submit" class="button" value="Continue">
				</div> <!-- Form group close-->

			</form>
		</div>
	</div>



</main>

{% endblock %}


