{% extends "layout.html" %} {% block page_title %} DBS Prototype {% endblock %} {% set main_question = "Have you ever been
known by any other names?" %} {% block content %}

<main id="content" role="main">
	{% include 'includes/phase_banner_alpha.html' %}
	<a href="javascript: window.history.go(-1)" class="link-back">Back</a>
	<div class="grid-row">
		<div class="column-two-thirds reduceMargin">

			<h1 class="heading-medium page-heading">Have you ever been known by any other names?</h1>


			<form action="formGender" method="post" class="form">
				<div class="form-group">
					<p>You must tell us about all other names you’ve used, including middle names.</p> <p>For example, you may have changed your name through marriage.</p>

					<div class="panel panel-border-wide">
						<p>You must include all names that are on your official documents, for example your driving licence.</p>
						<p>We need these names so we can check your application against our records.</p>
					</div>

					<table>
						<thead>
						<tr>
							<th scope="col">Name</th>
							<th scope="col">Dates you used this name</th>
							<th scope="col"></th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>
								<p>
									John
									Daniel
									Smith
								</p>
							</td>
							<td>
								<p>
									Current name
								</p>
							</td>
							<td></td>
						</tr>

						<tr>
							<td>
								<p>Joe

									Bloggs</p>
							</td>
							<td>
      <span>

   March 1990 to<br>
   September 1990
            </span>
							</td>
							<td>
								<a href="formEditName">Edit <span class="visually-hidden">Name</span></a>
								<br>
								<a href="formAddNames" id="deleteName">Delete <span class="visually-hidden">Name</span></a>
							</td>
						</tr>

						</tbody>
					</table>

					<p class="" id="name-options">
						<a href="formAddName">Add another name</a>
					</p>
				</div>

				<input type="hidden" name="_csrf" value="waxUstEO-rMdk42ao6vNNUpm0svwvsapPQ5w">

				<div class="form-group">
					<input type="submit" class="button" id="save-and-continue" value="Continue">
				</div>
			</form>
		</div>

		<!-- ADD NAME BLOCK NODE FOR COPYING -->
		<div id="add-name-block-" class="js-hidden">
			<span class="heading-medium" id="new-name-title-">Name </span>
			<div style="float: right;"><a href="#/" id="del-name-" onClick="javascript:delName($(this).attr('id'));" role="button">Delete name</a></div><br>
			<!-- Given names -->
			<div id="expand-given-name-group-" class="form-group">
				<label class="form-label" for="given-names-">First name</label>
				<div id="expand-given-name-group-error-message-" class="form-error validation-message"></div>
				<input disabled class="form-control" name="other-given-names-" type="text" id="given-names-" data-parsley-class-handler="#expand-given-name-group-"
					data-parsley-errors-container="#expand-given-name-group-error-message-" data-parsley-required-message="Enter your other first name for name ">
			</div>
			<!-- Form group close-->

			<div id="expand-middle-name-group-" class="form-group">
				<label class="form-label" for="middle-names-">Middle name(s)</label>
				<div id="expand-middle-name-group-error-message-" class="form-error validation-message"></div>
				<input disabled class="form-control" name="other-middle-names-" type="text" id="middle-names-" data-parsley-class-handler="#expand-given-name-group-"
					data-parsley-errors-container="#expand-middle-name-group-error-message-" data-parsley-required-message="Enter your other middle name(s) for name ">
			</div>
			<!-- Form group close-->

			<!-- Family name -->
			<div id="expand-family-name-group-" class="form-group">
				<label class="form-label" for="family-name-">Last name(s)</label>
				<div id="expand-family-name-group-error-message-" class="form-error validation-message"></div>
				<input disabled class="form-control" name="other-family-name-" type="text" id="family-name-" data-parsley-class-handler="#expand-family-name-group-"
					data-parsley-errors-container="#expand-family-name-group-error-message-" data-parsley-required-message="Enter your other last name(s) for name ">
			</div>
			<!-- Form group close-->


			<!-- Date from -->
			<div id="expand-date-from-group-" class="form-group">
				<fieldset>
					<legend class="form-label">When did you start using this name?</legend>
					<p class="form-hint">For example, 03 1980</p>
					<div class="form-date">

						<div id="expand-date-from-group-error-message-" class="form-error validation-message"></div>
						<div class="form-group form-group-month" id="expand-date-from-month-group-">
							<label for="name-from-month-">Month</label>
							<input disabled class="form-control" id="name-from-month-" type="number" pattern="[0-9]*" maxlength="2" min="0" max="12"
								name="other-name-from-month-" data-parsley-class-handler="#expand-date-from-group-" data-parsley-errors-container="#expand-date-from-group-error-message-"
								data-parsley-required-message="Enter the month you started using name ">
						</div>
						<!-- Form group close-->
						<div class="form-group form-group-year" id="expand-date-from-year-group-">
							<label for="name-from-year-">Year</label>
							<input disabled class="form-control" id="name-from-year-" type="number" pattern="[0-9]*" maxlength="4" min="1900" max="2016"
								name="other-name-from-year-" data-parsley-class-handler="#expand-date-from-group-" data-parsley-errors-container="#expand-date-from-group-error-message-"
								data-parsley-required-message="Enter the year you started using name ">
						</div>
						<!-- Form group close-->
					</div>
					<!-- Form group close-->
				</fieldset>

			</div>
			<!-- Form group close-->

			<!-- Date to -->
			<div id="expand-date-to-group-" class="form-group">
				<fieldset>

					<div class="form-date" id="end-date-">
						<legend class="form-label">When did you stop using this name?</legend>
						<p class="form-hint">For example, 03 1980</p>
						<div id="expand-date-to-group-error-message-" class="form-error validation-message"></div>
						<div class="form-group form-group-month" id="expand-date-to-month-group-">
							<label for="name-to-month-">Month</label>
							<input disabled class="form-control" id="name-to-month-" type="number" pattern="[0-9]*" maxlength="2" min="0" max="12" name="other-name-to-month-"
								data-parsley-class-handler="#expand-date-to-group-" data-parsley-errors-container="#expand-date-to-group-error-message-"
								data-parsley-required-message="Enter the month you stopped using name ">
						</div>
						<!-- Form group close-->
						<div class="form-group form-group-year" id="expand-date-to-year-group-">
							<label for="name-to-year-">Year</label>
							<input disabled class="form-control" id="name-to-year-" type="number" pattern="[0-9]*" maxlength="4" min="1900" max="2016"
								name="other-name-to-year-" data-parsley-class-handler="#expand-date-to-group-" data-parsley-errors-container="#expand-date-to-group-error-message-"
								data-parsley-required-message="Enter the year you stopped using name ">
						</div>
						<!-- Form group close-->

					</div>
					<!-- Form group close-->
					<div class="form-group">
						<br/>
						<label class="block-label" for="currently-used-name-">
						<input id="currently-used-name-" name="currently-used-name-" type="checkbox" value="currently-used-name" onClick="javascript:flipDisable();" >
						I still use this name
						</label>
					</div>

				</fieldset>


			</div>
			<!-- Form group close-->


			<br>
		</div>
		<!-- CLOSE ADD NAME BLOCK NODE -->








</main>

<!-- scripts for page validation -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/parsley.min.js"></script>
<script src="/public/javascripts/form-utilities.js"></script>

<script type="text/javascript">
  $('#deleteName').click(function (e) {
    e.preventDefault();
	$(this).closest('tr').hide();
  });
</script> {% endblock %}