{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">

			{% include 'includes/error_summary.html' %}{# include if this page has validation requirements #}
			
			
			<form action="https://payments:team@payment-prototype.herokuapp.com/dbs-choose-payment" method="post" class="form">

			    <div class="form-group">
			    	<h3 class="heading-medium">I confirm that:</h3>
			    	<ul class="list-bullet">
			    		<li>I have read and accept the <a href="#">Terms and Conditions</a> and the <a href="#">Privacy Policy</a> for basic DBS checks</li>
			    		<li>The information supplied is complete, true, and correct to the best of my knowledge</li>
			    	</ul>
			    	
			
			    	<h3 class="heading-medium">I understand that:</h3>
			    	<ul class="list-bullet">
			    		<li>Knowingly making a false statement for this application may be a criminal offence</li>
			    		<li>A payment of £16 is needed to complete my application for a basic DBS check</li>
			    	</ul>
			    </div> <!-- Form group close-->

			    <!-- Declaration acceptance checkbox -->
			    <div id="check-declaration-group" class="form-group">
			    	<div id="check-declaration-group-error-message" class="form-error validation-message"></div>
			    	<label class="block-label" for="check-declaration">
						<input id="check-declaration" type="checkbox" name="check-declaration-group" value="Agree"
							data-parsley-class-handler="#check-declaration-group" 
          							data-parsley-errors-container="#check-declaration-group-error-message"
          							data-parsley-required="true"
    								data-parsley-required-message="Please confirm you agree">
						I understand and agree with the declaration
					</label>
			    </div>


			    <!-- Confirm button -->
			    <div class="form-group">
			    	<input type="submit" class="button" value="Confirm">
				</div> <!-- Form group close-->
				<a class="js-hidden" href="formComplete.html">TEST skip Payment</a>
			</form>
		</div>
	</div>



</main>

<!-- scripts for page validation -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/parsley.min.js"></script>
<script src="/public/javascripts/form-utilities.js"></script>

<script type="text/javascript">
	var parsleyForm;
	var thisFormInstance = $( "form:first-of-type" ); // assuming we're validating first form on this page

	// attach parsley validation to the form
	parsleyForm = thisFormInstance.parsley({
		excluded: 'input[type=button], input[type=submit], input[type=reset]',
		focus:"none"
	});

	// before form is validated, catch the event and do custom validation if needed
	  thisFormInstance.parsley().on('form:validate', function(formInstance) {

	    var ok = true;
	    // add custom validations here - set ok to false if any of them fail validation
	    
	    //ok = ok && checkDiagnosisFutureDate();
	    //ok = ok && validateDOB();

	    if (!ok) {
	      formInstance.validationResult = false;
	    } else {
	      formInstance.validationResult = true;
	    }
	  });

	  // what to do when form doesn't validate
	  thisFormInstance.parsley().on('form:error', function(formInstance) {
	    //console.log('form error');

	    // construct error display
	    GOVUK.formUtilities.showErrorSummary();
	  });

	  // what to do when form validates successfully
	  thisFormInstance.parsley().on('form:submit', function(formInstance) {
	    //console.log('form success');
	    GOVUK.formUtilities.hideErrorSummary();

	    // allow the form to submit
	    return true;
	  });


</script>

{% endblock %}


