{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">

			{% include 'includes/error_summary.html' %}{# include if this page has validation requirements #}


			<form action="formAddress" method="post" class="form">

			    <div id="names-group" class="form-group">
			    	<fieldset>
			    		<legend class="heading-medium">Have you ever been known by any other names?</legend>
			    		<p class="form-hint">This could be a different first or last name. For example if you got married, or changed your name by deed poll.<br>
			    		You don't need to include any names you only used before the age of 10.</p>
			    		<div id="names-group-error-message" class="form-error validation-message"></div>
			    		<label class="block-label" for="name-radio-2">
						    <input id="name-radio-2" type="radio" name="name-radio-group" value="No">
						    No, I haven't used any other names
					    </label>

			    		<label class="block-label" data-target="name-change" for="name-radio-1">
						    <input id="name-radio-1" type="radio" name="name-radio-group" value="Yes"
						    	data-parsley-class-handler="#names-group" 
          							data-parsley-errors-container="#names-group-error-message"
          							data-parsley-required="true"
    								data-parsley-required-message="Confirm if you have been known by other names"
						    >
						    Yes, I've used other names
					    </label>

			    	</fieldset>

			    	<!-- Store number of names the user has entered -->
					<input class="js-hidden" id="other-names-total" name="other-names-total">

			    	<!-- Expandable panel area -->
			    	<div class="panel panel-border-narrow js-hidden" id="name-change">
						
						<p class="form-hint">Enter all your names in full - don't use initials.</p>
						
						<div id="add-name-container">
							<div id="add-name-block">
								<span class="heading-medium" id="new-name-title">Name </span>
					    		<!-- Given names -->
								<div id="expand-given-name-group" class="form-group">
									<label class="form-label" for="given-names">First name(s)</label>
									<div id="expand-given-name-group-error-message" class="form-error validation-message"></div>
									<input disabled class="form-control" name="other-given-names" type="text" id="given-names"
										data-parsley-class-handler="#expand-given-name-group" 
		          							data-parsley-errors-container="#expand-given-name-group-error-message"
		          							data-parsley-required="true"
		    								data-parsley-required-message="Enter your other first name(s)"
									>
								</div> <!-- Form group close-->

								<!-- Family name -->
								<div id="expand-family-name-group" class="form-group">
									<label class="form-label" for="family-name">Last name(s)</label>
									<div id="expand-family-name-group-error-message" class="form-error validation-message"></div>
									<input disabled class="form-control" name="other-family-name" type="text" id="family-name"
										data-parsley-class-handler="#expand-family-name-group" 
		          							data-parsley-errors-container="#expand-family-name-group-error-message"
		          							data-parsley-required="true"
		    								data-parsley-required-message="Enter your other last name"
									>
								</div> <!-- Form group close-->


								<!-- Date from -->
								<div id="expand-date-from-group" class="form-group">
									<fieldset>
										
										<div class="form-date">
											<legend class="form-label">When did you start using this name?</legend>
											<div id="expand-date-from-group-error-message" class="form-error validation-message"></div>
											<div class="form-group form-group-month" id="expand-date-from-month-group">
												<label for="name-from-month">Month</label>
												<input disabled class="form-control" id="name-from-month" type="number" pattern="[0-9]*" maxlength="2" min="0" max="12" name="other-name-from-month"
													data-parsley-class-handler="#expand-date-from-group" 
		          									data-parsley-errors-container="#expand-date-from-group-error-message"
		          									data-parsley-required="true"
		    										data-parsley-required-message="Enter the month from"
												>
											</div> <!-- Form group close-->
											<div class="form-group form-group-year" id="expand-date-from-year-group">
												<label for="name-from-year">Year</label>
												<input disabled class="form-control" id="name-from-year" type="number" pattern="[0-9]*" maxlength="4" min="1900" max="2016" name="other-name-from-year"
													data-parsley-class-handler="#expand-date-from-group" 
		          									data-parsley-errors-container="#expand-date-from-group-error-message"
		          									data-parsley-required="true"
		    										data-parsley-required-message="Enter the year from"
												>
											</div> <!-- Form group close-->
											
										</div> <!-- Form group close-->

									</fieldset>
									<p class="form-hint">For example, 03 1980</p>
									
								</div> <!-- Form group close-->


								<!-- Date to -->
								<div id="expand-date-to-group" class="form-group js-hidden">
									<fieldset>
										<legend class="form-label">Date to:</legend>
										<p class="form-hint">For example, 03 2014</p>
										<div class="form-date">
											
											<div id="expand-date-to-group-error-message" class="form-error validation-message"></div>
											<div class="form-group form-group-month" id="expand-date-to-month-group">
												<label for="name-to-month">Month</label>
												
												<input disabled class="form-control" id="name-to-month" type="number" pattern="[0-9]*" maxlength="2" min="0" max="12" name="other-name-to-month"
													data-parsley-class-handler="#expand-date-to-group" 
		          									data-parsley-errors-container="#expand-date-to-group-error-message"
		          									data-parsley-required="true"
		    										data-parsley-required-message="Enter the month to"
												>
											</div> <!-- Form group close-->
											<div class="form-group form-group-year" id="expand-date-to-year-group">
												<label for="name-to-year">Year</label>
												<input disabled class="form-control" id="name-to-year" type="number" pattern="[0-9]*" maxlength="4" min="1900" max="2016" name="other-name-to-year"
													data-parsley-class-handler="#expand-date-to-group" 
		          									data-parsley-errors-container="#expand-date-to-group-error-message"
		          									data-parsley-required="true"
		    										data-parsley-required-message="Enter the year to"
												>
											</div> <!-- Form group close-->
										</div>
									</fieldset>
									<br>
									
								</div> <!-- Form group close-->
							</div>
						</div>

						<div class="form-group">
							<br>
							<a class="button-secondary" id="add-link" onClick="javascript:addName();" href="#/" role="button">Add another name</a>
						</div>

					</div> <!-- Expandable panel area  Close -->
			    </div> <!-- Form group close-->


			    <!-- Continue button -->
			    <div class="form-group">
			    	<input type="submit" class="button" value="Save and continue">
				</div> <!-- Form group close-->

			</form>
		</div>
	</div>







	<!-- ADD NAME BLOCK NODE FOR COPYING -->
	<div id="add-name-block-" class="js-hidden">
		<span class="heading-medium" id="new-name-title-">Name </span>
		<div style="float: right;"><a href="#/" id="del-name-" onClick="javascript:delName($(this).attr('id'));" role="button">Delete name</a></div><br>
		<!-- Given names -->
		<div id="expand-given-name-group-" class="form-group">
			<label class="form-label" for="given-names-">First name(s)</label>
			<div id="expand-given-name-group-error-message-" class="form-error validation-message"></div>
			<input disabled class="form-control" name="other-given-names-" type="text" id="given-names-"
			data-parsley-class-handler="#expand-given-name-group-" 
			data-parsley-errors-container="#expand-given-name-group-error-message-"
			data-parsley-required="true"
			data-parsley-required-message="Enter your other first name(s)"
			>
		</div> <!-- Form group close-->

		<!-- Family name -->
		<div id="expand-family-name-group-" class="form-group">
			<label class="form-label" for="family-name-">Last name(s)</label>
			<div id="expand-family-name-group-error-message-" class="form-error validation-message"></div>
			<input disabled class="form-control" name="other-family-name-" type="text" id="family-name-"
			data-parsley-class-handler="#expand-family-name-group-" 
			data-parsley-errors-container="#expand-family-name-group-error-message-"
			data-parsley-required="true"
			data-parsley-required-message="Enter your other last name"
			>
		</div> <!-- Form group close-->


		<!-- Date from -->
		<div id="expand-date-from-group-" class="form-group">
			<fieldset>
				<legend class="form-label">When did you start using this name?</legend>
				
				<div class="form-date">

				<div id="expand-date-from-group-error-message-" class="form-error validation-message"></div>
					<div class="form-group form-group-month" id="expand-date-from-month-group-">
						<label for="name-from-month-">Month</label>
						<input disabled class="form-control" id="name-from-month-" type="number" pattern="[0-9]*" maxlength="2" min="0" max="12" name="other-name-from-month-"
						data-parsley-class-handler="#expand-date-from-group-" 
						data-parsley-errors-container="#expand-date-from-group-error-message-"
						data-parsley-required="true"
						data-parsley-required-message="Enter the month from"
						>
					</div> <!-- Form group close-->
					<div class="form-group form-group-year" id="expand-date-from-year-group-">
						<label for="name-from-year-">Year</label>
						<input disabled class="form-control" id="name-from-year-" type="number" pattern="[0-9]*" maxlength="4" min="1900" max="2016" name="other-name-from-year-"
						data-parsley-class-handler="#expand-date-from-group-" 
						data-parsley-errors-container="#expand-date-from-group-error-message-"
						data-parsley-required="true"
						data-parsley-required-message="Enter the year from"
						>
					</div> <!-- Form group close-->
				</div> <!-- Form group close-->
			</fieldset>
			<p class="form-hint">For example, 03 1980</p>
		</div> <!-- Form group close-->


		<!-- Date to -->
		<div id="expand-date-to-group-" class="form-group js-hidden">
			<fieldset>
				<legend class="form-label">Date to:</legend>
				<p class="form-hint">For example, 03 2014</p>
				<div class="form-date">

					<div id="expand-date-to-group-error-message-" class="form-error validation-message"></div>
					<div class="form-group form-group-month" id="expand-date-to-month-group-">
						<label for="name-to-month-">Month</label>

						<input disabled class="form-control" id="name-to-month-" type="number" pattern="[0-9]*" maxlength="2" min="0" max="12" name="other-name-to-month-"
						data-parsley-class-handler="#expand-date-to-group-" 
						data-parsley-errors-container="#expand-date-to-group-error-message-"
						data-parsley-required="true"
						data-parsley-required-message="Enter the month to"
						>
					</div> <!-- Form group close-->
					<div class="form-group form-group-year" id="expand-date-to-year-group-">
						<label for="name-to-year-">Year</label>
						<input disabled class="form-control" id="name-to-year-" type="number" pattern="[0-9]*" maxlength="4" min="1900" max="2016" name="other-name-to-year-"
						data-parsley-class-handler="#expand-date-to-group-" 
						data-parsley-errors-container="#expand-date-to-group-error-message-"
						data-parsley-required="true"
						data-parsley-required-message="Enter the year to"
						>
					</div> <!-- Form group close-->
				</div>
			</fieldset>
			<br>

		</div> <!-- Form group close-->
	</div> <!-- CLOSE ADD NAME BLOCK NODE -->








</main>

<!-- scripts for page validation -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/parsley.min.js"></script>
<script src="/public/javascripts/form-utilities.js"></script>

<script type="text/javascript">
	var parsleyForm;
	var thisFormInstance = $( "form:first-of-type" ); // assuming we're validating first form on this page

	// attach parsley validation to the form
	parsleyForm = thisFormInstance.parsley({
		excluded: 'input[type=button], input[type=submit], input[type=reset], :disabled',
		focus:"none"
	});

	// before form is validated, catch the event and do custom validation if needed
	  thisFormInstance.parsley().on('form:validate', function(formInstance) {

	    var ok = true;
	    // add custom validations here - set ok to false if any of them fail validation
	    
	    //ok = ok && checkDiagnosisFutureDate();
	    //ok = ok && validateDOB();

	    if (!ok) {
	      formInstance.validationResult = false;
	    } else {
	      formInstance.validationResult = true;
	    }
	  });

	  // what to do when form doesn't validate
	  thisFormInstance.parsley().on('form:error', function(formInstance) {
	    //console.log('form error');

	    // construct error display
	    GOVUK.formUtilities.showErrorSummary();
	  });

	  // what to do when form validates successfully
	  thisFormInstance.parsley().on('form:submit', function(formInstance) {
	    //console.log('form success');
	    GOVUK.formUtilities.hideErrorSummary();

	    // allow the form to submit
	    return true;
	  });


	  $("input[name=name-radio-group]").on('click', function() {
			var namesPanel = $('#name-change');

			if ($(this).val() == "Yes") {
				// remove disabled prop
				namesPanel.find('input,select,radio').prop('disabled', false);
			} else {
				namesPanel.find('input,select,radio').prop('disabled', true);
			}
		});

	  var counter=1;

	  function addName() {
	  		var addLink = $('#add-link');

	  		var obj = document.getElementById('add-name-block-').cloneNode(true),
		  			children = obj.childNodes;
		  	obj.id = obj.id+counter;
		  	obj.className = '';

		  	changeId(children, counter);
		  	document.getElementById('add-name-container').appendChild(obj);
		  	

		  	
		  	$(document.getElementById('add-name-block-'+counter)).find('input,select,radio').prop('disabled', false);
		  	
		  	document.getElementById('new-name-title-'+counter).innerHTML +=String(counter);

		  	document.getElementById('other-names-total').value = counter;
		  	


		  	counter+=1;

		  	function changeId(nodes, n){
		  		for (var i=0;i<nodes.length;i=i+1){
		  			if (nodes[i].childNodes){
						changeId(nodes[i].childNodes,n);
					}
					if(nodes[i].id) {
						nodes[i].id += String(n);
					}
					if(nodes[i].htmlFor) {
						nodes[i].htmlFor +=String(n);
					}
					if($(nodes[i]).data("target")) {
						var newString = $(nodes[i]).data('target')+String(n);
						//console.log(newString);
						$(nodes[i]).attr('data-target', newString);
					}
					if(nodes[i].name){
						//console.log(nodes[i].name);
						nodes[i].name +=String(n);
					}
					if($(nodes[i]).data("parsley-class-handler")) {
						var newString = $(nodes[i]).data('parsley-class-handler')+String(n);
						$(nodes[i]).attr('data-parsley-class-handler', newString);
					}
					if($(nodes[i]).data("parsley-errors-container")) {
						var newString = $(nodes[i]).data('parsley-errors-container')+String(n);
						$(nodes[i]).attr('data-parsley-errors-container', newString);
					}
					if($(nodes[i]).data("parsley-required-message")) {
						var newString = $(nodes[i]).data('parsley-required-message')+String(' for name ')+String(n);
						$(nodes[i]).attr('data-parsley-required-message', newString);
					}
		  		}
		  	}
	  }

	  function delName(nameId) {
	  		console.log(nameId);
			var splitID = nameId.split('-');
			var idNo = splitID[splitID.length-1];
			var nameBlock = '#add-name-block-'+idNo;

			$(nameBlock).addClass("js-hidden");
			$(nameBlock).find('input,select,radio').prop('disabled', true);
			$(nameBlock).find('input,select,radio').val('');
	  }


</script>

{% endblock %}


