{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
  	<div class="column-two-thirds">
    	<h1 class="heading-large">You have passed Verify</h1>
    </div>
    <div class="column-two-thirds">

        <p>You have successfully passed Verify.</p>
    	<p>Processing your information...</p>
        <div class="form-group">
            <ul class="list-bullet" style="color:Red;">
                <li>Copy needed here!</li>
            </ul>
        </div>

    	<br><br>
    	<a class="button button-start" href="formFirstPage.html" role="button">Continue</a>

    </div>



  </div>
</main>

{% endblock %}


