{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">

			{% include 'includes/error_summary.html' %}{# include if this page has validation requirements #}

			<form action="formOtherAddresses" method="post" class="form">

				
				
				
				
			  	<!-- Details correct -->
				<div class="form-group" id="current-address-group">
					<fieldset class="inline">
						<legend class="heading-medium">Is this your current address?</legend>
						<!-- Verified details -->
						<div class="form-group">
							<p class="form-hint">This is the address from your GOV.UK Verify account.</p>
							<span>
								1 Oxford Road<br>
								Bristol<br>
								South Gloucestershire<br>
								United Kingdom<br>
								LP1 12D
							</span>
						</div>
						
						<div id="current-address-group-error-message" class="form-error validation-message"></div>

					    <label class="block-label" data-target="correct-address" for="correct-address-radio-1">
							<input id="correct-address-radio-1" type="radio" name="radio-correct-address-group" value="Yes"
									data-parsley-class-handler="#current-address-group" 
          							data-parsley-errors-container="#current-address-group-error-message"
          							data-parsley-required="true"
    								data-parsley-required-message="Select 'yes' if it is your current address, or 'no' if isn't"
							>
							Yes
						</label>
								
						<label class="block-label" data-target="incorrect-address" for="correct-address-radio-2">
							<input id="correct-address-radio-2" type="radio" name="radio-correct-address-group" value="No">
							No
						</label>
					</fieldset>

					<!-- Expandable panel area  CORRECT ADDRESS-->
			    	<div class="panel panel-border-narrow js-hidden" id="correct-address">

						<!-- At address since -->
						<div class="form-group" id="address-since-group" >
							<fieldset>
								<legend class="form-label">When did you move into this address?</legend>
								
								<div class="form-date">
									
									<div id="address-since-group-error-message" class="form-error validation-message"></div>
									<div class="form-group form-group-month">
										<label for="correct-address-since-month">Month</label>
										<input disabled class="form-control" name="correct-address-since-month" id="correct-address-since-month" type="number" maxlength="2" pattern="[0-9]*" min="0" max="12"
											data-parsley-class-handler="#address-since-group" 
          									data-parsley-errors-container="#address-since-group-error-message"
          									data-parsley-required="true"
    										data-parsley-required-message="Enter the month you moved into this address"
										>
									</div>
									<div class="form-group form-group-year">
										<label for="correct-address-since-year">Year</label>
										<input disabled class="form-control" name="correct-address-since-year" id="correct-address-since-year" type="number" maxlength="4" pattern="[0-9]*" min="1900" max="2016"
											data-parsley-class-handler="#address-since-group" 
          									data-parsley-errors-container="#address-since-group-error-message"
          									data-parsley-required="true"
    										data-parsley-required-message="Enter the year you moved into this address"
										>
									</div>
								</div>

							</fieldset>
							<p class="form-hint">For example, 03 1980</p>
							
						</div>
					</div> <!-- Expandable panel area  Close CORRECT ADDRESS-->





					<!-- Expandable panel area INCORRECT ADDRESS-->
			    	<div class="panel panel-border-narrow js-hidden" id="incorrect-address">

						<p class="form-label">What is your current address?</p>

						<!-- Postcode block -->
						<div class="form-group" id="postcode-block" >
			    			<fieldset class="inline">
							<!-- Postcode -->
								<label class="form-label" for="postcode">Postcode</label>
								<div id="postcode-block-error-message" class="form-error validation-message"></div>
								<input disabled class="form-control" name="postcode" type="text" id="postcode"
									data-parsley-class-handler="#postcode-block" 
          							data-parsley-errors-container="#postcode-block-error-message"
          							data-parsley-required="true"
    								data-parsley-required-message="Enter the address"
								>
								<a class="button secondary-button" href="#/" onClick="javascript:poLookup();" role="button">Find UK address</a>
							</fieldset>
						</div> <!-- Form group close - Postcode block -->





						<div class="form-group js-hidden" id="current-postcode-lookup-block">
						<!-- 	If they use postcode lookup, flip hidden on this block and the postcode-block block.
								Display the postcode they entered, format to Upper and Split. Display possible addresses
						-->

							<div class="form-group">
								<label class="form-label">Postcode:</label> 
									<div id="current-entered-po" style="font-weight:bold;"></div>
									<a href="#/" role="button" onClick="javascript:poLookup();">Change</a>


							</div>
							<div class="form-group" id="current-po-finder-addresses">
								<label class="form-label">Select your address</label>
								<div id="current-po-finder-error-message" class="form-error validation-message"></div>
								<ul>
									<li>
										<label>
											<input disabled type="radio" value="1 Oxford Road, London, United Kingdom" name="current-found-address"
												data-parsley-class-handler="#current-po-finder-addresses" 
			          							data-parsley-errors-container="#current-po-finder-error-message"
			          							data-parsley-required="true"
			    								data-parsley-required-message="Select the address"
											>
											1 Oxford Road, London, United Kingdom
										</label>
									</li>
									<li>
										<label>
											<input disabled type="radio" value="2 Oxford Road, London, United Kingdom" name="current-found-address">
											2 Oxford Road, London, United Kingdom
										</label>
									</li>
									<li>
										<label>
											<input disabled type="radio" value="3 Oxford Road, London, United Kingdom" name="current-found-address">
											3 Oxford Road, London, United Kingdom
										</label>
									</li>
									<li>
										<label>
											<input disabled type="radio" value="4 Oxford Road, London, United Kingdom" name="current-found-address">
											4 Oxford Road, London, United Kingdom
										</label>
									</li>
									<li>
										<label>
											<input disabled type="radio" value="5 Oxford Road, London, United Kingdom" name="current-found-address">
											5 Oxford Road, London, United Kingdom
										</label>
									</li>
								</ul>
							</div>

						</div>
						<!-- END OF POSTCODE FINDER BLOCK -->





						<!-- New Address fields ALT block -->
						<div class="form-group js-hidden" id="new-address-fields-block">
							<div id="new-address-line-1-group" class="form-group">
								<label class="form-label" for="new-address-line-1">Address line 1</label>
								<div id="new-address-line-1-group-error-message" class="form-error validation-message"></div>
								<input disabled class="form-control" name="new-address-line-1" type="text" id="new-address-line-1"
									data-parsley-class-handler="#new-address-line-1-group" 
          							data-parsley-errors-container="#new-address-line-1-group-error-message"
          							data-parsley-required="true"
    								data-parsley-required-message="Enter the first address line"
								>
							</div>
							<div class="form-group">
								<label class="form-label" for="new-address-line-2">Address line 2 (optional)</label>
								<input disabled class="form-control" name="new-address-line-2" type="text" id="new-address-line-2">
							</div>
							<div class="form-group">
								<label class="form-label" for="new-address-line-3">Address line 3 (optional)</label>
								<input disabled class="form-control" name="new-address-line-3" type="text" id="new-address-line-3">
							</div>
							<div id="new-town-group" class="form-group">
								<label class="form-label" for="new-address-town-city">Town/City</label>
								<div id="new-town-group-error-message" class="form-error validation-message"></div>
								<input disabled class="form-control" name="new-address-town-city" type="text" id="new-address-town-city"
									data-parsley-class-handler="#new-town-group" 
          							data-parsley-errors-container="#new-town-group-error-message"
          							data-parsley-required="true"
    								data-parsley-required-message="Enter the town or city"
								>
							</div>
							<div class="form-group">
								<label class="form-label" for="new-address-county">County (optional)</label>
								<input disabled class="form-control" name="new-address-county" type="text" id="new-address-county">
							</div>
							<div id="new-country-group" class="form-group">
								<label class="form-label" for="new-address-country">Country</label>
								<div id="new-country-group-error-message" class="form-error validation-message"></div>
								<input disabled class="form-control" name="new-address-country" type="text" id="new-address-country"
									data-parsley-class-handler="#new-country-group" 
          							data-parsley-errors-container="#new-country-group-error-message"
          							data-parsley-required="true"
    								data-parsley-required-message="Enter the country"
								>
							</div>
							<div id="new-postcode-group" class="form-group">
								<label class="form-label" for="new-address-postcode">Postcode</label>
								<div id="new-postcode-group-error-message" class="form-error validation-message"></div>
								<input disabled class="form-control" name="new-address-postcode" type="text" id="new-address-postcode"
									data-parsley-class-handler="#new-postcode-group" 
          							data-parsley-errors-container="#new-postcode-group-error-message"
          							data-parsley-required="true"
    								data-parsley-required-message="Enter the postcode"
								>
							</div>
						</div> <!-- Form group close - New address block -->




						<div class="form-group">
							<a class="button-secondary" id="new-manual-toggle-link" href="#/" onClick="javascript:swapBlock($(this).attr('id'));" role="button">Enter address manually</a>
						</div> <!-- Form group close-->

						<!-- At address since -->
						<div class="form-group" id="new-address-since-group">
							<fieldset>
								<legend class="form-label">When did you move into this address?</legend>
								
								<div class="form-date">
									
									<div id="new-address-since-group-error-message" class="form-error validation-message"></div>
									<div class="form-group form-group-month">
										<label for="incorrect-address-since-month">Month</label>
										<input disabled class="form-control" id="incorrect-address-since-month" name="incorrect-address-since-month"type="number" pattern="[0-9]*" maxlength="2" min="0" max="12"
											data-parsley-class-handler="#new-address-since-group" 
          									data-parsley-errors-container="#new-address-since-group-error-message"
          									data-parsley-required="true"
    										data-parsley-required-message="Enter the month you moved into this address"
										>
									</div>
									<div class="form-group form-group-year">
										<label for="incorrect-address-since-year">Year</label>
										<input disabled class="form-control" id="incorrect-address-since-year" name="incorrect-address-since-year" type="number" pattern="[0-9]*" maxlength="4" min="1900" max="2016"
											data-parsley-class-handler="#new-address-since-group" 
          									data-parsley-errors-container="#new-address-since-group-error-message"
          									data-parsley-required="true"
    										data-parsley-required-message="Enter the year you moved into this address"
										>
									</div>
								</div>
							</fieldset>
							<p class="form-hint">For example, 03 1980</p>
							
						</div> <!-- Form group close-->
					</div> <!-- Expandable panel area  Close INCORRECT ADDRESS -->


				</div> <!-- Form group close-->

			    <!-- Continue button -->
			    <div class="form-group">
			    	<input type="submit" class="button" value="Save and continue">
				</div> <!-- Form group close-->
			</form>
		</div>
	</div>


</main>

<!-- scripts for page validation -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/parsley.min.js"></script>
<script src="/public/javascripts/form-utilities.js"></script>

<script type="text/javascript">
	var parsleyForm;
	var thisFormInstance = $( "form:first-of-type" ); // assuming we're validating first form on this page

	// attach parsley validation to the form
	parsleyForm = thisFormInstance.parsley({
		excluded: 'input[type=button], input[type=submit], input[type=reset], :disabled',
		focus:"none"
	});

	// before form is validated, catch the event and do custom validation if needed
	  thisFormInstance.parsley().on('form:validate', function(formInstance) {

	    var ok = true;
	    // add custom validations here - set ok to false if any of them fail validation
	    
	    //ok = ok && checkDiagnosisFutureDate();
	    //ok = ok && validateDOB();

	    if (!ok) {
	      formInstance.validationResult = false;
	    } else {
	      formInstance.validationResult = true;
	    }
	  });

	  // what to do when form doesn't validate
	  thisFormInstance.parsley().on('form:error', function(formInstance) {
	    //console.log('form error');

	    // construct error display
	    GOVUK.formUtilities.showErrorSummary();
	  });

	  // what to do when form validates successfully
	  thisFormInstance.parsley().on('form:submit', function(formInstance) {
	    //console.log('form success');
	    GOVUK.formUtilities.hideErrorSummary();

	    // allow the form to submit
	    return true;
	  });

	  $("input[name=radio-correct-address-group]").on('click', function() {
			var postcodePanel = $('#postcode-block');
			var addressPanel = $('#new-address-fields-block');

			var correctAddressPanel = $('#correct-address');
			var newAddressPanel = $('#incorrect-address');

			// if Another address selected, enable fields depending on whether manual is selected
			// else disable those fields
			if ($(this).val() == "Yes") {
				// remove disabled prop
				
				correctAddressPanel.find('input,select,radio').prop('disabled',false);
				newAddressPanel.find('input,select,radio').prop('disabled',true);
				}
			else if($(this).val() == "No") {

				correctAddressPanel.find('input,select,radio').prop('disabled',true);
				newAddressPanel.find('input,select,radio').prop('disabled',false);

				// If Postcode finder NOT active, enable address fields
				// Else enable postcode finder field
				if ($('#new-manual-toggle-link').hasClass("manual")) {
					postcodePanel.find('input,select,radio').prop('disabled',true);
					addressPanel.find('input,select,radio').prop('disabled',false);
				}
				else {
					postcodePanel.find('input,select,radio').prop('disabled',false);
					addressPanel.find('input,select,radio').prop('disabled',true);
				}

				
			}
		});



	function swapBlock(blockID){
		var newPostcodePanel = $('#postcode-block');
		var newAddressPanel = $('#new-address-fields-block');

		$("#"+blockID).toggleClass("manual");
		$("#postcode-block").toggleClass("js-hidden");
		$("#new-address-fields-block").toggleClass("js-hidden");

		if ($("#"+blockID).hasClass("manual")){
			$("#"+blockID).html("Use Postcode finder");
			newAddressPanel.find('input,select,radio').prop('disabled', false);
			newPostcodePanel.find('input,select,radio').prop('disabled', true);
		}
		else {
			$("#"+blockID).html("Enter address manually");
			newAddressPanel.find('input,select,radio').prop('disabled', true);
			newPostcodePanel.find('input,select,radio').prop('disabled', false);
		}

		// Use Postcode finder
		// Enter address manually
		return false;
	}

	function poLookup(){
		var lookupBlock = '#current-postcode-lookup-block';
		var postcodeBlock = '#postcode-block';

		// When Lookup Postcode button is clicked, hide the postcode block and display the lookup block
		$(lookupBlock).toggleClass('js-hidden');
		$(postcodeBlock).toggleClass('js-hidden');
		$('#new-manual-toggle-link').toggleClass('js-hidden');

		// Disable fields in postcodeBlock to avoid validation error
		if ($(lookupBlock).hasClass('js-hidden')) {
			$(postcodeBlock).find('input,select,radio').prop('disabled',false);
			$(lookupBlock).find('input,select,radio').prop('disabled',true);
			$('#postcode').val('');
			document.getElementById('current-entered-po').innerHTML ='';
		}
		else {
			$(postcodeBlock).find('input,select,radio').prop('disabled',true);
			$(lookupBlock).find('input,select,radio').prop('disabled',false);

			// Add the entered postcode to the Postcode: line
			var po = ($('#postcode').val()).toUpperCase();
			var po1 = po.slice(0,(po.length-3));
			var po2 = po.slice((po.length-3),(po.length));
			document.getElementById('current-entered-po').innerHTML += (po1 + ' ' + po2);
		}
							
	}
</script>

{% endblock %}


