{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">

			<div class="breadcrumbs">
				<ol><li>Summary</li></ol>
			</div> <!-- Breadcrumb -->
			
			
			<form action="formDeclaration" method="post" class="form">


				<div class="form-group">
			    	<h3 class="form-label-bold" style="font-size:24px;">Confirm your details before continuing</h3>
			    </div>
			    <div class="form-group">

				    <table>
					    <tbody>
					    	<!-- Name -->
					    	<tr>
					    		<td>
					    			<h2 class="text-secondary">Name</h2>
					    			<div>John Smith</div>
					    		</td>
					    		<td class="editButton">
					    		
					    		</td>
					    	</tr>
					    	<!-- Date of Birth -->
					    	<tr>
					    		<td>
					    			<h2 class="text-secondary">Date of birth</h2>
					    			<div>01/01/1960</div>
					    		</td>
					    		<td class="editButton">

					    		</td>
					    	</tr>

					    	<!-- Gender -->
					    	<tr>
					    		<td>
					    			<h2 class="text-secondary">Gender</h2>
					    			<div>{{ formdata["radio-gender-group"] }}</div>
					    			
					    		</td>
					    		<td class="editButton">
					    		<a class="button button-secondary">Edit</a>
					    		</td>
					    	</tr>

					    	<!-- Add other names -->
					    	{% if formdata["other-family-name"] %}
					    	<tr>
					    		<td>
					    			<h2 class="text-secondary">Other name</h2>
					    			<div>{{ formdata["other-given-names"] }} {{ formdata["other-family-name"] }}</div>
					    			<h2 class="text-secondary">From</h2>
					    			<div>{{ formdata["other-name-from-month"] }}/{{ formdata["other-name-from-year"] }}</div>
					    			<h2 class="text-secondary">To</h2>
					    			<div>{{ formdata["other-name-to-month"] }}/{{ formdata["other-name-to-year"] }}</div>
					    		</td>
					    		<td class="editButton">
					    		<a class="button button-secondary">Edit</a>
					    		</td>
					    	</tr>
					    	{% endif %}

					    	<!-- Email address -->
					    	<tr>
					    		<td>
					    			<h2 class="text-secondary">Email address</h2>
					    			<div>{{ formdata["email-address"] }}</div>
					    			
					    		</td>
					    		<td class="editButton">
					    		<a class="button button-secondary">Edit</a>
					    		</td>
					    	</tr>

					    	<!-- Current address -->
					    	<tr>
					    		<td>
					    			<h2 class="text-secondary">Current address</h2>
					    			<div>
					    				1 Oxford Road<br>
										Bristol<br>
										South Gloucestershire<br>
										United Kingdom<br>
										LP1 12D
					    			</div>
					    			<h2 class="text-secondary">Since</h2>
					    			<div>{{ formdata["correct-address-since-month"] }}/{{ formdata["correct-address-since-year"] }}</div>
					    		</td>
					    		<td class="editButton">
					    		<a class="button button-secondary">Edit</a>
					    		</td>
					    	</tr>

					    	<!-- Other Addresses -->
					    	{% for i in range(1, formdata["other-addresses-total"]+1) %}
					    		{% if formdata["postcode-"+i] %}
						    		<tr>
							    		<td>
							    			<h2 class="text-secondary">Other address {{i}}</h2>
							    			<div>{{ formdata["postcode-"+i] }}</div>
							    			<h2 class="text-secondary">At address since</h2>
							    			<div>{{ formdata["cur-address-since-month-"+i] }}{{ formdata["nc-address-since-month-"+i] }}/{{ formdata["cur-address-since-year-"+i] }}{{ formdata["nc-address-since-year-"+i] }}</div>
							    			{% if formdata["nc-address-to-month-"+i] %}
							    				<h2 class="text-secondary">At address to</h2>
							    				<div>{{ formdata["nc-address-to-month-"+i] }}/{{ formdata["nc-address-to-year-"+i] }}</div>
							    			{% endif %}
							    		</td>
							    		<td class="editButton">
							    		<a class="button button-secondary">Edit</a>
							    		</td>
							    	</tr>

						    	{% elif formdata["address-line-1-"+i] %}
							    	<tr>
							    		<td>
							    			<h2 class="text-secondary">Other address {{i}}</h2>
							    			<div>{{ formdata["address-line-1-"+i] }}</div>
							    			<div>{{ formdata["address-line-2-"+i] }}</div>
							    			<div>{{ formdata["address-line-3-"+i] }}</div>
							    			<div>{{ formdata["address-town-city-"+i] }}</div>
							    			<div>{{ formdata["address-county-"+i] }}</div>
							    			<div>{{ formdata["address-country-"+i] }}</div>
							    			<div>{{ formdata["address-postcode-"+i] }}</div>
							    			<h2 class="text-secondary">At address since</h2>
							    			<div>{{ formdata["cur-address-since-month-"+i] }}{{ formdata["nc-address-since-month-"+i] }}/{{ formdata["cur-address-since-year-"+i] }}{{ formdata["nc-address-since-year-"+i] }}</div>
							    			{% if formdata["nc-address-to-month-"+i] %}
							    				<h2 class="text-secondary">At address to</h2>
							    				<div>{{ formdata["nc-address-to-month-"+i] }}/{{ formdata["nc-address-to-year-"+i] }}</div>
							    			{% endif %}
							    		</td>
							    		<td class="editButton">
							    		<a class="button button-secondary">Edit</a>
							    		</td>
							    	</tr>
					    		{% endif %}
					    	{% endfor %}

					    	<!-- Send address -->
					    	{% if formdata["send-postcode"] or formdata["send-address-line-1"] %}
							    <tr>
							    	<td>
							    		<h2 class="text-secondary">Send certificate to</h2>
							    		<div>{{ formdata["send-postcode"] }}</div>
							    		<div>{{ formdata["send-recipient"] }}</div>
							    		<div>{{ formdata["send-address-line-1"] }}</div>
							    		<div>{{ formdata["send-address-line-2"] }}</div>
							    		<div>{{ formdata["send-address-line-3"] }}</div>
							    		<div>{{ formdata["send-address-town-city"] }}</div>
							    		<div>{{ formdata["send-address-county"] }}</div>
							    		<div>{{ formdata["send-address-country"] }}</div>
							    		<div>{{ formdata["send-address-postcode"] }}</div>
							    	</td>
							    	<td class="editButton">
							    		<a class="button button-secondary">Edit</a>
							    	</td>
							    </tr>

							{% else %}
								<tr>
							    	<td>
							    		<h2 class="text-secondary">Send certificate to</h2>
							    		<div>Send to my current address</div>
							    	</td>
							    	<td class="editButton">
							    		<a class="button button-secondary">Edit</a>
							    	</td>
							    </tr>
					    	{% endif %}


					    	<!-- National Insurance number -->
					    	{% if formdata["ni-number-input"] %}
					    	<tr>
					    		<td>
					    			<h2 class="text-secondary">National Insurance number</h2>
					    			<div>{{ formdata["ni-number-input"] }}</div>
					    			
					    		</td>
					    		<td class="editButton">
					    		<a class="button button-secondary">Edit</a>
					    		</td>
					    	</tr>
					    	{% endif %}

					    	<!-- Driving licence number -->
					    	{% if formdata["driving-licence-number-input"] %}
					    	<tr>
					    		<td>
					    			<h2 class="text-secondary">Driving licence number</h2>
					    			<div>{{ formdata["driving-licence-number-input"] }}</div>
					    			
					    		</td>
					    		<td class="editButton">
					    		<a class="button button-secondary">Edit</a>
					    		</td>
					    	</tr>
					    	{% endif %}

					    	<!-- Passport details -->
					    	{% if formdata["passport-number-input"] %}
					    	<tr>
					    		<td>
					    			<h2 class="text-secondary">Passport number</h2>
					    			<div>{{ formdata["passport-number-input"] }}</div>
					    			<h2 class="text-secondary">Country of issue</h2>
					    			<div>{{ formdata["passport-country"] }}</div>
					    		</td>
					    		<td class="editButton">
					    		<a class="button button-secondary">Edit</a>
					    		</td>
					    	</tr>
					    	{% endif %}


					    </tbody>
				    </table>

			    </div> <!-- Form group close-->

			    <div class="form-group">
					<ul class="list-bullet" style="color:Red;">
						<li>Display all addresses</li>
						<li>Do we show empty non-mandatory fields to encourage user to enter data?</li>
					</ul>
				</div>

			    <!-- Confirm button -->
			    <div class="form-group">
			    	<input type="submit" class="button" value="Confirm">
				</div> <!-- Form group close-->

			</form>
		</div>
	</div>



</main>

{% endblock %}


