{% extends "layout.html" %} {% block page_title %} DS Prototype {% endblock %} {% set main_question = "Have you ever been
known by any other names?" %} {% block content %}

<main id="content" role="main">
	{% include 'includes/phase_banner_alpha.html' %}
	<a href="javascript: window.history.go(-1)" class="link-back">Back</a>
	<div class="grid-row">
		<div class="column-two-thirds reduceMargin">

			<div
				id="error-select-another-name"
				class="error-summary validation-error js-hidden"
				role="group"
				aria-labelledby="error-summary-heading"
				tabindex="-1"
			>
				<h2 class="heading-medium error-summary-heading" id="error-summary-heading">
					There is a problem
				</h2>

				<ul class="error-summary-list">
					<li><a href="#radio-group-names-av">Select 'Add another name' to enter your other names</a></li>
				</ul>
			</div>

			<div
					id="error-select-yes-no"
					class="error-summary validation-error js-hidden"
					role="group"
					aria-labelledby="error-summary-heading"
					tabindex="-1"
			>
				<h2 class="heading-medium error-summary-heading" id="error-summary-heading">
					There is a problem
				</h2>

				<ul class="error-summary-list">
					<li><a href="#radio-group-names-av">Select yes or no</a></li>
				</ul>
			</div>

			<h1 class="heading-medium page-heading">Have you ever been known by any other names?</h1>

			<form action="{{ 'formPlaceBirth' if licenceSelected else 'formGender' }}" method="post" class="form">
				{% if not names %}
				<div class="form-group ">
					<fieldset class=" inline ">
						<legend id="radio-group-names-av">
							<span class="visually-hidden">Have you ever been known by any other names?</span>
						</legend>

						<label class="block-label selection-button-radio" for="radio-option-yes" data-target="name-options" id="for-radio-option-yes">
							<input type="radio" id="radio-option-yes" name="radio-group-names-av" value="Yes" aria-controls="name-options" aria-expanded="false">
							Yes
						</label>

						<label class="block-label selection-button-radio" for="radio-option-no" data-target="" id="for-radio-option-no">
							<input type="radio" id="radio-option-no" name="radio-group-names-av" value="No">
							No
						</label>
					</fieldset>
				</div>
				{% endif %}

				<p
					{% if not names %}
						class="js-hidden"
					{% endif %}
					id="name-options"
					aria-hidden="true"
				>
					<a href="formAddName">Add another name</a>
				</p>

				<div class="form-group">
					<p>You must tell us about all other names you’ve used, including middle names.</p>
					<p>For example, you may have changed your name through marriage or deed poll.</p>

					<details role="group">
						<summary class="help-text-link" role="button" aria-controls="details-content-0" aria-expanded="true"><span class="summary">Which names should I include?</span></summary>
						<div class="panel panel-border-narrow" data-dbs-id="help-text-text" id="details-content-0" aria-hidden="false">
							<p>You must include all names that are on your official documents, for example your driving licence or passport.</p>

							<p>We need these names so we can check your application against our records.</p>
						</div>
					</details>

					<table>
						<thead>
						<tr>
							<th scope="col">Name</th>
							<th scope="col">Dates you used this name</th>
							<th scope="col"></th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>
								<p>
									{{ mainName['first-name'] }}
									{{ mainName['middle-names'] }}
									{{ mainName['last-name'] }}
								</p>
							</td>
							<td>
								<p>
									Current name
								</p>
							</td>
							<td>
								{% if names %}
								<a href="{{ 'formIdentityDriving' if licenceSelected else 'formEnterName' }}?from=names">Edit <span class="visually-hidden">Name</span></a>
								{% endif %}
							</td>
						</tr>

						{% for name in names %}
						<tr>
							<td>
								<p>
									{{ name['first-name-input'] }}
									{{ name['middle-names-input'] }}
									{{ name['last-name-input'] }}
								</p>
							</td>
							<td>
								<p>
									{{ name.from }} to {{ name.to }}
								</p>
							</td>
							<td>
								<a
									href="formAddName/{{ loop.index - 1 }}">Edit <span class="visually-hidden">Name</span></a><br/>
								<a
									href="deleteName/{{ loop.index - 1 }}">Delete <span class="visually-hidden">Name</span></a>
							</td>
						</tr>
						{% endfor %}

						</tbody>
					</table>
				</div>

				<input type="hidden" name="_csrf" value="waxUstEO-rMdk42ao6vNNUpm0svwvsapPQ5w">

				<div class="form-group">
					<input type="submit" class="button" id="save-and-continue" value="Continue">
				</div>
			</form>
		</div>
	</div>
</main>

<!-- scripts for page validation -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/parsley.min.js"></script>
<script src="/public/javascripts/form-utilities.js"></script>

<script type="text/javascript">
	$('form').submit(function (e) {
	  $('.error-summary').addClass('js-hidden');

      if ($('#radio-option-yes').length) {
        if ($('#radio-option-yes').prop('checked')) {
          $('#error-select-another-name').removeClass('js-hidden');
          e.preventDefault();
        } else if (!$('#radio-option-no').prop('checked')) {
          $('#error-select-yes-no').removeClass('js-hidden');
          e.preventDefault();
        }
      }
	});
</script> {% endblock %}