{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include 'includes/phase_banner_alpha.html' %}
  <div class="grid-row">
  	<div class="column-two-thirds">

        {% include 'includes/error_summary.html' %}{# include if this page has validation requirements #}

    	<h1 class="heading-large">Verifying your identity</h1>

        <p>Before getting a criminal record check you need to verify your identity.<P>
            
        <p>You can do this online now using the government identity checking service, GOV.UK Verify.<p> 
            
        <p>If you haven’t used GOV.UK Verify before, it takes about 15 minutes.</p>

        <p>We will use the name, date of birth and address provided by GOV.UK Verify in your application. 
    </div>
     
                </div>
                <a class="button button-start" href="https://govuk-verify.herokuapp.com/intro?requestId=dbs-basic-application">Continue to GOV.UK Verify</a>
                <input type="submit" class="button button-start js-hidden" style="margin-bottom: 15px;" value="GOV.UK Verify">


                <h2 class="heading-medium">If you cannot verify your identity online</h2>

                <p>If you cannot verify your identity online you'll need to go to Post Office, after completing your application.<p> 
                
                <p>This will delay your application.</p>
                <p><a href="exceptionRouteStart.html">Continue without verifying your identity online</a></p>
            </div>
        </div>

        <div>


            <div class="">
                <a href="https://govuk-verify.herokuapp.com/intro?requestId=dbs-basic-application&verify=false">TEST fail verify</a><br>
                <a href="formFirstPage.html">TEST skip Verify</a>
            </div>

        </div>
    </form>


  </div>
</main>

<!-- scripts for page validation -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/parsley.min.js"></script>
<script src="/public/javascripts/form-utilities.js"></script>

<script type="text/javascript">
    var parsleyForm;
    var thisFormInstance = $( "form:first-of-type" ); // assuming we're validating first form on this page

    // attach parsley validation to the form
    parsleyForm = thisFormInstance.parsley({
        excluded: 'input[type=button], input[type=submit], input[type=reset]',
        focus:"none"
    });

    // before form is validated, catch the event and do custom validation if needed
      thisFormInstance.parsley().on('form:validate', function(formInstance) {

        var ok = true;
        // add custom validations here - set ok to false if any of them fail validation

        //ok = ok && checkDiagnosisFutureDate();
        //ok = ok && validateDOB();

        if (!ok) {
          formInstance.validationResult = false;
        } else {
          formInstance.validationResult = true;
        }
      });

      // what to do when form doesn't validate
      thisFormInstance.parsley().on('form:error', function(formInstance) {
        //console.log('form error');

        // construct error display
        GOVUK.formUtilities.showErrorSummary();
      });

      // what to do when form validates successfully
      thisFormInstance.parsley().on('form:submit', function(formInstance) {
        //console.log('form success');
        GOVUK.formUtilities.hideErrorSummary();

        // allow the form to submit
        return true;
      });


      function toggleHelp() {
            // When the extra help link is clicked it will display help block
            if($('#helpArrow').hasClass('arrow-closed')) {
                $('#helpArrow').removeClass('arrow-closed');
                $('#helpArrow').html("▼");
                $('#helpBlockText').removeClass('js-hidden');
            }
            else {
                $('#helpArrow').addClass('arrow-closed');
                $('#helpArrow').html("►");
                $('#helpBlockText').addClass('js-hidden');
            }

        }


</script>


{% endblock %}
