{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}
{% set main_question = "Do you have a National Insurance number?" %}
{% block content %}

<main id="content" role="main">
  {% include 'includes/phase_banner_alpha.html' %}
  <a href="javascript: window.history.go(-1)" class="link-back">Back</a>
	<div class="grid-row">
		<div class="column-two-thirds reduceMargin">
			<form action="{{ 'formAddNames' if licenceSelected else 'formEnterName' }}" method="post" class="form">
				<fieldset>
					<legend>
						<h1 class="heading-medium page-heading">Do you have a National Insurance number?</h1>
					</legend>
					<div class="form-group ">
						<fieldset class="">
							<legend id="radio-group-ni-av">
								<p>If you can&#39;t provide a National Insurance number you can still carry on with your application, but it might take us longer to process your check.</p>
							</legend>

							<label
									class="block-label selection-button-radio {% if from === 'summary' %}selected{% endif %}"
									for="radio-option-yes"
									data-target="ni-number"
									id="for-radio-option-yes"
							>
								<input
										type="radio"
										id="radio-option-yes"
										name="radio-group-ni-av"
										value="Yes"
										{% if from === 'summary' %}selected="selected"{% endif %}
								/>
								Yes
							</label>

							<label
									class="block-label selection-button-radio"
									for="radio-option-no"
									data-target=""
									id="for-radio-option-no"
							>
								<input
										type="radio"
										id="radio-option-no"
										name="radio-group-ni-av"
										value="No"

								/>
								No / I cannot provide the details right now
							</label>
						</fieldset>

						<div class="panel panel-border-narrow {% if from !== 'summary' %}js-hidden{% endif %}" id="ni-number">
							<div class="form-group ">

								<label class="form-label" for="ni-number-input">
									National Insurance number
									<span class="form-hint">For example, QQ123456C.</span>
								</label>

								<input
										class="form-control input-pp"
										name="ni-number-input"
										type="text"
										id="ni-number-input"
										{% if from === 'summary' %}value="RF235498K"{% endif %}
								>

							</div>
						</div>
					</div>
				</fieldset>

				<div class="form-group">
					<details>
						<summary class="help-text-link"><span class="summary">I don&#39;t know my National Insurance number</span></summary>
						<div class="panel panel-border-narrow" data-dbs-id="help-text-text">
							<p>
								You can find your National Insurance number on your payslip or letters about tax, pensions or benefits.
							</p>
						</div>
					</details>
				</div>

				<input type="hidden" name="_csrf" value="fuNDtPFb-le0nvo0kl22a_GJ7OCnOBdq58TM" />

				<div class="form-group">
					<input type="submit" class="button" id="save-and-continue" value="Continue">
				</div>
			</form>
		</div>
	</div>
</main>

<!-- scripts for page validation -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/parsley.min.js"></script>
<script src="/public/javascripts/form-utilities.js"></script>

{% endblock %}
