{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
  	<div class="column-two-thirds">
    	<h1 class="heading-large">Apply for a basic criminal record check</h1>
    </div>
    <div class="column-two-thirds">
    	<h2 class="heading-medium">New applicants</h2>
    	<p>What is this info to go here and you need to be 16 years old to be eligble.</p>

    	<h2 class="heading-medium">Before you start</h2>
    	<p>You will need a <a href="#">Verify</a> account.</p>
    	<p>The online service is also available in <a href="#">Welsh</a></p>

    	<h2 class="heading-medium">What you need to get started</h2>
    	<p>A list of documents you need to get started with Verify and a list of documents you need for the basic check.<br>
		It usually takes about 15 minutes.</p>
		You may need the following, if you have them:
		<ul class="list-bullet">
			<li>your National Insurance number</li>
			<li>5 year address history</li>
			<li>a valid Passport</li>
			<li>a UK driving licence</li>
		</ul>
		<p>If you don't have the documents you will not be able to complete the application form.</p>

    	<h2 class="heading-medium">Cost</h2>
    	<p>The cost is £16 and some more copy here if you need more assistance</p>

    	<h2 class="heading-medium">Sensitive application guidance</h2>
    	<p>Some content here around transgender and what your options are Some content here around transgender and what your options are Some content here around transgender and what your options are Some content here around transgender and what your options are</p>
    	<br>

    	<a class="button button-start" href="verifyPages.html" role="button">Start now</a>

    </div>

    <div class="column-third">
    	<h3 class="heading-medium">Which DBS check is right for me?</h3>
    	<p><a href="#">Standard check</a></p>
	    <p><a href="#">Enhanced check</a></p>
	    <p><a href="#">Use eligibility tool</a></p>

	    <h3 class="heading-medium">Elsewhere on GOV.UK</h3>
    	<p><a href="#">Verify</a></p>

    </div>

  </div>
</main>

{% endblock %}


