

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}


{% block body_end %}
  {% include "includes/scripts.html" %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}


{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
    	   <h1 class="heading-large" style="color: red;">DRAFT Basic Prototype</h1>
        </div>

        <p>This is a DRAFT prototype for DBS Basic disclosure application</p>
        <p>The code is accessible on <a href="https://github.com/petecraven91/dbsbasicprototype" target="_blank">GitHub</a></p>

        <table>
            <tr>
                <th>Version</th>
                <th>Date</th>
                <th>Release notes</th>
                <th>Editor</th>
            </tr>
            <tbody>
                <tr>
                    <td>0.1</td>
                    <td>13/09/16</td>
                    <td>Initial build of prototype</td>
                    <td>Pete Craven</td>
                </tr>
                <tr>
                    <td>0.11</td>
                    <td>13/09/16</td>
                    <td>Content updates. JS fix.</td>
                    <td>Pete Craven</td>
                </tr>
                <tr>
                    <td>0.2</td>
                    <td>16/09/16</td>
                    <td>Integrated Verify screens. Test link for failing Verify below Start button.</td>
                    <td>Pete Craven</td>
                </tr>
                <tr>
                    <td>0.3</td>
                    <td>20/09/16</td>
                    <td>Passing data between pages now works.</td>
                    <td>Paul Coupe</td>
                </tr>
                <tr>
                    <td>0.31-0.33</td>
                    <td>20/09/16</td>
                    <td>Slight changes to pages based on feedback. Updated summary page to show real data. Can now add addresses manually instead of postcode finder.</td>
                    <td>Pete Craven</td>
                </tr>
                <tr>
                    <td>0.34-0.37</td>
                    <td>21/09/16</td>
                    <td>Implemented a validation framework. Validation complete.</td>
                    <td>Paul Coupe</td>
                </tr>
                <tr>
                    <td>0.38</td>
                    <td>26/09/16</td>
                    <td>Content updates.</td>
                    <td>Clare Lenton / Pete Craven</td>
                </tr>
                <tr>
                    <td>0.39</td>
                    <td>27/09/16</td>
                    <td>Gov.UK Pay integrated.</td>
                    <td>Pete Craven</td>
                </tr>
                <tr>
                    <td>0.40-0.41</td>
                    <td>28/09/16</td>
                    <td>User testing updates. Delete added to other addresses. Implemented dummy Postcode Lookup.</td>
                    <td>Pete Craven</td>
                </tr>
                <tr>
                    <td>0.42</td>
                    <td>30/09/16</td>
                    <td>Yes/No added to Other addresses. Add more names added to other names page.</td>
                    <td>Pete Craven</td>
                </tr>
                <tr>
                    <td>0.43</td>
                    <td>04/10/16</td>
                    <td>Updated Summary. Added 5 year address history validation.</td>
                    <td>Pete Craven</td>
                </tr>
                <tr>
                    <td>0.44</td>
                    <td>04/10/16</td>
                    <td>Added 5 year address history gap validation.</td>
                    <td>Pete Craven</td>
                </tr>
                <tr>
                    <td>0.45-0.49</td>
                    <td>04/10/16</td>
                    <td>Updated Declaration page. Added place of birth page. Content updates. Added in Help dropdown link for additional help text. Changed other addresses. Changed based on user feedback. Ready for further testing.</td>
                    <td>Clare Lenton / Pete Craven</td>
                </tr>
                <tr>
                    <td>0.50-0.51</td>
                    <td>03/11/16</td>
                    <td>Styling fixes and ALPHA added. Input validation and styling added. Cleave.js now used.</td>
                    <td>Pete Craven / Sophie Ottaway</td>
                </tr>
                <tr>
                    <td>0.52</td>
                    <td>11/11/16</td>
                    <td>Removed the unspent convictions question. Removed confirm email address.</td>
                    <td>Pete Craven</td>
                </tr>
                <tr>
                    <td>0.53-0.55</td>
                    <td>14/11/16</td>
                    <td>Added back button to all screens. Finished the Address History redesign. Minor changes to Address History. Print page link added to complete page.</td>
                    <td>Sophie Ottaway / Pete Craven</td>
                </tr>
                <tr>
                    <td>0.56-0.57</td>
                    <td>21/12/16</td>
                    <td>Removed Month from addresses. Added Currently Use to other names. Added contact number page. Added country of issue to passport. Removed unused pages from file structure.</td>
                    <td>Pete Craven</td>
                </tr>
                <tr>
                    <td>0.58</td>
                    <td>18/01/17</td>
                    <td>Removed validation to make demonstrating easier.</td>
                    <td>Pete Craven</td>
                </tr>
                <tr>
                    <td>0.6</td>
                    <td>07/04/17</td>
                    <td>Post Office Exception route work added. Documents pages, routing, demo enter details page.</td>
                    <td>Pete Craven</td>
                </tr>
            </tbody>
        </table>
        <br><br>
        <a class="button button-start" href="verifyPages.html" role="button">Start now</a>

    </div>

</main>

{% endblock %}
