

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}


{% block body_end %}
  {% include "includes/scripts.html" %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}


{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
    	   <h1 class="heading-large" style="color: red;">DRAFT Basic Prototype</h1>
        </div>
        <div class="column-two-thirds">

            <p>This is a DRAFT prototype for DBS Basic disclosure application</p>
            <p>The code is accessible on <a href="https://github.com/petecraven91/dbsbasicprototype" target="_blank">GitHub</a></p>

            <table>
                <tr>
                    <th>Version</th>
                    <th>Date</th>
                    <th>Release notes</th>
                    <th>Editor</th>
                </tr>
                <tbody>
                    <tr>
                        <td>0.1</td>
                        <td>13/09/16</td>
                        <td>Initial build of prototype</td>
                        <td>Pete Craven</td>
                    </tr>
                    <tr>
                        <td>0.11</td>
                        <td>13/09/16</td>
                        <td>Content updates. JS fix.</td>
                        <td>Pete Craven</td>
                    </tr>
                    <tr>
                        <td>0.12</td>
                        <td>14/09/16</td>
                        <td>Added red text questions for business. Created Verfiy success and fail DBS pages</td>
                        <td>Pete Craven</td>
                    </tr>
                    <tr>
                        <td>0.2</td>
                        <td>16/09/16</td>
                        <td>Integrated Verify screens. Test link for failing Verify below Start button.</td>
                        <td>Pete Craven</td>
                    </tr>
                    <tr>
                        <td>0.3</td>
                        <td>20/09/16</td>
                        <td>Passing data between pages now works.</td>
                        <td>Paul Coupe</td>
                    </tr>
                    <tr>
                        <td>0.31</td>
                        <td>20/09/16</td>
                        <td>Slight changes to pages based on feedback.</td>
                        <td>Pete Craven</td>
                    </tr>
                    <tr>
                        <td>0.32</td>
                        <td>20/09/16</td>
                        <td>Updated summary page to show real data.</td>
                        <td>Pete Craven</td>
                    </tr>
                    <tr>
                        <td>0.33</td>
                        <td>21/09/16</td>
                        <td>Can now add addresses manually instead of postcode finder.</td>
                        <td>Pete Craven</td>
                    </tr>
                    <tr>
                        <td>0.34</td>
                        <td>21/09/16</td>
                        <td>Implemented a validation framework.</td>
                        <td>Paul Coupe</td>
                    </tr>
                    <tr>
                        <td>0.35</td>
                        <td>21/09/16</td>
                        <td>Extended vaidation to other pages.</td>
                        <td>Pete Craven</td>
                    </tr>
                    <tr>
                        <td>0.36</td>
                        <td>22/09/16</td>
                        <td>Further validation, conditional validation added to some pages.</td>
                        <td>Pete Craven</td>
                    </tr>
                    <tr>
                        <td>0.37</td>
                        <td>23/09/16</td>
                        <td>Validation complete.</td>
                        <td>Pete Craven</td>
                    </tr>
                    <tr>
                        <td>0.38</td>
                        <td>26/09/16</td>
                        <td>Content updates.</td>
                        <td>Clare Lenton / Pete Craven</td>
                    </tr>
                </tbody>
            </table>
            <br><br>
            <a class="button button-start" href="formGovStart.html" role="button">Start now</a>

        </div>

    </div>

</main>

{% endblock %}


