

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}


{% block body_end %}
  {% include "includes/scripts.html" %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}


{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
    	   <h1 class="heading-large" style="color: red;">DRAFT Basic Prototype</h1>
        </div>
        <div class="column-two-thirds">

            <p>This is a DRAFT prototype for DBS Basic disclosure application</p>
            <p>The code is accessible on <a href="https://github.com/petecraven91/dbsbasicprototype" target="_blank">GitHub</a></p>

            <table>
                <tr>
                    <th>Version</th>
                    <th>Date</th>
                    <th>Release notes</th>
                    <th>Editor</th>
                </tr>
                <tbody>
                    <tr>
                        <td>0.1</td>
                        <td>13/09/16</td>
                        <td>Initial build of prototype</td>
                        <td>Pete Craven</td>
                    </tr>
                    <tr>
                        <td>0.11</td>
                        <td>13/09/16</td>
                        <td>Content updates. JS fix.</td>
                        <td>Pete Craven</td>
                    </tr>
                    <tr>
                        <td>0.12</td>
                        <td>14/09/16</td>
                        <td>Added red text questions for business. Created Verfiy success and fail DBS pages</td>
                        <td>Pete Craven</td>
                    </tr>
                </tbody>
            </table>
            <br><br>
            <a class="button button-start" href="formGovStart.html" role="button">Start now</a>

        </div>

    </div>

</main>

{% endblock %}


