{% extends "layout.html" %}

{% block page_title %}
DBS Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds reduceMargin">
      <h1 class="heading-medium page-heading">Where do you want to go today?</h1>

      <p>
        <a class="button button-start" href="exceptionChosenDocs?notification=separate" role="button">
          Application with separate notification pages
        </a>
      </p>

      <p>
        <a class="button button-start" href="exceptionChosenDocs?notification=combined" role="button">
          Application with combined notification pages
        </a>
      </p>

      <ul class="list-bullet">
        <li>
          <h3 class="heading-small">Contact number pages</h3>
          <ul class="list-bullet">
            <li><a href="formContactNumber">Contact number</a></li>
            <li><a href="formContactNumberText">Text number</a></li>
            <li><a href="formContactNumberCombined">Combined contact page</a></li>
            <li><a href="formContactNumberCombinedNoInput">Combined contact page with no text input</a></li>
            <li><a href="formContactNumberCombinedTickbox">Combined contact page with tickbox</a></li>
          </ul>
        </li>

        <li>
          <h3 class="heading-small">Email notification pages</h3>
          <ul class="list-bullet">
            <li><a href="formEmail">Email address</a></li>
            <li><a href="formEmailResult">Results by email</a></li>
            <li><a href="formEmailCombined">Combined email page</a></li>
            <li><a href="formEmailCombinedTickbox">Combined email page with tickbox</a></li>
          </ul>
        </li>

        <li>
          <h3 class="heading-small">Verify application tracker</h3>
          <ul class="list-bullet">
            <li><a href="/tracking/view?step=1">Step 1</a></li>
            <li><a href="/tracking/view?step=2">Step 2</a></li>
            <li><a href="/tracking/view?step=3">Step 3</a></li>
            <li><a href="/tracking/view?step=4">Step 4</a></li>
          </ul>
        </li>

        <li>
          <h3 class="heading-small">Post office application tracker</h3>
          <ul class="list-bullet">
            <li><a href="/tracking/view-po?step=1">Step 1</a></li>
            <li><a href="/tracking/view-po?step=2">Step 2</a></li>
            <li><a href="/tracking/view-po?step=2&refunded=1">Step 2 refunded</a></li>
            <li><a href="/tracking/view-po?step=3">Step 3</a></li>
            <li><a href="/tracking/view-po?step=4">Step 4</a></li>
            <li><a href="/tracking/view-po?step=5">Step 5</a></li>
            <li><a href="/tracking/view-po?step=6">Step 6</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</main>
{% endblock %}


