{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <form id="singlePageForm" action="help" method="post">
        <h1 class="form-title heading-large visuallyhidden">New Basic Disclosure applications</h1>

        <section style="display: block;">
        <header class="page-header-sub">
          <span class="section-number">Section 1 of 7</span>
        </header>



      	<fieldset>
      		<label class="form-label" for="email-address">Email address</label>
      		<input class="form-control" id="email-address" name="email-address" type="text">
      	</fieldset>
	  	<input class="button" type="submit" href="help" value="Continue">



        </section>
	  </form>




    </div>
  </div>
</main>

{% endblock %}


