{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}
{% set main_question = "Payment screens placeholder" %}
{% block content %}

<main id="content" role="main">
  {% include 'includes/phase_banner_alpha.html' %}
  <a href="javascript: window.history.go(-1)" class="link-back">Back</a>
	<div class="grid-row">
		<div class="column-two-thirds reduceMargin">

			{% include 'includes/error_summary.html' %}{# include if this page has validation requirements #}
            <h1 class="heading-medium">{{ main_question }}</h1>
			<form action="formComplete" method="post" class="form">
			    <p>This is where it would redirect to GOV.UK Pay</p>
                <p>Not shown here as we don't have control to change the Pay prototype screens or where they redirect</p>
                <p>THIS IS A PLACEHOLDER WHICH WILL NOT EXIST IN PRODUCTION</p>

								<!--<a href="exceptionDocsPrint.hmtl">THIS GOES TO THE EXCEPTION ROUTE COMPLETE PAGE</a>-->

                <div class="form-group">
                    <input type="submit" class="button" value="Continue">
                </div> <!-- Form group close-->
			</form>
		</div>
	</div>



</main>

<!-- scripts for page validation -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/parsley.min.js"></script>
<script src="/public/javascripts/form-utilities.js"></script>

{% endblock %}
