{% extends "layout.html" %}

{% block page_title %}
DBS Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include 'includes/phase_banner_alpha.html' %}

    <div class="grid-row">
        <div class="column-two-thirds">








            <header class="page-header group">
                <h1 id="product_title" class="heading-large">Privacy policy</h1>
            </header>

            <p>
                This privacy policy relates to the online application service for a basic DBS check run by the Disclosure and Barring Service (DBS) and explains how the DBS processes, holds and protects your information when you're applying online for a basic DBS check, before you submit your application.
            </p>


            <h2 class="heading-small">Your personal information</h2>


            <p>When you're applying for a basic DBS check you'll be asked for a range of information including: your name, date of birth, address, driving licence and passport details.</p>

            <p>Information you enter online will be temporarily and securely held for up to 17 days in line with our <a href="/cookies">cookie
                policy</a> while you continue to complete your application. This information won't be stored online after you have submitted your application.</p>


            <h2 class="heading-small">Protecting your information</h2>


            <p>The DBS will protect you data rights in line with the <a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/" rel="nofollow">General Data Protection Regulation (GDPR)</a>:</p>

            <ul class="list-bullet">
                <li>keep your information safe and secure</li>
                <li>only ask for what is needed</li>
                <li>only keep your information for as long as it's needed</li>
            </ul>
            <p>Your information won't be made available for commercial use without your permission.</p>


            <h2 class="heading-small">Your individual rights</h2>


            <p>You can read about your individual rights under the General Data Protection Regulation (GDPR).</p>


            <h2 class="heading-small">Withdrawing your application</h2>


            <p>You can withdraw your application at any point until your certificate is printed. If you withdraw your application, the DBS will delete the personal information you provided.</p>


            <h2 class="heading-small">Identity validation</h2>


            <p>The online identity validation service is provided by GOV.UK Verify. In line with Verify's
                <a href="https://www.signin.service.gov.uk/privacy-notice" rel="nofollow"> privacy policy</a>, DBS does not collect
                or store the information you provide. However, we will use your name, date of birth and address provided by Verify as part of
                your application.
            </p>

            <p>If you use the DBS ID validation service at the Post Office we will store your application data for 17 days.
                After this time, your details will be deleted. If investigation is required, your data will be held until completion of an investigation and then deleted.
            </p>


            <h2 class="heading-small">Payment details</h2>


            <p>The payment part of this service is provided by GOV.UK Pay in line with their <a href="https://www.gov.uk/help/privacy-policy" rel="nofollow">privacy policy</a>. DBS does not collect or store any of your financial information.
            </p>


            <h2 class="heading-small">Email notifications</h2>


            <p>We will use the email address you provide in your application to let you know:</p>

            <ul class="list-bullet">
                <li>when your application has been accepted</li>
                <li>when your certificate has been issued</li>
                <li>the result of your check if it does not contain information  </li>
            </ul>

            <p>This service is provided by GOV.UK Notify in line with their <a href="https://www.notifications.service.gov.uk/features/security" rel="nofollow">security policy</a>. DBS does not collect or store any of these emails.</p>


            <h2 class="heading-small">When you've submitted your application</h2>


            <p>You can read the <a href="https://www.gov.uk/government/publications/dbs-privacy-policy" rel="nofollow"> Disclosure and Barring Service privacy policy</a> to find out how the DBS
                processes, stores and protects your information after you've submitted an application.
            </p>


            <h2 class="heading-small">Staff and systems</h2>


            <p>All our staff, suppliers and contractors are security vetted by the Home Office security unit. All staff are data
                protection trained and are aware of their responsibilities.
            </p>

            <p>We carry out regular compliance checks to the standard set out by the Information Commissioner's Office (ICO) and
                make continual security checks on our IT systems.
            </p>


            <h2 class="heading-small">Additional feedback</h2>


            <p>We welcome your views on this service and invite feedback through links on the website to our feedback form.</p>

            <p>We will use what you tell us to improve this and related services. If you leave your email address on the feedback form, the DBS will only contact you about your feedback.</p>

            <p>We will only retain the data you enter on the feedback form, including your email address, for 12 months. After this, any information you provided will be deleted.</p>


            <h2 class="heading-small">Site usage</h2>


            <p>Apart from the data you enter we also collect anonymous site usage information. This helps us to see how the
                service is used and how we can make it better.
            </p>

            <p>The DBS complies with the requirements of the General Data Protection Regulation and is responsible for when and how your personal information is collected and used.</p>


            <h2 class="heading-small">How to complain</h2>


            <p>If you're unhappy with the way the DBS handles your personal data, you can email <a href="mailto:dbscomplaints@dbs.gsi.gov.uk" rel="nofollow">dbscomplaints@dbs.gsi.gov.uk</a>.</p>

            <p>You'll receive confirmation that your complaint has been acknowledged within 3 working days. We'll aim to provide
                you with a satisfactory response within
                10 working days.</p>

            <p>If you're unhappy with the answer you receive, or need any advice about the use of your personal data, you can also
                contact the <a href="https://ico.org.uk/concerns/handling/" rel="nofollow">ICO</a>.</p>


            <h2 class="heading-small">Last updated</h2>

            <p>This privacy policy was published 24 May 2018.</p>


        </div>
    </div>
</main>

<!-- scripts for page validation -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/parsley.min.js"></script>
<script src="/public/javascripts/form-utilities.js"></script>

{% endblock %}
