{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
  	<div class="column-two-thirds">
    	<h1 class="heading-large">VERIFY PLACEHOLDER</h1>
    </div>
    <div class="column-two-thirds">

      <div class="class-form">
    	  <a class="button button-start" href="formGovStart.html" role="button">Pass Verify - New User</a>
        <br>
        <br>
      </div>
      <div class="class-form">
    	  <a class="button button-start" href="formGovStart.html" role="button">Pass Verify - Previous User</a>
        <br>
        <br>
      </div>
      <div class="class-form">
    	  <a class="button button-start" href="exceptionRouteStart.html" role="button">Fail Verify - Exception Route</a>
        <br>
        <br>
      </div>

    </div>

   

  </div>
</main>

{% endblock %}


