{% extends "layout.html" %}

{% block page_title %}
  DBS Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
  	<div class="column-two-thirds">
    	<h1 class="heading-large">VERIFY PLACEHOLDER</h1>
    </div>
    <div class="column-two-thirds">


    	<a class="button button-start" href="formVerifyPass.html" role="button">Pass Verify</a>
    	<a class="button button-start" href="formVerifyFail.html" role="button">Fail Verify</a>

    </div>

   

  </div>
</main>

{% endblock %}


